<template>
  <div class="wrapper">
    <topbar fixed>
      <mu-button icon slot="left" @click="goSource">
        <mu-icon value="chevron_left"></mu-icon>
      </mu-button>
      <div slot="center">户型详情</div>
    </topbar>
    <my-image block full-width :height="200" type="sharp" :src="room.picture"></my-image>
    <div class="intro">
      <div class="name">{{ room.name }}</div>
      <div class="price"><em>{{ room.price }}</em>元/月</div>
      <span>{{ room.size }}m<sup>2</sup></span>
      <span>{{ room.type }}</span>
    </div>
    <whitespace padding="15px" v-if="room.desc !== ''">
      <div class="whitespace-title">户型亮点</div>
      <div class="room-desc">{{ room.desc }}</div>
    </whitespace>
    <whitespace padding="15px">
      <div class="whitespace-title">配套设施</div>
      <ul class="furniture-list">
        <li class="furniture" v-for="furniture in furnitureList" :key="furniture.name">
          <img :src="furniture.icon">
          <span>{{ furniture.name }}</span>
        </li>
      </ul>
    </whitespace>
    <whitespace padding="15px" v-show="room.source.id">
      <div class="whitespace-title">房源</div>
      <div class="source-name">{{ room.source.name }}</div>
      <div class="source-location">
        <mu-icon value="location_on" size="18"></mu-icon>
        <span>{{ room.source.location }}</span>
      </div>
      <div class="source-go">
        <mu-ripple @click="goSource">查看门店</mu-ripple>
      </div>
      <div class="map" ref="map"></div>
    </whitespace>
    <whitespace padding="15px">
      <div class="whitespace-title">门店其他户型</div>
      <rowlist :data="roomTypeList" simple @clickitem="goRoom" @clickmore="goMore"></rowlist>
    </whitespace>
    <div class="footer">
      <div class="footer-box footer-shrink">
        <mu-ripple @click="like = !like">
          <div class="footer-container">
            <mu-icon size="20"
              :value="like ? 'favorite' : 'favorite_border'"
              :color="like ? 'primary' : ''">
            </mu-icon>
            <span class="collect" :class="{ active: like }">
              {{ like ? '已收藏' : '收藏' }}
            </span>
          </div>
        </mu-ripple>
      </div>
      <a class="footer-box footer-shrink" :href="'tel:' + room.source.phone">
        <mu-ripple>
          <div class="footer-container">
            <mu-icon value="phone" size="20"></mu-icon>
            <span>电话咨询</span>
          </div>
        </mu-ripple>
      </a>
      <div class="footer-box footer-grow">
        <mu-ripple @click="goReserve">
          <div class="footer-container">
            <mu-icon value="language" size="20"></mu-icon>
            <span>在线预约</span>
          </div>
        </mu-ripple>
      </div>
    </div>
  </div>
</template>

<script>
import { mapMutations } from 'vuex'
import * as mutationTypes from '@/store/mutation-types'
import { furnitureMapper } from '@/utils/mapper'

export default {
  name: 'RoomTypeDetail',
  data: () => ({
    like: true,
    roomTypeList: [],
    room: {
      id: 0,
      sourceId: 0,
      name: '',
      picture: '',
      desc: '',
      furnitures: '',
      size: 0,
      type: '',
      price: 0,
      source: {}
    }
  }),
  computed: {
    furnitureList () {
      const list = []
      if (!!this.room.furnitures) {
        Array.from(this.room.furnitures).map((a, i) => {
          a === '1' && list.push(furnitureMapper[i])
        })
      }
      return list
    }
  },
  methods: {
    initMap () {
      if (!window.AMap) return
      this.map = new AMap.Map(this.$refs.map, {
        zoom: 13,
        zoomEnable: false,
        dragEnable: false,
        center: this.room.source.coordinate
      })
      this.map.on('complete', this.markMap)
    },
    markMap () {
      if (!this.map) return
      const mark = new AMap.Marker({
        position: this.room.source.coordinate,
        title: this.room.source.name,
        // offset: new AMap.Pixel(-40, -40),
        content: `<div class="amap-mark">${this.room.source.name}</div>`
      })
      this.map.add(mark)
    },
    goMore () {
      const id = this.room.sourceId
      this.$router.push({ name: 'room-list', query: { id } })
    },
    goRoom (index) {
      const id = this.roomTypeList[index].id
      this.$router.replace({ name: 'room-detail', query: { id } })
    },
    goSource () {
      this.$router.push({
        name: 'source-detail',
        query: { id: this.room.sourceId }
      })
      this.initMap()
    },
    goReserve () {
      this.$router.push({
        name: 'reserve-add',
        query: {
          id: this.room.sourceId,
          roomType: this.room.name
        }
      })
    },
    async getRoomType () {
      try {
        const id = this.$route.query.id
        if (typeof id === 'undefined') {
          throw new Error('无法获取户型')
        }
        this.room = await this.$api.room.getRoomTypeById(id)
        this.initMap()
        this.getOtherRoomTypeList()
      } catch (err) {
        this.$toast.message(err.message)
        this.$router.replace({ name: 'home' })
      }
    },
    async getOtherRoomTypeList () {
      const list = await this.$api.room.getRoomTypeListBySourceId(this.room.source.id)
      this.roomTypeList = []
      list.forEach(roomType => {
        roomType.id !== this.room.id && this.roomTypeList.push(roomType)
      })
    },
    ...mapMutations({
      showNav: mutationTypes.SHOW_NAV
    })
  },
  created () {
    this.showNav(false)
    this.getRoomType()
  }
}
</script>

<style lang="scss" scoped>
@import '~@/assets/scss/variable.scss';
@import '~@/assets/scss/mixin.scss';

.wrapper {
  padding: 53px 0;
}
.intro {
  margin: -50px 15px 20px;
  position: relative;
  border-radius: 10px;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.1);
  background-color: white;
  padding: 15px;
  z-index: 1;
  .name {
    font-size: 20px;
    margin-bottom: 5px;
    @include oneLineOverflow;
  }
  span {
    font-size: 12px;
    color: #888;
    margin-right: 15px;
  }
  .price {
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
    em {
      font-style: normal;
      font-size: 20px;
      color: #ea7777;
    }
  }
}
.whitespace-title {
  border-left: 3px solid #ea7777;
  padding-left: 7px;
  line-height: 20px;
  font-size: 16px;
  margin-bottom: 10px;
}
.room-desc {
  color: #666;
  text-indent: 28px;
}
.source-name {
  font-size: 18px;
  line-height: 30px;
}
.source-location {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  height: 40px;
  .mu-icon, span {
    color: #666;
    margin-right: 2px;
  }
}
.map {
  height: 150px;
  position: relative;
  overflow: hidden;
  border-radius: 4px;
  border: 1px solid #ddd;
  margin-top: 10px;
}
.furniture-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: center;
  .furniture {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    opacity: 0.5;
    width: 80px;
    height: 100px;
    margin-right: 6px;
    img {
      width: 40px;
      margin-bottom: 5px;
    }
  }
}
.source-go {
  position: absolute;
  right: 0;
  top: 80px;
  background-color: #ea7777;
  border-radius: 15px 0 0 15px;
  line-height: 30px;
  padding: 0 10px 0 20px;
  font-size: 14px;
  color: #eee;
}
.collect {
  color: #666;
  &.active {
    color: #ea7777;
  }
}
.footer {
  display: flex;
  flex-flow: row nowrap;
  height: 53px;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 99;
  width: 100%;
  box-shadow: 0 0px 10px 0 rgba($color: #000000, $alpha: 0.1);
  .footer-box {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
  }
  .footer-container {
    display: flex;
    align-items: center;
    text-align: center;
  }
  .footer-shrink {
    width: 70px;
    background-color: #ffffffee;
    font-size: 12px;
    color: #666;
    flex-shrink: 0;
    .footer-container {
      flex-flow: column nowrap;
    }
    .mu-icon {
      margin-bottom: 2px;
    }
  }
  .footer-grow {
    flex-grow: 1;
    background-color: #ea7777ee;
    color: #eee;
    .footer-container {
      flex-flow: row nowrap;
    }
    .mu-icon {
      margin-right: 7px;
    }
  }
}
</style>
