<template>
  <div class="wrapper">
    <topbar fixed>
      <mu-button icon slot="left" @click="$router.go(-1)">
        <mu-icon value="chevron_left"></mu-icon>
      </mu-button>
      <div slot="center">推荐户型</div>
    </topbar>
    <ul class="list">
      <li class="item" v-for="item in list" :key="item.id">
        <mu-ripple @click="goDetail(item.id)">
          <div class="item-wrapper">
            <my-image :height="80" :width="120" :src="item.picture"></my-image>
            <div class="info">
              <div class="name">{{ item.name }}</div>
              <div class="source">{{ item.source.name }}</div>
              <div class="type">{{ item.type }}</div>
              <div class="size">{{ item.size.toFixed(2) }}m<sup>2</sup></div>
              <div class="price"><em>{{ item.price.toFixed(2) }}</em>元/月</div>
            </div>
          </div>
        </mu-ripple>
      </li>
    </ul>
  </div>
</template>

<script>
import { mapMutations, mapState } from 'vuex'
import * as mutationTypes from '@/store/mutation-types'

export default {
  name: 'RecommendRoom',
  data: () => ({
    list: []
  }),
  computed: {
    ...mapState(['address'])
  },
  methods: {
    goDetail (id) {
      this.$router.push({ name: 'room-detail', query: { id } })
    },
    async initRoomTypeList () {
      if (this.address.city === '') {
        this.$root.$on('addressload', async _ => {
          this.list = await this.$api.room.getRecommendList(this.address.city)
        })
      } else {
        this.list = await this.$api.room.getRecommendList(this.address.city)
      }
    },
    ...mapMutations({
      showNav: mutationTypes.SHOW_NAV
    })
  },
  created () {
    this.initRoomTypeList()
    this.showNav(false)
  }
}
</script>

<style lang="scss" scoped>
.wrapper {
  padding: 53px 0 56px;
}
.list {
  padding: 0;
  margin: 0;
  list-style: none;
}
.item {
  padding: 10px 15px;
  position: relative;
  background-color: white;
  &:not(:last-of-type) {
    border-bottom: 1px solid #eee;
  }
}
.item-wrapper {
  display: flex;
  position: relative;
  .info {
    margin-left: 10px;
  }
  .name {
    font-size: 16px;
    font-weight: bold;
    line-height: 25px;
  }
  .size, .type, .source {
    color: #666;
    line-height: 20px;
  }
  .price {
    font-size: 14px;
    color: #666;
    em {
      font-style: normal;
      color: #ea7777;
      font-size: 20px;
    }
    position: absolute;
    right: 0;
    bottom: 0;
  }
}
</style>
