<template>
  <div id="app">
    <!-- <scroll id="scroll"> -->
    <div id="main">
      <router-view></router-view>
    </div>
    <!-- </scroll> -->
    <app-footer id="footer"></app-footer>
    <mu-bottom-sheet :open.sync="showUploadSheet">
      <mu-list >
        <mu-sub-header>{{ uploadTitle }}</mu-sub-header>
        <mu-list-item button @click="openFileInput('camera')">
          <mu-list-item-action>
            <mu-icon value="photo_camera" color="primary"></mu-icon>
          </mu-list-item-action>
          <mu-list-item-title>照相机</mu-list-item-title>
        </mu-list-item>
        <mu-list-item button @click="openFileInput('picture')">
          <mu-list-item-action>
            <mu-icon value="photo" color="primary"></mu-icon>
          </mu-list-item-action>
          <mu-list-item-title>相册</mu-list-item-title>
        </mu-list-item>
        <mu-list-item button @click="openFileInput('other')">
          <mu-list-item-action>
            <mu-icon value="attachment" color="primary"></mu-icon>
          </mu-list-item-action>
          <mu-list-item-title>其他方式</mu-list-item-title>
        </mu-list-item>
      </mu-list>
    </mu-bottom-sheet>
    <input
      type="file"
      ref="uploadInput"
      @change="upload"
      :accept="inputType === 'other' ? 'false' : 'image/*'"
      :capture="inputType === 'camera' ? 'camera' : 'false'"
      style="display: none">
  </div>
</template>

<script>
import { getUserWithPin } from '@/api/collection/user'
import { mapMutations, mapGetters } from 'vuex'
import * as mutationTypes from '@/store/mutation-types'
import { parseCookie } from '@/utils/utils'
import BigNumber from 'bignumber.js'

export default {
  name: 'App',
  data: () => ({
    showUploadSheet: false,
    inputType: 'file',
    inputValue: {},
    uploadTitle: '',
    loading: null
  }),
  computed: {
    ...mapGetters(['user'])
  },
  methods: {
    openFileInput (type) {
      this.inputType = type
      setTimeout(() => {
        this.$refs.uploadInput.click()
      }, 50)
    },
    async upload () {
      this.loading = this.$loading()
      const file = this.$refs.uploadInput
      try {
        const url = await this.$api.upload.uploadImage(file.files[0])
        console.log('文件上传成功：', url)
        this.$root.$emit('pictureUploadComplete', url)
      } catch (err) {
        this.$toast.message(err.message)
      } finally {
        this.loading.close()
        file.value = ''
        this.uploadTitle = ''
        this.showUploadSheet = false
      }
    },
    // 初始化用户信息
    initUser () {
      const cookie = parseCookie(document.cookie)
      cookie.pin && getUserWithPin().then(user => {
        this.setUser(user)
        console.log(user.username + '自动登录')
      }).catch(err => {
        this.$toast.message(err.message)
        this.$router.push({ name: 'home' })
      })
    },
    // 获取用户所在城市
    getAddress: () => new Promise((resolve, reject) => {
      if (!window.AMap) return reject(new Error('无法加载高德地图'))
      // 获取城市信息
      new AMap.CitySearch().getLocalCity((status, result) => {
        if (status !== 'complete' || result.info !== 'OK') {
          return reject(new Error('无法获取所在城市'))
        }
        // 获取精准地址
        new AMap.Map('iCenter').plugin('AMap.Geolocation', () => {
          const geolocation = new AMap.Geolocation()
          geolocation.getCurrentPosition()
          AMap.event.addListener(geolocation, 'complete', data => {
            const pos = data.position
            result.coordinate = [pos.lng, pos.lat]
            resolve(result)
          })
          AMap.event.addListener(geolocation, 'error', () => {
            const pos = result.rectangle.split(';')
            const x1 = new BigNumber(pos[0].split(',')[0])
            const x2 = new BigNumber(pos[1].split(',')[0])
            const y1 = new BigNumber(pos[0].split(',')[1])
            const y2 = new BigNumber(pos[1].split(',')[1])
            result.coordinate = [+x1.plus(x2).div(2), +y1.plus(y2).div(2)]
            resolve(result)
          })
        })
      })
    }),
    // 初始化城市信息
    initAddress () {
      this.getAddress().then(result => {
        console.log('获取坐标:', result)
        this.setAddress({
          province: result.province.split('省')[0],
          city: result.city.split('市')[0],
          code: result.infocode,
          coordinate: result.coordinate,
          complete: true
        })
        this.$root.$emit('addressload')
      }).catch(err => {
        this.$toast.message(err.message)
      })
    },
    ...mapMutations({
      setUser: mutationTypes.SET_USER,
      setAddress: mutationTypes.SET_ADDRESS
    })
  },
  created () {
    this.$root.$on('openPictureUploader', title => {
      this.uploadTitle = title
      this.showUploadSheet = true
    })
    this.initUser()
    this.initAddress()
  }
}
</script>

<style lang="scss">
@import '@/assets/scss/variable.scss';

html, body, #app {
  background-color: $-color-background;
}

#app {
  // font-family: Roboto, Lato, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: $-color-black;
  font-size: 14px;
  font-weight: normal;
  font-family: 'Roboto', 'Microsoft YaHei UI', sans-serif;
}
#main {
  // height: 100%;
}
#footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100vw;
  z-index: 2019;
}
</style>
