<template>
  <div class="repair-wrapper">
    <topbar fixed>
      <mu-button icon slot="left" @click="$router.go(-1)">
        <mu-icon value="chevron_left"></mu-icon>
      </mu-button>
      <div slot="center">申请报修</div>
    </topbar>
    <mu-form :model="form" class="form" ref="form">
      <mu-form-item prop="room" label="房号" :rules="notEmpty" label-float>
        <mu-select v-model="form.room" underline-color="primary">
          <mu-option v-for="option in roomList" :key="option.id" :value="option"
            :label="option.source.name + '-' + option.name" :disabled="option.id === -1">
          </mu-option>
        </mu-select>
      </mu-form-item>
      <mu-form-item prop="title" label="标题" :rules="notEmpty" label-float>
        <mu-text-field v-model="form.title" underline-color="primary" max-length="20"></mu-text-field>
      </mu-form-item>
      <mu-form-item prop="area" label="维修区域" :rules="notEmpty" label-float>
        <mu-select v-model="form.area" underline-color="primary">
          <mu-option v-for="option in areaOptions" :key="option" :label="option" :value="option">
          </mu-option>
        </mu-select>
      </mu-form-item>
      <mu-form-item prop="dateStart" label="期望上门时间" :rules="notEmpty" label-float>
        <mu-date-input v-model="form.dateStart" type="dateTime" container="bottomSheet" label-float
          full-width underline-color="primary" color="primary" display-color="primary" :min-date="new Date()">
        </mu-date-input>
      </mu-form-item>
      <mu-form-item prop="access" label="家中无人可维修" label-position="left">
        <mu-switch v-model="form.access" color="primary"></mu-switch>
      </mu-form-item>
      <mu-form-item prop="content" label="文字描述" :rules="notEmpty">
        <mu-text-field multi-line :rows="3" :rows-max="6" v-model="form.content"
          max-length="200" underline-color="primary">
        </mu-text-field>
      </mu-form-item>
      <mu-form-item prop="picture" label="图片上传" :rules="notEmpty">
        <image-uploader v-model="form.picture" :width="170" :height="120"></image-uploader>
      </mu-form-item>
      <mu-button @click="submit" class="submit" full-width color="primary">提交报修单</mu-button>
    </mu-form>
  </div>
</template>

<script>
import { mapMutations } from 'vuex'
import * as mutationTypes from '@/store/mutation-types'
import { isNotEmpty } from '@/utils/utils'

const areaOptions = ['卧室', '厨房', '客厅', '阳台', '卫生间', '公共区域', '其他']

export default {
  name: 'Add',
  data: () => ({
    notEmpty: [ { validate: isNotEmpty, message: '必须填写内容!' } ],
    areaOptions,
    roomList: [],
    form: {
      title: '',
      room: '',
      area: '',
      access: false,
      content: '',
      picture: '',
      dateStart: ''
    }
  }),
  methods: {
    async initUserRoomList () {
      try {
        this.roomList = await this.$api.room.getListUserUsing()
        if (this.roomList.length === 0) {
          this.roomList.push({
            id: -1,
            name: ' 暂无已租赁的房间，请先去租房 -',
            source: { name: '' }
          })
        }
      } catch (err) {
        this.$toast.message(err.message)
      }
    },
    async submit () {
      if (await this.$refs.form.validate()) {
        if ((await this.$confirm('你确定要提交报修单吗 ?', '提醒')).result) {
          await this.$api.repair.add({
            access: this.form.access,
            area: this.form.area,
            content: this.form.content,
            dateStart: this.form.dateStart.getTime(),
            picture: this.form.picture,
            title: this.form.title,
            roomId: this.form.room.id,
            sourceId: this.form.room.sourceId,
            roomTypeId: this.form.room.typeId,
            status: 0
          })
          this.$toast.message('提交成功!')
          this.$router.go(-1)
        }
      }
    },
    ...mapMutations({
      showNav: mutationTypes.SHOW_NAV
    })
  },
  created () {
    this.initUserRoomList()
    this.showNav(false)
  }
}
</script>

<style lang="scss" scoped>
.repair-wrapper {
  padding-top: 53px;
}
.form {
  padding: 15px 15px 60px;
  background-color: white;
}
.submit {
  margin-top: 20px;
}
</style>
