<template>
  <div class="wrapper">
    <topbar fixed>
      <mu-button icon slot="left" @click="$router.go(-1)">
        <mu-icon value="chevron_left"></mu-icon>
      </mu-button>
      <div slot="center">维修详情</div>
    </topbar>
    <my-image full-width :height="220" type="sharp" :src="repair.picture"></my-image>
    <div class="info">
      <span>{{ repair.source.name }}</span>
      <span>{{ repair.room.name }}</span>
    </div>
    <div class="detail">
      <div class="item">
        <div class="label">
          <mu-icon value="timeline" size="16"></mu-icon>
          <span>状态:</span>
        </div>
        <div class="text">{{ ['维修中', '维修完毕', '取消维修'][repair.status] }}</div>
      </div>
      <div class="item">
        <div class="label">
          <mu-icon value="location_searching" size="16"></mu-icon>
          <span>维修区域:</span>
        </div>
        <div class="text">{{ repair.area }}</div>
      </div>
      <div class="item">
        <div class="label">
          <mu-icon value="subject" size="16"></mu-icon>
          <span>标题:</span>
        </div>
        <div class="text">{{ repair.title }}</div>
      </div>
      <div class="item">
        <div class="label">
          <mu-icon value="location_on" size="16"></mu-icon>
          <span>地点:</span>
        </div>
        <div class="text">{{ repair.source.location }}</div>
      </div>
      <div class="item">
        <div class="label">
          <mu-icon value="toc" size="16"></mu-icon>
          <span>描述:</span>
        </div>
        <div class="text">{{ repair.content }}</div>
      </div>
      <!-- <mu-button full-width color="primary">进行评价</mu-button> -->
    </div>
  </div>
</template>

<script>
import { mapMutations } from 'vuex'
import * as mutationTypes from '@/store/mutation-types'

export default {
  name: 'RepairDetail',
  data: () => ({
    repair: {
      roomType: {},
      room: {},
      source: {}
    }
  }),
  methods: {
    async initRepair () {
      const id = this.$route.query.id
      this.repair = await this.$api.repair.getDetail(id)
    },
    ...mapMutations({
      showNav: mutationTypes.SHOW_NAV
    })
  },
  created () {
    this.initRepair()
    this.showNav(false)
  }
}
</script>

<style lang="scss" scoped>
.wrapper {
  padding: 53px 0 56px;
}
.info {
  display: flex;
  flex-flow: column nowrap;
  padding: 10px 15px;
  span {
    line-height: 25px;
    font-size: 16px;
  }
  margin: -40px 15px 0;
  background-color: white;
  z-index: 3;
  position: relative;
  border-radius: 10px;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.1);
}
.detail {
  margin-top: 20px;
  background-color: white;
  font-size: 14px;
  padding: 10px 15px;
  color: #666;
  .item {
    display: flex;
    flex-flow: row nowrap;
    padding: 5px 0;
  }
  .label {
    width: 100px;
    flex-shrink: 0;
    span, .mu-icon {
      vertical-align: middle;
    }
    span {
      margin-left: 5px;
    }
  }
  .mu-button {
    margin: 20px 0;
  }
}
</style>
