<template>
  <div class="wrapper">
    <topbar fixed>
      <mu-button icon slot="left" @click="$router.go(-1)">
        <mu-icon value="chevron_left"></mu-icon>
      </mu-button>
      <div slot="center">我的报修</div>
      <mu-button icon slot="right" @click="$router.push({ name: 'repair-add' })">
        <mu-icon value="add"></mu-icon>
      </mu-button>
    </topbar>
    <mu-tabs :value.sync="active" full-width indicator-color="primary" inverse color="secondary" text-color="rgba(0, 0, 0, .54)"  center>
      <mu-tab>未处理</mu-tab>
      <mu-tab>已处理</mu-tab>
    </mu-tabs>
    <ul class="list">
      <li class="item" v-for="item in list[active]" :key="item.id">
        <mu-ripple @click="openDetail(item.id)">
          <div class="date">2018年09月11日 10:14</div>
          <!-- <div class="status">未评价</div> -->
          <my-image class="cover" :width="120" :height="80" absolute block :src="item.picture"></my-image>
          <div class="info">
            <p class="room">{{ item.source.name + '-' + item.room.name }}</p>
            <p>区域: {{ item.area }}</p>
            <p>描述: {{ item.content }}</p>
          </div>
        </mu-ripple>
      </li>
    </ul>
    <empty-list-holder v-show="list[active].length === 0">
      还没有报修哦~
    </empty-list-holder>
  </div>
</template>

<script>
import { mapMutations } from 'vuex'
import * as mutationTypes from '@/store/mutation-types'

export default {
  name: 'RepairList',
  data: () => ({
    active: 0,
    list: [[], []]
  }),
  methods: {
    openDetail (id) {
      this.$router.push({ name: 'repair-detail', query: { id } })
    },
    async initRepairList () {
      try {
        const repairList = await this.$api.repair.getRepairList()
        repairList.sort((a, b) => b.id - a.id)
        repairList.forEach(repair => {
          if (repair.status === 0) {
            this.list[0].push(repair)
          } else if (repair.status === 1) {
            this.list[1].push(repair)
          }
        })
      } catch (err) {
        this.$toast.message(err.message)
      }
    },
    ...mapMutations({
      showNav: mutationTypes.SHOW_NAV
    })
  },
  created () {
    this.initRepairList()
    this.showNav(true)
  }
}
</script>

<style lang="scss" scoped>
@import '~@/assets/scss/variable.scss';
@import '~@/assets/scss/mixin.scss';

.wrapper {
  padding: 53px 0 56px;
}
.list {
  padding: 15px;
  margin: 0;
  list-style: none;
}
.item {
  background-color: white;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding: 10px 15px;
  position: relative;
  overflow: hidden;
  &:not(:last-of-type) {
    margin-bottom: 10px;
  }
}
.date {
  font-size: 12px;
  color: #999;
  line-height: 20px;
}
.status {
  font-size: 12px;
  position: absolute;
  top: 10px;
  right: 15px;
  color: #666;
  line-height: 20px;
}
.cover {
  left: 15px;
  top: 35px;
}
.info {
  margin: 5px 0 0 135px;
  p {
    margin: 0;
    line-height: 28px;
    @include oneLineOverflow;
    &.room {
      font-weight: bold;
    }
  }
}
</style>
