<template>
  <div class="wrapper">
    <div class="banner">
      <mu-button class="back" icon @click="$router.go(-1)" color="#fff">
        <mu-icon value="chevron_left"></mu-icon>
      </mu-button>
      <img class="landscape" :src="landscape">
      <h3 class="title">{{ title }}</h3>
      <div class="room">{{ bill.source.name + '-' + bill.room.name }}</div>
      <div class="user">{{ user.auth.name || user.name }}</div>
      <div class="total">
        {{ ['应', '已', '未'][bill.status] }}缴<em> {{ total.toFixed(2) }} </em>元
      </div>
      <div class="last" v-if="bill.status === 0">最后缴纳日期 {{ deadline }}</div>
      <wave color="#ea7777"></wave>
    </div>
    <div class="detail">
      <mu-expansion-panel :z-depth="0" v-if="bill.waterList.length !== 0">
        <div slot="header" class="detail-title">
          <span>水费</span>
          <span>30.00元</span>
        </div>
        <div class="all-title">
          <span>水费详情</span>
          <mu-button small color="primary" @click="goMeter('water')">查看水表</mu-button>
        </div>
        <ul class="all-list">
          <li class="all" v-for="_ in Array.from({ length: 20 }, (a, i) => i )" :key="_">
            <span>2018年11月</span>
            <span>4.000元</span>
          </li>
        </ul>
      </mu-expansion-panel>
      <mu-expansion-panel :z-depth="0" v-if="bill.elecList.length !== 0">
        <div slot="header" class="detail-title">
          <span>电费</span>
          <span>159.03元</span>
        </div>
        <div class="all-title">
          <span>电费详情</span>
          <mu-button small color="primary" @click="goMeter('electricity')">查看电表</mu-button>
        </div>
        <ul class="all-list">
          <li class="all" v-for="_ in Array.from({ length: 20 }, (a, i) => i )" :key="_">
            <span>2018年11月</span>
            <span>4.000元</span>
          </li>
        </ul>
      </mu-expansion-panel>
      <mu-expansion-panel :z-depth="0" v-if="bill.rentList.length !== 0">
        <div slot="header" class="detail-title">
          <span>住宿费</span>
          <span>{{ sum(bill.rentList).toFixed(2) }}元</span>
        </div>
        <div class="all-title">
          <span>住宿费详情</span>
        </div>
        <ul class="all-list">
          <li class="all" v-for="rent in bill.rentList" :key="rent.id">
            <span>{{ $f(rent.date, 'YYYY年M月') }}</span>
            <span>{{ rent.price.toFixed(2) }}元</span>
          </li>
        </ul>
      </mu-expansion-panel>
      <mu-expansion-panel :z-depth="0" v-if="bill.depositList.length !== 0">
        <div slot="header" class="detail-title">
          <span>定金</span>
          <span>{{ sum(bill.depositList).toFixed(2) }}元</span>
        </div>
        <div class="all-title"><span>定金详情</span></div>
        <ul class="all-list">
          <li class="all" v-for="deposit in bill.depositList" :key="deposit.id">
            <span>{{ $f(deposit.date, 'YYYY年M月') }}</span>
            <span>{{ deposit.price.toFixed(2) }}元</span>
          </li>
        </ul>
      </mu-expansion-panel>
    </div>
    <div class="pay-wrapper" v-if="bill.status === 0">
      <mu-button full-width color="primary" @click="pay" large>账单支付</mu-button>
    </div>
    <div class="tips">
      <p>账单以每月的8日00:00为分界线, 只显示上个月账单, 超过时间的订单会计入下个月订单。预定账单例外，单独进行计费。</p>
      <p>为避免产生滞纳金, 请您在每月7日前准时支付账单, 谢谢您的配合!</p>
    </div>
  </div>
</template>

<script>
import landscape from '@/assets/images/app/landscape.png'
import { mapMutations, mapGetters } from 'vuex'
import * as mutationTypes from '@/store/mutation-types'
import { getSum } from '@/utils/utils'
import BigNumber from 'bignumber.js'

export default {
  name: 'BillDetail',
  data: () => ({
    landscape,
    room: {
      id: 1
    },
    bill: {
      id: -1,
      room: {},
      roomType: {},
      source: {},
      waterList: [],
      elecList: [],
      rentList: [],
      depositList: []
    }
  }),
  computed: {
    title () {
      if (this.bill.id === -1) return ''
      return [
        '预定定金账单',
        '房屋首期账单',
        this.$f(this.bill.date, 'YYYY年M月') + '账单'
      ][this.bill.type]
    },
    deadline () {
      if (this.bill.id === -1) return ''
      const nextDate = new Date(this.bill.date)
      nextDate.setDate(nextDate.getDate() + 30)
      return this.bill.status === 0
        ? this.$f(nextDate.getTime(), 'YYYY年M月D日 23:59')
        : this.$f(nextDate.getTime(), 'YYYY年M月7日 23:59')
    },
    total () {
      if (this.bill.id === -1) return 0
      let total = new BigNumber(0)
      total = total.plus(this.sum(this.bill.waterList))
      total = total.plus(this.sum(this.bill.elecList))
      total = total.plus(this.sum(this.bill.rentList))
      total = total.plus(this.sum(this.bill.depositList))
      return total
    },
    ...mapGetters(['user'])
  },
  methods: {
    sum (list) {
      if (!list) return 0
      return getSum(list, 'price')
    },
    goMeter (type) {
      this.$router.push({ name: 'bill-' + type, query: { id: this.room.id } })
    },
    pay () {
      // this.$toast.message('支付成功')
      // this.$router.push({ name: 'bill-list' })
      this.setForbid(false) // 关闭页面屏蔽
      this.$router.push({ name: 'bill-pay', query: { id: this.bill.id } })
    },
    async initBill () {
      try {
        const id = this.$route.query.id
        if (!id) throw new Error('无法访问页面')
        this.bill = await this.$api.bill.getDetail(id)
      } catch (err) {
        this.$toast.message(err.message)
        this.$router.replace({ name: 'home' })
      }
    },
    ...mapMutations({
      showNav: mutationTypes.SHOW_NAV,
      setForbid: mutationTypes.SET_FORBID
    })
  },
  created () {
    this.initBill()
    this.showNav(false)
  }
}
</script>

<style lang="scss" scoped>

$-primary: #ea7777;
$-secondary: #fa9090;

.wrapper {
  padding: 0 0 15px;
  background-color: white;
}
.banner {
  position: relative;
  background-image: linear-gradient(to top, $-primary 20%, $-secondary 80%);
  padding-top: 20px;
  text-align: center;
  color: #eee;
  .title {
    position: absolute;
    color: #eee;
    font-weight: normal;
    font-size: 18px;
    top: 2px;
    left: 0;
    text-align: center;
    padding: 0;
    margin: 0;
    line-height: 48px;
    width: 100%;
  }
  .back {
    position: absolute;
    left: 2px;
    top: 2px;
    z-index: 4;
  }
  .landscape {
    display: block;
    width: 375px;
    margin: 0 auto;
    opacity: 0.2;
  }
  .room {
    position: absolute;
    font-size: 14px;
    top: 75px;
    width: 100%;
  }
  .user {
    position: absolute;
    width: 100%;
    top: 100px;
  }
  .total {
    position: absolute;
    width: 100%;
    bottom: 60px;
    left: 0;
    em {
      font-size: 40px;
      font-style: normal;
      font-weight: bold;
    }
  }
  .last {
    position: absolute;
    bottom: 40px;
    width: 100%;
    left: 0;
  }
}
.detail {
  padding: 10px 0;
}
.detail-title {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.all-title {
  display: flex;
  justify-content: space-between;
  line-height: 28px;
  padding-bottom: 10px;
  span, .mu-button {
    vertical-align: middle;
  }
}
.all-list {
  padding: 0;
  margin: 0;
  list-style: none;
}
.all {
  display: flex;
  justify-content: space-between;
  line-height: 40px;
  border-bottom: 1px solid #ddd;
  &:first-of-type {
    border-top: 1px solid #ddd;
  }
}
.pay-wrapper {
  padding: 15px;
}
.tips {
  padding: 10px 15px;
  color: #999;
  p {
    padding: 0;
    margin: 0 0 5px;
    text-indent: 28px;
  }
}
.mu-expansion-panel {
  border: none;
}
</style>
