<template>
  <div class="wrapper">
    <div class="banner">
      <mu-button class="back" icon @click="$router.go(-1)" color="#fff">
        <mu-icon value="chevron_left"></mu-icon>
      </mu-button>
      <div class="title">电表</div>
      <img class="landscape" :src="landscape">
      <wave color="#df8014"></wave>
      <h3 class="room">{{ data.source.name + '-' + data.name }}</h3>
    </div>
    <div class="info">
      <div class="title">当月记录</div>
      <div class="current">
        <div class="item">
          <div class="value">177.45</div>
          <div class="unit">当月费用: 元</div>
        </div>
        <div class="item">
          <div class="value">87.00</div>
          <div class="unit">当月用量: 度</div>
        </div>
        <div class="item">
          <div class="value">1.35</div>
          <div class="unit">计费标准: 元/度</div>
        </div>
      </div>
      <div class="title">往月记录</div>
      <mu-data-table :columns="columns" :data="list" :min-col-width="0">
        <template slot-scope="scope" align="center">
          <td class="is-center">{{ scope.row.date }}</td>
          <td class="is-center">{{ scope.row.price }}</td>
          <td class="is-center">{{ scope.row.cost }}</td>
        </template>
      </mu-data-table>
    </div>
  </div>
</template>

<script>
import landscape from '@/assets/images/app/landscape.png'
import { mapMutations } from 'vuex'
import * as mutationTypes from '@/store/mutation-types'

const columns = [
  { title: '日期', name: 'date', align: 'center' },
  { title: '费用(元)', name: 'price', align: 'center' },
  { title: '用量(度)', name: 'cost', align: 'center' }
]

const _data = {
  id: 1,
  name: '427',
  source: {
    name: '艾住-铁道学院店'
  }
}

const _list = [
  {
    date: '2018年9月',
    price: '12.64',
    cost: '12.64'
  },
  {
    date: '2018年9月',
    price: '12.64',
    cost: '12.64'
  },
  {
    date: '2018年9月',
    price: '12.64',
    cost: '12.64'
  }
]

export default {
  name: 'Electricity',
  data: () => ({
    landscape,
    columns,
    data: _data,
    list: _list
  }),
  methods: {
    ...mapMutations({
      showNav: mutationTypes.SHOW_NAV
    })
  },
  created () {
    this.showNav(true)
  }
}
</script>

<style lang="scss" scoped>

$-primary: #df8014;
$-secondary: #d69954;

.wrapper {
  padding-bottom: 56px;
}
.banner {
  position: relative;
  background-image: linear-gradient(to top, $-primary 20%, $-secondary 80%);
  padding-top: 20px;
  .title {
    position: absolute;
    color: #eee;
    font-weight: normal;
    font-size: 18px;
    top: 2px;
    left: 0;
    text-align: center;
    padding: 0;
    margin: 0;
    line-height: 48px;
    width: 100%;
  }
  .back {
    position: absolute;
    left: 2px;
    top: 2px;
    z-index: 4;
  }
  .landscape {
    display: block;
    width: 375px;
    margin: 0 auto;
    opacity: 0.2;
  }
  .room {
    position: absolute;
    margin: 0;
    color: white;
    font-size: 16px;
    font-weight: normal;
    top: 100px;
    text-align: center;
    width: 100%;
  }
}
.info {
  background-color: white;
  .title {
    padding: 20px 15px 5px;
    &::before {
      content: '';
      border-left: 3px solid $-primary;
      padding-right: 5px;
    }
  }
  .current {
    padding: 15px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    .item {
      width: 33.333%;
      text-align: center;
    }
    .value {
      font-size: 24px;
      color: #333;
    }
    .unit {
      font-size: 12px;
      color: #666;
    }
  }
}

</style>
