<template>
  <div class="wrapper">
    <topbar fixed>
      <mu-button icon slot="left" @click="$router.push({ name: 'profile-info' })">
        <mu-icon value="chevron_left"></mu-icon>
      </mu-button>
      <div slot="center">我的账单</div>
    </topbar>
    <ul class="room-list">
      <li class="room" v-for="bill in billList" :key="bill.id">
        <mu-ripple @click="goDetail(bill.id)">
          <div class="room-name">{{ bill.source.name + '-' + bill.room.name }}</div>
          <div class="status" :class="{ active: bill.status === 0 }">
            {{ ['待缴纳', '已缴纳', '逾期'][bill.status] }}
          </div>
          <ul class="bill-list">
            <li class="bill" v-if="bill.waterList.length !== 0">
              <div class="type">水费</div>
              <div class="value">{{ sum(bill.waterList).toFixed(2) }}</div>
            </li>
            <li class="bill" v-if="bill.elecList.length !== 0">
              <div class="type">电费</div>
              <div class="value">{{ sum(bill.elecList).toFixed(2) }}</div>
            </li>
            <li class="bill" v-if="bill.rentList.length !== 0">
              <div class="type">房租</div>
              <div class="value">{{ sum(bill.rentList).toFixed(2) }}</div>
            </li>
            <li class="bill" v-if="bill.depositList.length !== 0">
              <div class="type">定金</div>
              <div class="value">{{ sum(bill.depositList).toFixed(2) }}</div>
            </li>
            <li class="bill total">
              <div class="type">{{ bill.status === 0 ? '' : $f(bill.date, 'YYYY年M月') }}</div>
              <div class="value">{{ calcTotal(bill).toFixed(2) }}</div>
            </li>
          </ul>
        </mu-ripple>
      </li>
    </ul>
    <empty-list-holder v-if="showListHolder">
      还没有账单噢~
    </empty-list-holder>
  </div>
</template>

<script>
import { mapMutations } from 'vuex'
import * as mutationTypes from '@/store/mutation-types'
import { getSum } from '@/utils/utils'

export default {
  name: 'BillList',
  data: () => ({
    billList: [],
    showListHolder: false
  }),
  methods: {
    sum (list) {
      return getSum(list, 'price')
    },
    calcTotal (bill) {
      let total = 0
      total += this.sum(bill.waterList)
      total += this.sum(bill.elecList)
      total += this.sum(bill.rentList)
      total += this.sum(bill.depositList)
      return total
    },
    goDetail (id) {
      this.$router.push({ name: 'bill-detail', query: { id } })
    },
    async initBillList () {
      const list = await this.$api.bill.getList()
      list.sort((a, b) => {
        // 同为待支付账单，按ID逆向排序
        if (a.status === 0 && b.status === 0) {
          return b.id - a.id
        }
        // a为待支付账单，b为已支付或逾期账单，a在前
        if (a.status === 0 && b.status > 0) {
          return -1
        }
        // a为已支付或逾期账单，b为待支付账单，b在前
        if (a.status > 0 && b.status === 0) {
          return 1
        }
        // a和b为已支付或逾期账单，按ID逆向排序
        if (a.status > 0 && b.status > 0) {
          return b.id - a.id
        }
      })
      this.billList = list
      this.showListHolder = list.length === 0
    },
    ...mapMutations({
      showNav: mutationTypes.SHOW_NAV
    })
  },
  created () {
    this.initBillList()
    this.showNav(true)
  }
}
</script>

<style lang="scss" scoped>
.wrapper {
  padding: 53px 0 56px;
}
.room-list {
  padding: 15px;
  margin: 0;
  list-style: none;
}
.room {
  padding: 15px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.1);
  overflow: hidden;
  position: relative;
  &:not(:last-of-type) {
    margin-bottom: 15px;
  }
  .room-name {
    font-size: 18px;
  }
  .status {
    position: absolute;
    right: -27px;
    top: 10px;
    background-color: #666;
    box-shadow: 3px 3px 10px 0 rgba($color: #000, $alpha: 0.2);
    padding: 4px 30px;
    font-size: 12px;
    transform: rotate(45deg);
    color: #eee;
    z-index: 99;
    &.active {
      background-color: #ea7777;
    }
  }
}
.bill-list {
  margin: 0;
  padding: 15px 0 0;
}
.bill {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  color: #666;
  &.total {
    border-top: 1px solid #ccc;
    margin-top: 5px;
    padding-top: 5px;
    .value {
      color: #ea7777;
      font-weight: bold;
      &::before {
        content: '￥'
      }
    }
  }
}
</style>
