 <template>
  <div class="wrapper">
    <topbar fixed>
      <mu-button icon slot="left" @click="$router.go(-1)">
        <mu-icon value="chevron_left"></mu-icon>
      </mu-button>
      <div slot="center">水电表读数</div>
    </topbar>
    <ul class="room-list">
      <li class="room" v-for="room in roomList" :key="room.id">
        <div class="name">{{ room.source.name + '-' + room.name }}</div>
        <div class="card water">
          <mu-ripple @click="go('water', room.id)">
            <img class="icon" :src="iconWater">
            <img class="bg" :src="iconWater">
            <div class="type">水卡</div>
          </mu-ripple>
        </div>
        <div class="card elec">
          <mu-ripple @click="go('electricity', room.id)">
            <img class="icon" :src="iconElec">
            <img class="bg" :src="iconElec">
            <div class="type">电卡</div>
          </mu-ripple>
        </div>
      </li>
    </ul>
  </div>
</template>

<script>
import { mapMutations } from 'vuex'
import * as mutationTypes from '@/store/mutation-types'
import iconWater from '@/assets/images/app/water.png'
import iconElec from '@/assets/images/app/electricity.png'

const _data = [
  {
    id: 0,
    name: '427',
    source: {
      name: '艾住-铁道学院店'
    }
  },
  {
    id: 1,
    name: 'f12',
    source: {
      name: '中南大学店'
    }
  }
]

export default {
  name: 'BillMeter',
  data: () => ({
    roomList: _data,
    iconWater,
    iconElec
  }),
  methods: {
    go (name, id) {
      this.$router.push({ name: 'bill-' + name, query: { id } })
    },
    ...mapMutations({
      showNav: mutationTypes.SHOW_NAV
    })
  },
  created () {
    this.showNav(true)
  }
}
</script>

<style lang="scss" scoped>
.wrapper {
  padding: 53px 0 56px;
}
.room-list {
  padding: 0;
  margin: 0;
  list-style: none;
}
.room {
  padding: 15px;
  .name {
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 10px;
  }
}
.card {
  width: 100%;
  height: 100px;
  border-radius: 10px;
  background-color: white;
  box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.1);
  position: relative;
  overflow: hidden;
  padding: 15px;
  &:not(:last-of-type) {
    margin-bottom: 20px;
  }
}
.icon {
  height: 24px;
  vertical-align: middle;
  filter: contrast(1);
  opacity: 0.8;
}
.type {
  display: inline-block;
  vertical-align: middle;
  font-size: 16px;
  margin-left: 5px;
}
.value {
  position: absolute;
  bottom: 20px;
  right: 130px;
  font-size: 40px;
  line-height: 50px;
  height: 50px;
  em {
    font-size: 14px;
    font-style: normal;
    padding-left: 5px;
    font-weight: normal;
    color: #333 !important;
  }
}
.bg {
  height: 200px;
  position: absolute;
  right: -30px;
  top: -50px;
}
.water .bg {
  opacity: 0.2;
}
.elec .bg {
  opacity: 0.4;
}
</style>
