<template>
  <div class="wrapper">
    <mu-button color="#1296db" large flat @click="goBack">完成</mu-button>
    <div class="info">
      <img class="info-icon" :src="zfbIcon">
      <div class="status">支付成功</div>
      <div class="price">
        <em>￥</em>{{ price.toFixed(2) }}
      </div>
      <div class="payee">
        <div class="item">
          <span>收款方</span>
          <span>艾住收款账户</span>
        </div>
        <div class="item">
          <span>收款金额</span>
          <span>￥{{ price.toFixed(2) }}</span>
        </div>
      </div>
    </div>
    <div class="pay-type">
      <span>\付款方式</span>
      <span>{{ zfbPayType }}</span>
    </div>
    <div class="ad-wrap">
      <img class="ad" :src="ad">
    </div>
  </div>
</template>

<script>
import { mapMutations } from 'vuex'
import * as mutationTypes from '@/store/mutation-types'
import zfbIcon from '@/assets/images/pay/支付宝-圆.png'
import ad from '@/assets/images/pay/ad.png'

export default {
  name: 'BillPaid',
  data: () => ({
    price: 0,
    payType: '支付宝',
    zfbPayType: '花呗',
    ad,
    zfbIcon
  }),
  methods: {
    goBack () {
      this.$router.replace({ name: 'bill-list' })
    },
    ...mapMutations({
      showNav: mutationTypes.SHOW_NAV,
      setForbid: mutationTypes.SET_FORBID
    })
  },
  created () {
    this.price = this.$route.query.price || 0
    this.setForbid(true)
    this.showNav(false)
  }
}
</script>

<style lang="scss" scoped>
.wrapper {
  position: relative;
  padding: 50px 0 0;
}
.mu-button {
  position: absolute;
  top: 10px;
  right: 0;
}
.info {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  .info-icon {
    width: 50px;
    height: 50px;
  }
  .status {
    color: #1296db;
    font-size: 16px;
    margin-top: 8px;
  }
  .price {
    margin: 15px 0 30px;
    font-size: 40px;
    color: #333;
    font-weight: bold;
    em {
      font-size: 26px;
      font-style: normal;
    }
  }
  .payee {
    padding: 0 50px;
    display: flex;
    width: 100%;
    justify-content: space-between;
    .item {
      display: flex;
      flex-flow: column nowrap;
      align-items: center;
      span:first-of-type {
        color: #999;
        padding-bottom: 8px;
      }
    }
  }
}
.pay-type {
  padding: 0 15px;
  margin: 20px 0;
  display: flex;
  justify-content: space-between;
  span:first-of-type {
    color: #999;
  }
}
.ad-wrap {
  padding: 15px;
  .ad {
    width: 100%;
    border-radius: 4px;
  }
}
</style>
