<template>
  <div class="wrapper">
    <topbar fixed>
      <mu-button icon slot="left" @click="$router.go(-1)">
        <mu-icon value="chevron_left"></mu-icon>
      </mu-button>
      <div slot="center">支付</div>
    </topbar>
    <div class="price">
      <span>支付金额</span>
      <span>{{ price.toFixed(2) }}元</span>
    </div>
    <div class="pay">
      <div class="title">请选择支付方式</div>
      <ul class="pay-type">
        <li class="pay-type-item" @click="changeType(item.name)"
          v-for="item in payTypeList" :key="item.name">
          <div class="pay-type-method">
            <img class="pay-type-img" :src="item.img">
            <span>{{ item.name }}</span>
          </div>
          <mu-radio v-model="payType" :value="item.name" :disabled="loadingPayApi"
            color="primary" label-left>
          </mu-radio>
        </li>
      </ul>
    </div>
    <div class="bottom-btn">
      <mu-button color="primary" full-width large @click="confirm"
        v-loading="loadingPayApi"  data-mu-loading-size="24">确定
      </mu-button>
    </div>
    <mu-bottom-sheet :open.sync="zfbOpen" class="zfb" :overlay-close="!zfbPaying">
      <div class="zfb-header">
        <mu-button icon small @click="closeZfb">
          <mu-icon value="close"></mu-icon>
        </mu-button>
        <div class="zfb-title">
          <img class="zfb-title-icon" :src="zfbIcon">
          <span>确认付款</span>
        </div>
        <div class="zfb-ans"></div>
      </div>
      <div class="zfb-body">
        <div class="zfb-price">
          <em>￥</em>{{ price.toFixed(2) }}
        </div>
        <ul class="zfb-infos">
          <li class="zfb-info">
            <span>订单信息</span>
            <span>账单</span>
          </li>
          <li class="zfb-info">
            <span>付款方式</span>
            <span>{{ zfbPayType }}</span>
          </li>
        </ul>
        <div class="zfb-tips">正在使用当面花服务, 详情请查看花呗频道</div>
      </div>
      <div class="zfb-footer" @click="pay">
        <img class="zfb-zw" :src="zwIcon">
        <span>{{ zfbZWText }}</span>
        <em v-show="!zfbPaying">输入密码</em>
      </div>
    </mu-bottom-sheet>
  </div>
</template>

<script>
import { mapMutations } from 'vuex'
import * as mutationTypes from '@/store/mutation-types'
import wxIcon from '@/assets/images/pay/微信.png'
import zfbIcon from '@/assets/images/pay/支付宝.png'
import zwIcon from '@/assets/images/pay/指纹.png'
import { random, getSum } from '@/utils/utils'
import BigNumber from 'bignumber.js'

const payTypeList = [
  { name: '支付宝', img: zfbIcon },
  { name: '微信支付', img: wxIcon }
]

export default {
  name: 'BillPay',
  data: () => ({
    payType: '支付宝',
    payTypeList,
    loadingPayApi: false,
    zfbOpen: false,
    zfbZWText: '请验证指纹或者',
    zfbPaying: false,
    zfbIcon,
    zfbPayType: '花呗',
    zwIcon,
    bill: {
      id: -1,
      room: {},
      roomType: {},
      source: {},
      waterList: [],
      elecList: [],
      rentList: [],
      depositList: []
    }
  }),
  computed: {
    price () {
      if (this.bill.id === -1) return 0
      let total = new BigNumber(0)
      total = total.plus(this.sum(this.bill.waterList))
      total = total.plus(this.sum(this.bill.elecList))
      total = total.plus(this.sum(this.bill.rentList))
      total = total.plus(this.sum(this.bill.depositList))
      return total
    }
  },
  methods: {
    sum (list) {
      if (!list) return 0
      return getSum(list, 'price')
    },
    changeType (type) {
      if (this.loadingPayApi) {
        return
      }
      this.payType = type
    },
    confirm () {
      if (this.payType === '微信支付') {
        return this.$alert('暂时不支持微信支付')
      }
      // this.zfbOpen = true
      this.loadingPayApi = true
      setTimeout(() => {
        this.loadingPayApi = false
        this.zfbOpen = true
      }, Math.random() * 2000)
    },
    closeZfb () {
      if (this.zfbPaying) {
        return
      }
      this.zfbOpen = false
    },
    pay () {
      this.zfbPaying = true
      this.zfbZWText = '正在验证指纹...'
      setTimeout(() => {
        this.zfbZWText = '正在支付...'
        setTimeout(async () => {
          try {
            await this.$api.bill.pay(this.bill.id)
            this.setForbid(false)
            this.$router.replace({
              name: 'bill-paid',
              query: { id: this.bill.id, price: this.price }
            })
          } catch (err) {
            this.$toast.message(err.message)
            this.$router.go(-1)
          }
        }, Math.random() * 2000)
      }, random(500, 1000))
    },
    async initBill () {
      try {
        const id = this.$route.query.id
        if (!id) throw new Error('无法访问页面')
        this.bill = await this.$api.bill.getDetail(id)
      } catch (err) {
        this.$toast.message(err.message)
        this.$router.replace({ name: 'home' })
      }
    },
    ...mapMutations({
      showNav: mutationTypes.SHOW_NAV,
      setForbid: mutationTypes.SET_FORBID
    })
  },
  created () {
    this.initBill()
    this.showNav(false)
    this.setForbid(true)
  }
}
</script>

<style lang="scss" scoped>
.wrapper {
  padding: 53px 0 56px;
}
.price {
  margin: 20px 15px 0;
  border-radius: 10px;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.1);
  background-color: white;
  border-left: 10px solid #ea7777;
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  color: #ea7777;
  font-weight: bold;
  line-height: 80px;
  padding: 0 30px 0 20px;
}
.pay {
  margin: 10px 15px 0;
  border-radius: 10px;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.1);
  background-color: white;
  padding: 20px;
  .title {
    font-size: 14px;
    color: #666;
  }
  .pay-type {
    padding: 0;
    margin: 0;
    list-style: none;
  }
  .pay-type-item {
    padding: 20px 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .pay-type-method {
    display: flex;
    align-items: center;
    line-height: 40px;
  }
  .pay-type-img {
    width: 30px;
    height: 30px;
    margin-right: 20px;
  }
}
.bottom-btn {
  position: fixed;
  bottom: 0;
  left: 0;
  padding: 15px;
  width: 100%;
}
.zfb {
  .zfb-header {
    color: #999;
    display: flex;
    justify-content: space-between;
    padding: 2px 5px;
    border-bottom: 1px solid #eee;
    .zfb-title {
      display: flex;
      align-items: center;
      .zfb-title-icon {
        width: 18px;
        height: 18px;
        margin-right: 5px;
      }
      span {
        color: #222;
        font-size: 16px;
      }
    }
    .zfb-ans {
      width: 18px;
      height: 18px;
      margin: 7px;
      border: 1px solid #1296db;
      border-radius: 100%;
      text-align: center;
      line-height: 18px;
      &::after {
        content: '?';
        color: #1296db;
      }
    }
  }
  .zfb-body {
    padding: 40px 0 70px;
    .zfb-price {
      font-size: 34px;
      color: #333;
      padding: 0 0 10px;
      text-align: center;
      em {
        font-size: 18px;
        font-style: normal;
      }
    }
    .zfb-infos {
      padding: 0;
      margin: 0;
      list-style: none;
    }
    .zfb-info {
      padding: 10px 20px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      span:first-of-type {
        color: #999;
      }
      &:not(:last-of-type) {
        border-bottom: 1px solid #eee;
      }
    }
    .zfb-tips {
      background-color: #eee;
      line-height: 40px;
      padding: 0 20px;
      border: 1px solid #e9e9e9;
      position: relative;
      &::before, &::after {
        content: '';
        position: absolute;
        width: 0;
        height: 0;
        display: block;
        border-style: solid;
        position: absolute;
      }
      &::before {
        top: -9px;
        left: 37px;
        border-width: 0 9px 9px;
        border-color: transparent transparent #e9e9e9;
      }
      &::after {
        top: -8px;
        left: 38px;
        border-width: 0 8px 8px;
        border-color: transparent transparent #eee;
      }
    }
  }
  .zfb-footer {
    background-color: #eee;
    border-top: 1px solid #e9e9e9;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
    span {
      margin: 0 5px;
      color: #666;
    }
    em {
      font-style: normal;
      color: #1296db;
    }
    .zfb-zw {
      width: 32px;
      height: 32px;
    }
  }
}
</style>
