<template>
  <div class="wrapper">
    <topbar fixed>
      <mu-button icon slot="left" @click="$router.go(-1)">
        <mu-icon value="chevron_left"></mu-icon>
      </mu-button>
      <div slot="center">社区活动</div>
    </topbar>
    <router-link
      class="card"
      :to="{ name: 'activity-detail', query: { id: item.id || item } }"
      v-for="item in list"
      :key="item.id || item">
      <mu-ripple>
        <img class="picture" :src="defaultPicture">
        <div class="status" :class="{ active: status === '正在进行' }">{{ status }}</div>
        <div class="title">
          <div class="source">艾住-铁道学院店</div>
        </div>
        <div class="info">
          <mu-icon value="alarm" size="18"></mu-icon>
          <span>2019年5月11日 10:11 - 2019年6月3日 10:11</span>
        </div>
        <div class="info">
          <mu-icon value="location_on" size="18"></mu-icon>
          <span>长沙市天心区韶山南路68号</span>
        </div>
      </mu-ripple>
    </router-link>
  </div>
</template>

<script>
import { mapMutations } from 'vuex'
import * as mutationTypes from '@/store/mutation-types'
import defaultPicture from '@/assets/images/default.png'

export default {
  name: 'ActivityList',
  data: () => ({
    defaultPicture,
    list: [0, 1, 2]
  }),
  computed: {
    status () {
      return '已结束'
    }
  },
  methods: {
    ...mapMutations({
      showNav: mutationTypes.SHOW_NAV
    })
  },
  created () {
    this.showNav(true)
  }
}
</script>

<style lang="scss" scoped>
.wrapper {
  padding: 53px 0 56px;
}
.card {
  position: relative;
  margin-bottom: 10px;
  background-color: #fff;
  display: block;
}
.picture {
  width: 100%;
  height: 230px;
  display: block;
}
.status {
  position: absolute;
  left: 0;
  top: 180px;
  background-color: #00000066;
  border-radius: 0 15px 15px 0;
  line-height: 30px;
  padding: 0 15px;
  width: 90px;
  color: #ddd;
  &.active {
    background-color: #ea7777aa;
  }
}
.title {
  padding: 10px 15px 0;
  line-height: 30px;
  font-size: 18px;
  color: #333;
}
.info {
  font-size: 12px;
  color: #999;
  padding: 0 15px 0;
  line-height: 20px;
  .mu-icon, span {
    margin-right: 5px;
    vertical-align: middle;
  }
}
</style>
