<template>
  <div class="wrapper">
    <topbar fixed>
      <mu-button icon slot="left" @click="$router.go(-1)">
        <mu-icon value="chevron_left"></mu-icon>
      </mu-button>
      <div slot="center">活动详情</div>
    </topbar>
    <my-image full-width :height="265" type="sharp" :src="activity.cover"></my-image>
    <div class="title">{{ activity.title }}</div>
    <div class="source">{{ activity.source.name }}</div>
    <ul class="infos">
      <li class="info">
        <mu-icon value="alarm" size="18"></mu-icon>
        <span>{{ parseDate(activity.dateStart, activity.dateEnd) }}</span>
      </li>
      <li class="info">
        <mu-icon value="location_on" size="18"></mu-icon>
        <span>{{ activity.source.location }}</span>
      </li>
      <li class="info">
        <mu-icon value="phone" size="18"></mu-icon>
        <span>{{ activity.source.phone }}</span>
      </li>
      <li class="info">
        <mu-icon value="group" size="18"></mu-icon>
        <span>已有{{ countNum(activity.participates) }}人报名</span>
      </li>
    </ul>
    <whitespace padding="15px">
      <article v-html="activity.content"></article>
    </whitespace>
    <div class="footer">
      <a class="footer-box footer-shrink" :href="'tel:' + activity.source.phone">
        <mu-ripple>
          <div class="footer-container">
            <mu-icon value="phone" size="20"></mu-icon>
            <span>电话咨询</span>
          </div>
        </mu-ripple>
      </a>
      <div class="footer-box footer-grow" :class="{ active: !isAlreadyParticipate }">
        <mu-ripple @click="signClick">
          <div class="footer-container">
            <mu-icon value="language" size="20"></mu-icon>
            <span>{{ isAlreadyParticipate ? '取消报名' : '活动报名'}}</span>
          </div>
        </mu-ripple>
      </div>
    </div>
  </div>
</template>

<script>
import { mapMutations, mapGetters } from 'vuex'
import * as mutationTypes from '@/store/mutation-types'

export default {
  name: 'ActivityDetail',
  data: () => ({
    num: 0,
    activity: {
      title: '',
      participates: [],
      source: {}
    }
  }),
  computed: {
    isAlreadyParticipate () {
      return this.activity.participates.some(ap => {
        return ap.userId === this.user.id
          && ap.status === 0
      })
    },
    ...mapGetters(['user'])
  },
  methods: {
    countNum (list) {
      return list.reduce((pre, cur) => {
        return pre + (cur.status === 0 ? 1 : 0)
      }, 0)
    },
    signClick () {
      if (this.isAlreadyParticipate) {
        this.quitActivity()
      } else {
        this.joinActivity()
      }
    },
    async quitActivity () {
      const ans = await this.$confirm('确定要取消报名吗?')
      if (!ans.result) return
      try {
        await this.$api.community.quitActivity(this.activity.id)
        let delIndex = -1
        this.activity.participates.forEach((ap, index) => {
          if (ap.userId === this.user.id) {
            delIndex = index
          }
        })
        this.activity.participates.splice(delIndex, 1)
      } catch (err) {
        this.$toast.message(err.message)
      }
    },
    async joinActivity () {
      const ans = await this.$confirm('确定要报名吗?')
      if (!ans.result) return
      try {
        const ap = await this.$api.community.joinActivity(this.activity.id)
        this.activity.participates.push(ap)
      } catch (err) {
        this.$toast.message(err.message)
      }
    },
    parseDate (start, end) {
      if (!start || !end) return ''
      const startDate = this.$f(new Date(start), 'YYYY-MM-DD HH:mm')
      const endDate = this.$f(new Date(end), 'YYYY-MM-DD HH:mm')
      return startDate + ' 到 ' + endDate
    },
    async getActivityDetail (id) {
      this.activity = await this.$api.community.getActivityById(id)
    },
    ...mapMutations({
      showNav: mutationTypes.SHOW_NAV
    })
  },
  created () {
    const id = this.$route.query.id
    this.getActivityDetail(id)
    this.showNav(false)
  }
}
</script>

<style lang="scss" scoped>
.wrapper {
  padding: 53px 0 56px;
  background-color: white;
}
.title {
  font-size: 18px;
  line-height: 30px;
  padding: 0 15px;
}
.source {
  padding: 0 15px;
  line-height: 20px;
}
.infos {
  list-style: none;
  padding: 0 15px;
  margin: 10px 0;
}
.info {
  background-color: #eee;
  border-radius: 4px;
  font-size: 12px;
  color: #666;
  padding: 5px 10px;
  &:not(:last-of-type) {
    margin-bottom: 5px;
  }
  span, .mu-icon {
    vertical-align: middle;
    margin-right: 5px;
  }
}
.footer {
  display: flex;
  flex-flow: row nowrap;
  height: 53px;
  position: fixed;
  bottom: -1px;
  left: 0;
  z-index: 99;
  width: 100%;
  border-top: 1px solid #ddd;
  .footer-box {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
  }
  .footer-container {
    display: flex;
    align-items: center;
    text-align: center;
  }
  .footer-shrink {
    width: 70px;
    background-color: #ffffffee;
    font-size: 12px;
    color: #666;
    flex-shrink: 0;
    .footer-container {
      flex-flow: column nowrap;
    }
    .mu-icon {
      margin-bottom: 2px;
    }
  }
  .footer-grow {
    flex-grow: 1;
    background-color: #ffffffee;
    color: #666;
    &.active {
      color: #eee;
      background-color: #ea7777ee;
    }
    .footer-container {
      flex-flow: row nowrap;
    }
    .mu-icon {
      margin-right: 7px;
    }
  }
}
</style>
