<template>
  <div class="wrapper">
    <topbar fixed>
      <mu-button icon slot="left" @click="$router.go(-1)">
        <mu-icon value="chevron_left"></mu-icon>
      </mu-button>
      <div slot="center">艾住+</div>
    </topbar>
    <div class="card" v-for="item in list" :key="item.id" @click="goDetail(item.id)">
      <mu-ripple>
        <mu-flex direction="row" justify-content="between">
          <div class="info">
            <div class="title">{{ item.title }}</div>
            <div class="date">{{ $f(new Date(item.date), 'YYYY-MM-DD') }}</div>
          </div>
          <!-- <img class="cover" :src="defaultPicture"> -->
          <my-image class="cover" :width="120" :height="90" :src="item.cover"></my-image>
        </mu-flex>
      </mu-ripple>
    </div>
  </div>
</template>

<script>
import { mapMutations } from 'vuex'
import * as mutationTypes from '@/store/mutation-types'
// import defaultPicture from '@/assets/images/default.png'

export default {
  name: 'Article',
  data: () => ({
    // defaultPicture,
    list: []
  }),
  methods: {
    goDetail (id) {
      this.$router.push({ name: 'article-detail', query: { id } })
    },
    async getArticleList () {
      this.list = await this.$api.community.getArticleList()
    },
    ...mapMutations({
      showNav: mutationTypes.SHOW_NAV
    })
  },
  created () {
    this.getArticleList()
    this.showNav(true)
  }
}
</script>

<style lang="scss" scoped>
@import '~@/assets/scss/variable.scss';
@import '~@/assets/scss/mixin.scss';

.wrapper {
  padding: 53px 0 56px;
  background-color: white;
}
.card {
  padding: 15px;
  display: block;
  position: relative;
  &:not(:last-of-type) {
    @include halfPxLine;
  }
}
.cover {
  margin-left: 10px;
  flex-shrink: 0;
}
.info {
  height: 90px;
  display: flex;
  justify-content: space-between;
  flex-flow: column nowrap;
  .title {
    font-size: 16px;
    line-height: 25px;
    color: #333;
    height: 50px;
    @include mutiLineOverflow(2);
  }
  .date {
    line-height: 20px;
    color: #999;
  }
}
</style>
