<template>
  <div class="wrapper">
    <topbar fixed>
      <mu-button icon slot="left" @click="$router.go(-1)">
        <mu-icon value="chevron_left"></mu-icon>
      </mu-button>
      <div slot="center">文章详情</div>
    </topbar>
    <div class="banner">
      <h2 class="title">{{ article.title }}</h2>
      <my-image class="cover" mask :lazy="false" full-width :height="300" :src="article.cover"></my-image>
      <div class="source">
        <span>{{ article.source.name }}</span>
        <span>{{ $f(new Date(article.date), 'YYYY年MM月DD日') }}</span>
      </div>
    </div>
    <whitespace padding="15px">
      <article v-html="parseImage(article.content)"></article>
    </whitespace>
  </div>
</template>

<script>
import { mapMutations } from 'vuex'
import * as mutationTypes from '@/store/mutation-types'
import { parseImage } from '@/utils/utils'

export default {
  name: 'ArticleDetail',
  data: () => ({
    article: {
      title: '',
      content: '',
      date: 0,
      source: {}
    }
  }),
  methods: {
    async getArticleDetail (id) {
      this.article = await this.$api.community.getArticleById(id)
    },
    ...mapMutations({
      showNav: mutationTypes.SHOW_NAV
    }),
    parseImage
  },
  created () {
    const id = this.$route.query.id
    this.getArticleDetail(id)
    this.showNav(false)
  }
}
</script>

<style lang="scss" scoped>
@import '~@/assets/scss/variable.scss';
@import '~@/assets/scss/mixin.scss';

.wrapper {
  padding: 53px 0 56px;
}
.banner {
  position: relative;
  height: 300px;
  .cover {
    top: 0;
    left: 0;
    z-index: 1;
  }
  .title {
    position: absolute;
    margin: 0;
    z-index: 2;
    bottom: 70px;
    left: 0;
    padding: 0 15px;
    line-height: 40px;
    height: 80px;
    font-size: 28px;
    color: #eee;
    word-break: break-all;
    @include mutiLineOverflow(2);
    text-shadow: 0 0 10px rgba($color: #000000, $alpha: 0.3);
  }
  .source {
    position: absolute;
    left: 0;
    width: 100%;
    padding: 0 15px;
    bottom: 10px;
    z-index: 3;
    text-shadow: 0 0 5px rgba($color: #000000, $alpha: 0.3);
    span {
      color: #eee;
      line-height: 50px;
      margin-right: 10px;
      font-size: 14px;
      &:first-of-type {
        font-weight: bold;
      }
    }
  }
}
.article {
  padding: 15px;
  word-break: break-all;
  background-color: white;
}
</style>
