<template>
  <div class="community-wrapper">
    <my-image :src="banner" full-width :height="400" block type="sharp"></my-image>
    <whitespace>
      <rowlist
        :data="activityList"
        title="社区活动"
        sub-title="一群人的故事"
        @clickmore="openActivityList"
        @clickitem="openActivity">
      </rowlist>
    </whitespace>
    <whitespace>
      <rowlist
        :data="articleList"
        title="艾住+"
        sub-title="城市青年家"
        @clickmore="openArticleList"
        @clickitem="openArticle">
      </rowlist>
    </whitespace>
  </div>
</template>

<script>
import { mapMutations } from 'vuex'
import * as mutationTypes from '@/store/mutation-types'
import banner from '@/assets/images/community/艾住故事.png'
import defaultPicture from '@/assets/images/default.png'

export default {
  name: 'Community',
  data: () => ({
    banner,
    defaultPicture,
    activityList: [],
    articleList: []
  }),
  methods: {
    openActivityList () {
      this.$router.push({ name: 'activity-list' })
    },
    openArticleList () {
      this.$router.push({ name: 'article-list' })
    },
    openActivity (index) {
      const id = this.activityList[index].id || 1
      this.$router.push({ name: 'activity-detail', query: { id } })
    },
    openArticle (index) {
      const id = this.articleList[index].id || 1
      this.$router.push({ name: 'article-detail', query: { id } })
    },
    async getArticleList () {
      this.articleList = await this.$api.community.getArticleList()
    },
    async getActivityList () {
      this.activityList = await this.$api.community.getActivityList()
    },
    ...mapMutations({
      showNav: mutationTypes.SHOW_NAV
    })
  },
  created () {
    this.showNav(true)
    this.getArticleList()
    this.getActivityList()
  }
}
</script>

<style lang="scss" scoped>
@import '~@/assets/scss/variable.scss';
@import '~@/assets/scss/mixin.scss';

.community-wrapper {
  padding-bottom: 56px;
}
.card {
  margin-bottom: 10px;
  background-color: white;
  position: relative;
  padding: 15px;
}
.title {
  color: #333;
  font-size: 18px;
  font-weight: bold;
  line-height: 30px;
}
.sub-title {
  color: #999;
  line-height: 20px;
}
.list-wrapper {
  overflow-x: scroll;
  overflow-y: hidden;
  margin: 0 -15px;
  &::-webkit-scrollbar {
    display: none;
  }
}
.list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-flow: row nowrap;
}
.item {
  position: relative;
  padding: 15px 15px 10px;
}
.item-picture {
  width: 140px;
  height: 90px;
  display: block;
}
.item-name {
  padding-top: 10px;
  line-height: 20px;
  width: 140px;
  @include oneLineOverflow;
}
.more {
  position: absolute;
  right: 0;
  top: 15px;
}
</style>
