<template>
  <div class="wrapper">
    <topbar fixed>
      <mu-button icon slot="left" @click="$router.go(-1)">
        <mu-icon value="chevron_left"></mu-icon>
      </mu-button>
      <div slot="center">实名认证</div>
    </topbar>
    <whitespace margin="15px" padding="15px" radius shadow>
      <div class="whitespace-title">身份证照片</div>
      <div class="card-container">
        <div class="card" @click="upLoadCard(0)">
          <my-image full-width :height="96"
            :src="auth.cardFront || cardFront">
          </my-image>
          <span>身份证 - 正面</span>
        </div>
        <div class="card" @click="upLoadCard(1)">
          <my-image full-width :height="96"
            :src="auth.cardBack || cardBack">
          </my-image>
          <span>身份证 - 背面</span>
        </div>
      </div>
      <article v-if="user.auth.status !== 1">
        <p indent>注意：请分别上传并确认证件正面和反面照片。认证成功后将无法修改。</p>
      </article>
    </whitespace>
    <whitespace margin="15px" padding="15px" radius shadow v-if="user.auth.status !== 0">
      <div class="whitespace-title">认证信息</div>
      <ul class="infos">
        <li class="info">
          <div class="info-left">认证状态</div>
          <div class="info-right">
            <em>{{ ['未认证', '已认证', '认证中'][user.auth.status] }}</em>
          </div>
        </li>
        <li class="info" v-if="user.auth.status === 1">
          <div class="info-left">认证机构</div>
          <div class="info-right">{{ user.auth.compName }}</div>
        </li>
        <li class="info" v-if="user.auth.status === 1">
          <div class="info-left">认证编号</div>
          <div class="info-right">{{ user.auth.compId }}</div>
        </li>
        <li class="info" v-if="user.auth.status === 1">
          <div class="info-left">认证时间</div>
          <div class="info-right">{{ $f(user.auth.date, 'YYYY年MM月DD日') }}</div>
        </li>
      </ul>
    </whitespace>
    <whitespace margin="15px" padding="15px" radius shadow v-if="user.auth.status === 1">
      <div class="whitespace-title">身份信息</div>
      <ul class="infos">
        <li class="info">
          <div class="info-left">真实姓名</div>
          <div class="info-right">{{ user.auth.name }}</div>
        </li>
        <li class="info">
          <div class="info-left">证件类型</div>
          <div class="info-right">{{ user.auth.cardType }}</div>
        </li>
        <li class="info">
          <div class="info-left">证件号</div>
          <div class="info-right">{{ user.auth.card }}</div>
        </li>
      </ul>
    </whitespace>
    <whitespace margin="15px" padding="15px" radius shadow v-if="user.auth.status !== 1">
      <div class="whitespace-title">身份信息</div>
      <mu-form :model="auth" label-position="left" label-width="80" ref="form">
        <mu-form-item prop="name" label="真实姓名" :rules="nameRules">
          <mu-text-field v-model="auth.name"></mu-text-field>
        </mu-form-item>
        <mu-form-item prop="cardType" label="证件类型" :rules="typeRules">
          <mu-select v-model="auth.cardType">
            <mu-option v-for="type in ['身份证']" :key="type" :label="type" :value="type"></mu-option>
          </mu-select>
        </mu-form-item>
        <mu-form-item prop="card" label="证件号" :rules="cardRules">
          <mu-text-field v-model="auth.card"></mu-text-field>
        </mu-form-item>
      </mu-form>
    </whitespace>
    <div class="foot-btn" v-if="user.auth.status !== 1">
      <mu-button full-width color="primary" large @click="submit">提交认证</mu-button>
    </div>
  </div>
</template>

<script>
import cardFront from '@/assets/images/auth/身份证正面.png'
import cardBack from '@/assets/images/auth/身份证背面.png'
import { mapGetters, mapMutations } from 'vuex'
import * as mutationTypes from '@/store/mutation-types'

export default {
  name: 'UserAuth',
  data: () => ({
    imageWidth: 0,
    auth: {
      name: '',
      card: '',
      cardType: '',
      cardFront: '',
      cardBack: ''
    },
    cardFront,
    cardBack,
    currentType: 0,
    nameRules: [
      { validate: (val) => !!val, message: '必须填写真实姓名' }
    ],
    typeRules: [
      { validate: (val) => !!val, message: '必须选择证件类型' }
    ],
    cardRules: [
      { validate: (val) => !!val, message: '必须填写证件号' }
    ]
  }),
  computed: {
    ...mapGetters(['user'])
  },
  methods: {
    changeCard (url) {
      if (this.currentType === 0) {
        this.auth.cardFront = url
      } else {
        this.auth.cardBack = url
      }
    },
    upLoadCard (type) {
      if (this.user.auth.status === 1) return
      this.currentType = type
      this.$root.$emit('openPictureUploader', `身份证${['正面', '反面'][type]}照`)
    },
    async submit () {
      const result1 = await this.$refs.form.validate()
      if (!result1) return
      if (this.auth.cardFront === '' || this.auth.cardBack === '') {
        return this.$alert('还没有上传照片!')
      }
      const result2 = await this.$confirm('确定要提交吗')
      if (!result2.result) return
      try {
        const auth = await this.$api.user.editAuth(this.auth)
        console.log('页面上的', auth)
        this.setAuth(auth)
      } catch (err) {
        this.$toast.message(err.message)
      }
    },
    ...mapMutations({
      showNav: mutationTypes.SHOW_NAV,
      setAuth: mutationTypes.SET_AUTH
    })
  },
  created () {
    this.showNav(false)
    this.$root.$on('pictureUploadComplete', this.changeCard)
    this.auth.name = this.user.auth.name || ''
    this.auth.cardType = this.user.auth.cardType || ''
    this.auth.card = this.user.auth.card || ''
    this.auth.cardFront = this.user.auth.cardFront || ''
    this.auth.cardBack = this.user.auth.cardBack || ''
  },
  beforeDestroy () {
    this.$root.$off('pictureUploadComplete', this.changeCard)
  }
}
</script>

<style lang="scss" scoped>
.wrapper {
  padding: 53px 0 0;
}
.whitespace-title {
  line-height: 18px;
  margin: 0 0 10px;
  font-size: 16px;
  padding-left: 5px;
  border-left: 3px solid #ea7777;
}
.card-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  .card {
    width: 48%;
    display: flex;
    flex-flow: column;
    align-items: center;
    span {
      font-size: 12px;
      color: #666;
      padding: 5px 0 0;
    }
  }
}
.infos {
  padding: 0;
  margin: 0;
  list-style: none;
  .info {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    line-height: 40px;
    &:not(:last-of-type) {
      border-bottom: 1px solid #eee;
    }
  }
  input.info-right {
    border: none;
    background: none;
    outline: none;
    box-shadow: none;
    text-align: right;
    flex-grow: 1;
  }
  em {
    font-style: normal;
    color: #ea7777;
  }
  span {
    padding: 4px 6px;
    font-size: 12px;
    margin-left: 5px;
    border: 1px solid #999;
    border-radius: 4px;
    sup {
      font-size: 12px;
      position: relative;
      top: -3px;
    }
  }
}
.foot-btn {
  margin: 15px 15px;
}
</style>
