<template>
  <div class="detail-wrapper">
    <topbar z-depth="0">
      <mu-button icon slot="left" @click="$router.go(-1)">
        <mu-icon value="chevron_left"></mu-icon>
      </mu-button>
      <div class="title" slot="center">个人资料</div>
    </topbar>
    <mu-list class="list">
      <mu-list-item avatar class="item" button @click="upload">
        <mu-list-item-title>头像</mu-list-item-title>
        <mu-list-item-action>
          <div class="item-right">
            <my-image :width="40" :height="40" :src="user.avatar" type="round"></my-image>
            <mu-icon value="chevron_right"></mu-icon>
          </div>
        </mu-list-item-action>
      </mu-list-item>
      <mu-divider></mu-divider>
      <mu-list-item class="item" button @click="changeInfo('name')">
        <mu-list-item-title>昵称</mu-list-item-title>
        <mu-list-item-action>
          <div class="item-right">
            <div class="item-text">{{ user.name }}</div>
            <mu-icon value="chevron_right"></mu-icon>
          </div>
        </mu-list-item-action>
      </mu-list-item>
      <mu-divider></mu-divider>
      <mu-list-item class="item">
        <mu-list-item-title>手机号码</mu-list-item-title>
        <mu-list-item-action>
          <div class="item-right">
            <div class="item-text disabled">{{ user.phone }}</div>
          </div>
        </mu-list-item-action>
      </mu-list-item>
      <mu-divider></mu-divider>
      <mu-list-item class="item" button @click="changeInfo('desc')">
        <mu-list-item-title>个性签名</mu-list-item-title>
         <mu-list-item-action>
          <div class="item-right">
            <div class="item-text">{{ user.desc }}</div>
            <mu-icon value="chevron_right"></mu-icon>
          </div>
        </mu-list-item-action>
      </mu-list-item>
      <mu-divider></mu-divider>
      <mu-list-item class="item" button @click="changeInfo('email')">
        <mu-list-item-title>邮箱</mu-list-item-title>
         <mu-list-item-action>
          <div class="item-right">
            <div class="item-text">{{ user.email }}</div>
            <mu-icon value="chevron_right"></mu-icon>
          </div>
        </mu-list-item-action>
      </mu-list-item>
      <mu-divider></mu-divider>
      <mu-list-item class="item" button @click="$router.push({ name: 'profile-auth' })">
        <mu-list-item-title>实名认证</mu-list-item-title>
        <mu-list-item-action>
          <div class="item-right">
            <div class="item-text" v-show="user.auth.status === 1">{{ user.auth.name }}</div>
            <mu-icon value="chevron_right"></mu-icon>
          </div>
        </mu-list-item-action>
      </mu-list-item>
    </mu-list>
    <mu-container class="logout">
      <mu-button color="primary" large full-width @click="logout">退出登录</mu-button>
    </mu-container>
  </div>
</template>

<script>
import defaultAvatar from '@/assets/images/avatar1.jpg'
import { mapGetters, mapMutations } from 'vuex'
import * as mutationTypes from '@/store/mutation-types'
import { logout } from '@/api/collection/user'
import { isEmail, isNotEmpty } from '@/utils/utils'
// import { upload } from '@/api/collection/upload'

export default {
  name: 'ProfileDetail',
  data: () => ({
    defaultAvatar
  }),
  computed: {
    ...mapGetters(['user'])
  },
  methods: {
    upload () {
      this.$root.$emit('openPictureUploader', '修改头像')
    },
    async changeUserAvatar (url) {
      try {
        await this.$api.user.changeUserAvatar(url)
        this.setUserAvatar(url)
      } catch (err) {
        this.$toast.message(err.message)
      }
    },
    logout () {
      logout().then(() => {
        this.$toast.message('登出成功')
        this.setUser({})
        this.$router.push({ name: 'login-phone' })
      }).catch(err => this.$toast.message(err.message))
    },
    async changeInfo (type) {
      const typeStr = {
        name: '昵称',
        email: '邮箱',
        desc: '个性签名'
      }[type] || ''
      const { result, value } = await this.$prompt('修改' + typeStr, {
        inputValue: this.user[type],
        validator: val => type === 'email'
          ? { valid: isEmail(val), message: '请输入正确的邮箱' }
          : { valid: isNotEmpty(val), message: typeStr + '不能为空' }
      })
      !result
        || this.user[type] === value
        || this.setUser({ [type]: value })
        || this.$api.user.editUser(this.user)
    },
    ...mapMutations({
      setUser: mutationTypes.SET_USER,
      setUserAvatar: mutationTypes.SET_USER_AVATAR,
      showNav: mutationTypes.SHOW_NAV
    })
  },
  created () {
    this.showNav(true)
    this.$root.$on('pictureUploadComplete', this.changeUserAvatar)
  },
  beforeDestroy () {
    this.$root.$off('pictureUploadComplete', this.changeUserAvatar)
  }
}
</script>

<style lang="scss" scoped>
@import '~@/assets/scss/variable.scss';
@import '~@/assets/scss/mixin.scss';

.list {
  padding: 0;
}
.item {
  background-color: #fff;
  // &:not(:last-of-type) {
  //   // border-bottom: 1px solid #ddd;
  //   @include halfPxLine;
  // }
}
.item-right {
  display: flex;
  flex-flow: row;
  align-items: center;
}
.item-text {
  font-size: 16px;
  color: rgba(0,0,0,.87);
  width: 190px;
  text-align: right;
  @include oneLineOverflow;
  &.disabled {
    color: #aaa;
    padding-right: 24px;
  }
}
.logout {
  padding: 20px 15px;
}
.mu-divider {
  background-color: rgba(0, 0, 0, 0.05)
}
</style>
