<template>
  <div class="info-wrapper">
    <whitespace>
      <mu-ripple class="user" @click="$router.push({ name: 'profile-detail' })">
        <my-image :width="60" :height="60" :src="user.avatar" type="round"></my-image>
        <div class="info">
          <div class="top">
            <div class="name">{{ user.name || '请登陆' }}</div>
            <div class="approve" v-if="user.auth && user.auth.status === 1">
              <mu-icon size="16" value="beach_access" :color="$color.primary"></mu-icon>
              小雨伞信用认证 >
            </div>
            <div class="approve" v-else>
              <mu-icon size="16" value="beach_access" :color="$color.danger"></mu-icon>
              身份未认证 >
            </div>
          </div>
          <div class="description">{{ user.desc || '这个人懒死了，什么都没有留下...' }}</div>
        </div>
      </mu-ripple>
      <div class="title">常用功能</div>
      <div class="app-group">
        <div class="app-wrapper" v-for="app in appList[0]" :key="app.name">
          <mu-badge v-if="app.name === '消息箱'" content="12" circle color="primary"
            class="message-badge-wrapper">
          </mu-badge>
          <mu-ripple class="app" @click="go(app.target)">
            <mu-icon size="20" :value="app.icon" :color="$color.blackl"></mu-icon>
            <div class="text">{{ app.name }}</div>
          </mu-ripple>
        </div>
      </div>
      <div class="app-group">
        <div class="app-wrapper" v-for="app in appList[1]" :key="app.name">
          <mu-ripple class="app" @click="go(app.target)">
            <mu-icon size="20" :value="app.icon" :color="$color.blackl"></mu-icon>
            <div class="text">{{ app.name }}</div>
          </mu-ripple>
        </div>
      </div>
    </whitespace>
    <whitespace>
      <div class="app-group">
        <div class="app-wrapper" v-for="app in appList[2]" :key="app.name">
          <mu-ripple class="app" @click="go(app.target)">
            <mu-icon size="20" :value="app.icon" :color="$color.blackl"></mu-icon>
            <div class="text">{{ app.name }}</div>
          </mu-ripple>
        </div>
      </div>
    </whitespace>
    <whitespace>
      <div class="app-group">
        <div class="app-wrapper" v-for="app in appList[3]" :key="app.name">
          <mu-ripple class="app" @click="go(app.target)">
            <mu-icon size="20" :value="app.icon" :color="$color.blackl"></mu-icon>
            <div class="text">{{ app.name }}</div>
          </mu-ripple>
        </div>
      </div>
    </whitespace>
    <whitespace>
      <mu-list>
        <mu-list-item button>
          <mu-list-item-title>服务评价</mu-list-item-title>
          <mu-list-item-action>
            <mu-icon value="keyboard_arrow_right"></mu-icon>
          </mu-list-item-action>
        </mu-list-item>
        <mu-list-item button :to="{ name: 'feedback' }">
          <mu-list-item-title>意见反馈</mu-list-item-title>
          <mu-list-item-action>
            <mu-icon value="keyboard_arrow_right"></mu-icon>
          </mu-list-item-action>
        </mu-list-item>
        <mu-list-item button :to="{ name: 'about' }">
          <mu-list-item-title>关于我们</mu-list-item-title>
          <mu-list-item-action>
            <mu-icon value="keyboard_arrow_right"></mu-icon>
          </mu-list-item-action>
        </mu-list-item>
      </mu-list>
    </whitespace>
  </div>
</template>

<script>
import * as mutationTypes from '@/store/mutation-types'
import { mapGetters, mapMutations } from 'vuex'
import defaultAvatar from '@/assets/images/avatar1.jpg'

const appList = [
  [
    { target: 'bill-list', name: '账单', icon: 'account_balance_wallet' },
    { target: 'contract-list', name: '合同', icon: 'assignment' },
    { target: 'error-404', name: '智能门锁', icon: 'location_city' },
    { target: 'profile-message', name: '消息箱', icon: 'receipt' }
  ],
  [
    { target: 'source-find', name: '地图找房', icon: 'location_on' },
    { target: 'repair-list', name: '报修', icon: 'build' },
    { target: 'bill-meter', name: '水电表读数', icon: 'flash_on' },
    { target: 'community', name: '发现', icon: 'track_changes' }
  ],
  [
    { target: 'reserve-list', name: '我的预约', icon: 'event_available' },
    { target: 'preorder-list', name: '我的预定', icon: 'event_note' },
    { target: 'profile-collection', name: '我的收藏', icon: 'favorite' },
    { target: 'profile-coupon', name: '我的优惠券', icon: 'style' }
  ],
  [
    { target: 'home', name: '控制台', icon: 'dashboard' },
    { target: 'source-list', name: '附近', icon: 'free_breakfast' },
    { target: 'profile-auth', name: '认证', icon: 'verified_user' },
    { target: 'profile-detail', name: '设置', icon: 'settings' }
  ]
]

export default {
  name: 'Info',
  data: () => ({
    appList,
    defaultAvatar
  }),
  computed: {
    ...mapGetters(['user'])
  },
  methods: {
    go (name) {
      this.$router.push({ name })
    },
    ...mapMutations({
      showNav: mutationTypes.SHOW_NAV
    })
  },
  created () {
    this.showNav(true)
  }
}
</script>

<style lang="scss" scoped>
@import '~@/assets/scss/variable.scss';
@import '~@/assets/scss/mixin.scss';

.info-wrapper {
  padding-bottom: 56px;
}

.user {
  @include halfPxLine;
  position: relative;
  padding: 30px 15px;
  display: flex;
  .image {
    margin-right: 15px;
  }
  .info {
    width: calc(100vw - 45px - 60px);
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    height: 60px;
    .top {
      display: flex;
      align-items: center;
      .name {
        font-size: 20px;
        font-weight: bold;
        width: calc(100vw - 45px - 60px - 120px);
        @include oneLineOverflow;
      }
      .approve {
        display: flex;
        align-items: center;
        font-size: 12px;
        width: 120px;
        justify-content: flex-end;
      }
    }
    .description {
      @include oneLineOverflow;
    }
  }
}
.title {
  @include halfPxLine;
  padding: 0 15px;
  line-height: 45px;
  font-size: 16px;
}
.app-group {
  display: flex;
  .app-wrapper {
    position: relative;
  }
  .app {
    display: flex;
    align-items: center;
    flex-flow: column nowrap;
    justify-content: center;
    width: 25vw;
    height: 70px;
    .text {
      color: $-color-black-l;
      padding-top: 5px;
    }
  }
  .message-badge-wrapper {
    position: absolute;
    top: -3px;
    left: 50%;
  }
}
.mu-list {
  padding: 0;
  li:not(:last-of-type) {
    position: relative;
    @include halfPxLine;
  }
}
</style>
