<template>
  <div class="wrapper">
    <topbar z-depth="0">
      <mu-button icon slot="left" @click="$router.go(-1)">
        <mu-icon value="chevron_left"></mu-icon>
      </mu-button>
      <div class="title" slot="center">消息</div>
    </topbar>
  </div>
</template>
