<template>
  <div class="phone-wrapper">
    <mu-button large icon class="close" @click="$router.go(-1)" color="#9e9e9e">
      <mu-icon value="clear"></mu-icon>
    </mu-button>
    <img class="logo" :src="img.logo" @click="rootLogin">
    <mu-form ref="form" :model="validateForm" label-position="left"
      label-width="60" class="form">
      <mu-form-item class="phone-number" label="手机号" prop="phone" :rules="phoneRules">
        <mu-text-field type="number" v-model="validateForm.phone" prop="phone"
          underline-color="primary">
        </mu-text-field>
        <mu-button class="btn-code" small flat @click="sendCode"
          :disabled="disable || !isPhoneNumber(validateForm.phone)">
          {{ btnText }}
        </mu-button>
      </mu-form-item>
      <mu-form-item label="验证码" prop="authcode" :rules="authcodeRules">
        <mu-text-field type="number" v-model="validateForm.authcode" prop="authcode"
          underline-color="primary">
        </mu-text-field>
      </mu-form-item>
      <div class="login">
        <mu-button full-width @click="submit">立即登录</mu-button>
        <p class="agree-text">登录注册表示同意<em>用户协议、隐私条款</em></p>
      </div>
    </mu-form>
    <div class="third">
      <div class="title">第三方登录</div>
      <mu-flex align-items="center" justify-content="around">
        <mu-button icon @click="thirdLogin('qq')">
          <img class="icon" :src="icon.iconQQ">
        </mu-button>
        <mu-button icon @click="thirdLogin('wx')">
          <img class="icon" :src="icon.iconWX">
        </mu-button>
        <mu-button icon @click="thirdLogin('wb')">
          <img class="icon" :src="icon.iconWB">
        </mu-button>
      </mu-flex>
    </div>
  </div>
</template>

<script>
import logo from '@/assets/images/艾住-浅色背景w200.png'
import iconQQ from '@/assets/images/login/qq.png'
import iconWX from '@/assets/images/login/weixin.png'
import iconWB from '@/assets/images/login/weibo.png'
import * as userApi from '@/api/collection/user'
import { mapMutations } from 'vuex'
import * as mutationTypes from '@/store/mutation-types'
import * as rulers from '@/utils/utils'

export default {
  name: 'Phone',
  data: () => ({
    img: { logo },
    icon: { iconQQ, iconWX, iconWB },
    phoneRules: [
      { validate: rulers.isNotEmpty, message: '必须填写手机号码' },
      { validate: rulers.isPhone, message: '请填写正确的手机号码' }
    ],
    authcodeRules: [
      { validate: rulers.isNotEmpty, message: '必须填写验证码' },
      { validate: rulers.isCode, message: '请填写6位验证码' }
    ],
    validateForm: {
      phone: '',
      authcode: ''
    },
    disable: false,
    countdown: 60,
    clickCount: 0
  }),
  computed: {
    btnText () {
      return this.disable
        ? this.countdown + '秒后重试'
        : '获取验证码'
    }
  },
  methods: {
    submit () {
      this.$refs.form.validate().then(pass => {
        pass && userApi.login(this.validateForm.phone, this.validateForm.authcode).then(user => {
          console.log('登录成功')
          this.setUser(user)
          this.$router.go(-1)
        }).catch(err => {
          this.$alert(err.message)
        })
      })
    },
    disableButton () {
      this.disable = true
      this.countdown = 60
      this.inter = setInterval(() => {
        this.countdown -= 1
        if (this.countdown <= 0) {
          clearInterval(this.inter)
          this.disable = false
        }
      }, 1000)
    },
    sendCode () {
      this.disableButton()
      userApi.getVerifyCode(this.validateForm.phone).then(() => {
        console.log('发送code成功')
      }).catch(err => {
        console.log('发送code失败' + err.message)
      })
    },
    isPhoneNumber (number) {
      return rulers.isPhone(number)
    },
    thirdLogin (type) {
      this.$alert('暂时不支持第三方登录', '很抱歉', { okLabel: '知道了' })
    },
    async rootLogin () {
      this.clickCount++
      if (this.clickCount >= 10) {
        const user = await this.$api.user.loginWithRoot()
        this.setUser(user)
        this.$router.go(-1)
      } else {
        console.log(`再点击 ${10 - this.clickCount} 次使用管理员账户登录`)
      }
    },
    ...mapMutations({
      setUser: mutationTypes.SET_USER,
      showNav: mutationTypes.SHOW_NAV
    })
  },
  created () {
    this.showNav(false)
  }
}
</script>

<style lang="scss" scoped>
@import '~@/assets/scss/variable.scss';
@import '~@/assets/scss/mixin.scss';

.phone-wrapper {
  background-color: white;
  text-align: center;
  height: 100vh;
  position: relative;
}
.close {
  position: absolute;
  left: 5px;
  top: 5px;
}
.logo {
  width: 100px;
  margin: 40px 0 20px;
}
.form {
  text-align: left;
  // padding: 0 60px 0 20px;
  padding: 0 40px;
}
.login {
  padding: 20px 0 5px;
}
.phone-number {
  position: relative;
}
.btn-code {
  position: absolute;
  right: -17px;
  bottom: 7px;
}
.agree-text {
  font-size: 12px;
  padding: 12px 0;
  margin: 0;
  em {
    color: red;
    font-style: normal;
  }
}
.third {
  position: relative;
  z-index: 1;
  padding: 0 40px;
  .title {
    font-size: 12px;
    color: $-color-black-l;
    padding-bottom: 10px;
  }
  .icon {
    width: 30px;
  }
}
// .bg {
//   width: 60%;
//   position: absolute;
//   bottom: -15px;
//   left: 20%;
//   z-index: 0;
// }
</style>
