<template>
  <div class="wrapper">
    <topbar fixed>
      <mu-button icon slot="left" @click="$router.go(-1)">
        <mu-icon value="chevron_left"></mu-icon>
      </mu-button>
      <div slot="center">预定</div>
    </topbar>
    <whitespace class="tab" shadow>
      <mu-tabs :value.sync="activeStep" full-width>
        <mu-tab :disabled="checkStep < 0">预定选房</mu-tab>
        <mu-tab :disabled="checkStep < 1">租约信息</mu-tab>
        <mu-tab :disabled="checkStep < 2">预定协议</mu-tab>
        <mu-tab :disabled="checkStep < 3">确定提交</mu-tab>
      </mu-tabs>
    </whitespace>
    <!-- step 0 start -->
    <div class="step-0" v-show="activeStep === 0">
      <whitespace>
        <div class="item" @click="openSourceSelect">
          <label class="item-left">房源项目</label>
          <div class="item-right">
            <span>{{ form.source.name || '' }}</span>
            <mu-icon value="chevron_right" color="primary"></mu-icon>
          </div>
        </div>
        <div class="item">
          <label class="item-left">房间代码</label>
          <div class="item-right">
            <input placeholder="请输入两位以上的房间查询码" type="text" v-model="roomCode" @keyup.enter="searchRoom">
            <mu-icon value="chevron_right" color="primary"></mu-icon>
          </div>
        </div>
      </whitespace>
      <whitespace padding="15px 15px 0">
        <div class="whitespace-title">可选房间</div>
        <ul class="room-list">
          <li class="room-item" v-for="room in roomList" :key="room.id"
            :class="{ disabled: room.status !== 0, active: room === form.room }">
            <mu-ripple @click="selectRoom(room)">
              <div class="room-wrapper">
                <div class="room-name">{{ room.name }}</div>
                <div class="room-price"><em>{{ room.type.price }}</em>元/月</div>
              </div>
            </mu-ripple>
            <div class="room-status">
              {{ room.status === 10 ? '不可用' : ['可预订', '被预定', '租赁中'][room.status] }}
            </div>
          </li>
        </ul>
        <empty-list-holder v-show="roomList.length === 0">没有可预定房间噢</empty-list-holder>
      </whitespace>
      <div class="next-step">
        <mu-button full-width color="primary" :disabled="!step0pass" @click="nextStep">
          确定选择
        </mu-button>
      </div>
    </div>
    <!-- step 0 end -->
    <!-- step 1 start -->
    <div class="step-1" v-show="activeStep === 1">
      <whitespace margin="0 15px 15px" padding="15px" radius shadow>
        <div class="whitespace-title">房间信息</div>
        <ul class="infos">
          <li class="info" v-if="!isEmptyObject(form.source)">
            <div class="info-left">门店</div>
            <div class="info-right">{{ form.source.name }}</div>
          </li>
          <li class="info" v-if="!isEmptyObject(form.room)">
            <div class="info-left">房间</div>
            <div class="info-right">
              <span>{{ form.room.name }}</span>
              <span>{{ form.room.type.name }}</span>
              <span>{{ form.room.type.size }}m<sup>2</sup></span>
            </div>
          </li>
          <li class="info" v-if="!isEmptyObject(form.room)">
            <div class="info-left">月租</div>
            <div class="info-right"><em>{{ form.room.type.price }}</em>元/月</div>
          </li>
          <li class="info" v-if="!isEmptyObject(form.source)">
            <div class="info-left">定金</div>
            <div class="info-right"><em>{{ form.source.deposit }}</em>元</div>
          </li>
          <li class="info">
            <div class="info-left">预定期限</div>
            <div class="info-right"><em>{{ deadline }}</em></div>
          </li>
        </ul>
      </whitespace>
      <whitespace margin="15px" padding="15px" radius shadow>
        <div class="whitespace-title">缴费约定</div>
        <ul class="infos">
          <li class="info">
            <div class="info-left">交费时间</div>
            <div class="info-right">每月7日23:59前</div>
          </li>
          <li class="info">
            <div class="info-left">房租</div>
            <div class="info-right">3个月一交</div>
          </li>
          <li class="info">
            <div class="info-left">水电费</div>
            <div class="info-right">1个月一交</div>
          </li>
        </ul>
      </whitespace>
      <whitespace margin="15px" padding="15px" radius shadow>
        <div class="whitespace-title">合同费项</div>
        <ul class="infos">
          <li class="info" v-if="!isEmptyObject(form.room)">
            <div class="info-left">押金</div>
            <div class="info-right">{{ form.room.type.price }}元</div>
          </li>
          <li class="info">
            <div class="info-left">水费</div>
            <div class="info-right">10元/吨</div>
          </li>
          <li class="info">
            <div class="info-left">电费</div>
            <div class="info-right">1.35元/度</div>
          </li>
        </ul>
      </whitespace>
      <mu-alert color="primary" v-if="!step1pass">
        <mu-icon left value="warning"></mu-icon> 请确认你的房源和房间已经选择完毕
      </mu-alert>
      <div class="next-step">
        <mu-button full-width color="primary" :disabled="!step1pass" @click="nextStep">
          下一步
        </mu-button>
      </div>
    </div>
    <!-- step 1 end -->
    <!-- step 2 start -->
    <div class="step-2" v-show="activeStep === 2">
      <whitespace padding="15px">
        <div class="title">艾住预定须知</div>
        <article>
          <p class="indent">在预定艾住租赁产品前，请您仔细阅读本须知，并注意本须知及产品页面中的其他重要条款，所有该条款均作为双方协议的补充内容。当您开始预定时，即表明您已经仔细阅读并接受本协议的所有条款。</p>
          <p class="indent">特别提示：艾住租赁服务仅通过艾住APP提供，所有预定服务均有客户本人在本APP上完成。该服务从未交由第三方中介或个人代理，请勿轻信他人关于可以代定本公寓房间的宣传。</p>
          <p>1、预定方式</p>
          <p class="indent">在APP主页面，点击预定，点击右上角加号，按流程选择房间，并填写个人信息进行预定。每个预定需关联到具体房间，不接受不选房的预定。</p>
          <p class="indent">定金支付成功为预定成功的唯一标准，定金支付失败则代表预定失败。</p>
          <p class="indent">请通过艾住APP支付定金并完成订房手续。</p>
          <p>2、支付预定金标准</p>
          <p class="indent">{{ isEmptyObject(form.source) ? '' : form.source.name + '：' }}<em>￥{{ form.source.deposit || 0 }}元/间</em></p>
          <p>3、关于预定取消</p>
          <p class="indent"><em>一旦预定提交并交纳定金后，预定无法取消，若执意取消，定金不予退还。</em></p>
          <p>4、签约时间</p>
          <p class="indent">预定后30天内，承租人必须完成合同签订，若因个人原因不按时签约者，定金不予退还，我方有权将所预定房间出租给第三方而不作任何通知。</p>
          <p>5、免责条款</p>
          <p class="indent">（1）不可抗力因素</p>
          <p class="indent">因自然、社会不可抗力因素（如台风、地震、战争、政府法令调整等）致使客人不能入住的，全额退还定金。同时因不可抗力对客人入住造成影响的，艾住不承担责任，但可以尽力为客人提供必要的帮助。</p>
          <p class="indent">（2）不可控因素</p>
          <p class="indent">因市政、物业、装修、设备意外等不可控因素（如停水、停电及家具家电意外质量问题）影响客人入住的，艾住在力所能及的方位内，为客人提供修缮，整改或调换房间。</p>
          <p class="indent">在无法短时间内完成绣上，造成客人无法入住且无房可以调换时，全额退还定金，但不承担其他赔偿责任。</p>
          <p class="indent">客人入住期间发生的意外人身伤害、财物损失，包括但不限于交通事故、游泳溺水、抢劫盗窃、高空落物、刑事伤害等，艾住不承担责任，但可以尽力配合有关部门处理。</p>
          <p class="indent">艾住保留对以上注意事项、服务内容、免责条款的解释权。</p>
        </article>
        <div class="confirm-protocol">
          <mu-checkbox v-model="confirmProtocol" label="已阅读并同意《艾住预定须知》" color="primary"></mu-checkbox>
        </div>
      </whitespace>
      <div class="next-step">
        <mu-button full-width color="primary" @click="nextStep" :disabled="!step2pass">
          下一步
        </mu-button>
      </div>
    </div>
    <!-- step 2 end -->
    <!-- step 3 start -->
    <div class="step-3" v-show="activeStep === 3">
      <whitespace margin="0 15px 15px" padding="15px" radius shadow>
        <div class="whitespace-title">预定信息</div>
        <ul class="infos">
          <li class="info" v-if="!isEmptyObject(form.source)">
            <div class="info-left">门店</div>
            <div class="info-right">{{ form.source.name }}</div>
          </li>
          <li class="info" v-if="!isEmptyObject(form.room)">
            <div class="info-left">房间</div>
            <div class="info-right">
              <span>{{ form.room.name }}</span>
              <span>{{ form.room.type.name }}</span>
              <span>{{ form.room.type.size }}m<sup>2</sup></span>
            </div>
          </li>
          <li class="info" v-if="!isEmptyObject(form.room)">
            <div class="info-left">月租</div>
            <div class="info-right"><em>{{ form.room.type.price }}</em>元/月</div>
          </li>
          <li class="info" v-if="!isEmptyObject(form.source)">
            <div class="info-left">定金</div>
            <div class="info-right"><em>{{ form.source.deposit }}</em>元</div>
          </li>
          <li class="info">
            <div class="info-left">预定期限</div>
            <div class="info-right"><em>{{ deadline }}</em></div>
          </li>
        </ul>
      </whitespace>
      <whitespace margin="15px" padding="15px" radius shadow>
        <div class="whitespace-title">个人信息</div>
        <ul class="infos">
          <li class="info">
            <div class="info-left">姓名</div>
            <input class="info-right" type="text" v-model="form.name" maxlength="16">
          </li>
          <li class="info">
            <div class="info-left">大陆身份证</div>
            <input class="info-right" type="text" v-model="form.card" maxlength="18">
          </li>
          <li class="info">
            <div class="info-left">手机号</div>
            <input class="info-right" type="text" v-model="form.phone" maxlength="11">
          </li>
        </ul>
      </whitespace>
      <whitespace margin="15px" padding="15px" radius shadow>
        <div class="whitespace-title">温馨提示</div>
        <article>
          <p>1、房屋达到交付条件后，30日内需签署合同，若因个人原因无法按时签约，定金不予退还。</p>
          <p>2、签约成功后，定金在首期账单内抵扣。</p>
          <p>3、请认真核对信息，该信息将作为承租人签约信息，如果有误无法更改；若发现个人信息填写不符请联系该项目负责人。</p>
        </article>
      </whitespace>
      <whitespace margin="15px" padding="15px" radius shadow v-show="!step3pass">
        <div class="whitespace-title">填写存在的问题</div>
        <article>
          <p>只要还存在问题就无法提交预定信息。</p>
        </article>
        <ul class="not-pass-list">
          <li class="not-pass" v-show="isEmptyObject(form.source)">未选择房源</li>
          <li class="not-pass" v-show="isEmptyObject(form.room)">未选择房间</li>
          <li class="not-pass" v-show="!confirmProtocol">未同意协议</li>
          <li class="not-pass" v-show="form.name === ''">未填写预定人</li>
          <li class="not-pass" v-show="!isCard(form.card)">预定人身份证不正确</li>
          <li class="not-pass" v-show="!isPhone(form.phone)">预定人手机号不正确</li>
        </ul>
      </whitespace>
      <div class="next-step">
        <mu-button full-width color="primary" @click="submit" :disabled="!step3pass">
          提交
        </mu-button>
      </div>
    </div>
    <!-- step 3 end -->
    <mu-drawer class="source-select" width="300" :open.sync="drawerOpen" right :docked="false">
      <mu-menu placement="top" :open.sync="sourceMenuOpen">
        <mu-text-field
          v-model="sourceTemp"
          label="请输入您想要搜索的门店名称"
          full-width
          action-icon="search"
          @keyup.enter="searchSource">
        </mu-text-field>
        <mu-list slot="content">
          <mu-list-item button v-for="source in sourceSerchResult" :key="source.id"
            @click="selectSource(source)">
            <mu-list-item-title>{{ source.name }}</mu-list-item-title>
          </mu-list-item>
        </mu-list>
      </mu-menu>
      <div class="source-select-title">当前房源</div>
      <ul class="source-select-list">
        <li class="source-select-item active" v-show="!isEmptyObject(form.source)">
          <mu-ripple @click="drawerOpen = false">{{ form.source.name }}</mu-ripple>
        </li>
      </ul>
      <div class="source-select-title">附近房源</div>
      <ul class="source-select-list">
        <li class="source-select-item"
          v-for="source in nearbySource"
          :class="{ active: source.id === form.source.id }"
          :key="source.id">
          <mu-ripple @click="selectSource(source)">{{ source.name }}</mu-ripple>
        </li>
      </ul>
    </mu-drawer>
  </div>
</template>

<script>
import { mapMutations, mapGetters } from 'vuex'
import * as mutationTypes from '@/store/mutation-types'
import { isEmptyObject, isPhone, isCard } from '@/utils/utils'

export default {
  name: 'PreorderAdd',
  data: () => ({
    activeStep: 0,
    checkStep: 0,
    drawerOpen: false,
    sourceTemp: '', // 搜索用的储存位
    sourceMenuOpen: false, // 门店搜索结果是否显示
    nearbySource: [], // 附近的门店
    sourceSerchResult: [], // 搜索结果列表
    roomList: [],
    roomCode: '',
    confirmProtocol: false, // 是否认可协议
    form: {
      room: {}, // 当前被选中的房间
      source: {}, // 当前被选中的房源
      name: '',
      card: '',
      phone: ''
    },
    step1: {},
    step2: {},
    step3: {}
  }),
  computed: {
    deadline () {
      const currentDate = new Date()
      const nextDate = new Date()
      nextDate.setDate(currentDate.getDate() + 30)
      return this.$f(nextDate, 'YYYY-MM-DD')
    },
    step0pass () {
      return !isEmptyObject(this.form.source)
        && !isEmptyObject(this.form.room)
    },
    step1pass () {
      return !isEmptyObject(this.form.source)
        && !isEmptyObject(this.form.room)
    },
    step2pass () {
      return this.confirmProtocol
    },
    step3pass () {
      return !isEmptyObject(this.form.source)
        && !isEmptyObject(this.form.room)
        && this.confirmProtocol
        && this.form.name !== ''
        && isCard(this.form.card)
        && isPhone(this.form.phone)
    },
    ...mapGetters(['user', 'address'])
  },
  methods: {
    // 在drawer中点击搜索出或附近的房源
    selectSource (source) {
      this.form.source = source
      this.form.room = {}
      this.roomCode = ''
      this.roomList = []
      this.sourceMenuOpen = false
      this.drawerOpen = false
    },
    // 打开房源选择窗
    openSourceSelect () {
      this.drawerOpen = true
      this.sourceTemp = ''
    },
    selectRoom (room) {
      if (room.status === 0) {
        this.form.room = room
      }
    },
    // 搜索框搜索房源
    async searchSource () {
      this.sourceSerchResult = await this.$api.source.getListByName(this.sourceTemp)
    },
    // 用代码搜索房间
    async searchRoom () {
      if (this.roomCode.length < 2 || !this.form.source.id) {
        return
      }
      this.roomList = await this.$api.room.getListSafe(this.form.source.id, this.roomCode)
      this.roomList.length === 0
        && this.$toast.message('没有可用房间')
    },
    // 获取房间列表
    async getRoomList (id) {
      // this.roomList = await api.get(房间列表)
    },
    async submit () {
      if ((await this.$confirm('你确定要提交预定吗 ?')).result) {
        try {
          await this.$api.preordain.add({
            sourceId: this.form.source.id,
            roomId: this.form.room.id,
            roomTypeId: this.form.room.type.id,
            name: this.form.name,
            phone: this.form.phone,
            card: this.form.card
          })
          this.$toast.message('提交成功!')
          this.$router.replace({ name: 'preorder-list' })
        } catch (err) {
          this.$toast.message(err.message)
        }
      }
    },
    async initNearbySourceList () {
      try {
        this.nearbySource = await this.$api.source.getSourceList(this.address.city)
      } catch (err) {
        this.$toast.message(err.message)
        this.nearbySource = []
      }
    },
    // 下一步按钮
    nextStep () {
      this.activeStep++
      this.checkStep++
    },
    isEmptyObject,
    isPhone,
    isCard,
    ...mapMutations({
      showNav: mutationTypes.SHOW_NAV
    })
  },
  created () {
    this.showNav(false)
    this.form.name = this.user.name || ''
    this.form.phone = this.user.phone || ''
    this.form.card = isEmptyObject(this.user.auth || {}) ? '' : this.user.auth.card
    this.initNearbySourceList()
  }
}
</script>

<style lang="scss" scoped>
.wrapper {
  padding: 110px 0 0;
}
.tab {
  position: fixed;
  top: 53px;
  left: 0;
  z-index: 20;
  width: 100%;
  // box-shadow: 0 5px 10px 0 rgba($color: #000000, $alpha: 0.1);
}
.next-step {
  padding: 15px;
  position: relative;
  z-index: 10;
}
.step-0 {
  padding-bottom: 60px;
  .item {
    display: flex;
    justify-content: space-between;
    height: 50px;
    &:not(:last-of-type) {
      border-bottom: 1px solid #eee;
    }
  }
  .item-left {
    flex-shrink: 0;
    line-height: 50px;
    padding-left: 15px;
  }
  .item-right {
    flex-shrink: 0;
    display: flex;
    align-items: center;
    padding-right: 5px;
    .mu-icon {
      margin-left: 2px;
    }
    span {
      color: #999;
    }
    input {
      min-width: 200px;
      border: none;
      font-size: 14px;
      text-align: right;
      outline: none;
      box-shadow: none;
      color: #999;
    }
  }
  .whitespace-title {
    text-align: center;
    padding-bottom: 10px;
    margin: -5px -15px 0;
    border-bottom: 1px solid #eee;
  }
  .room-list {
    padding: 15px 0 0;
    margin: 0 -15px 0 0;
    list-style: none;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: center;
  }
  .room-name {
    font-size: 20px;
    font-weight: bold;
  }
  .room-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;
    width: 105px;
    height: 90px;
    padding-top: 20px;
  }
  .room-status {
    position: absolute;
    top: 5%;
    left: 0;
    line-height: 24px;
    background-color: #555;
    color: #eee;
    padding: 0 15%;
    font-size: 12px;
    &::after {
      content: "";
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-50%) translateX(100%);
      width: 0;
      height: 0;
      border-width: 12px 0 12px 12px;
      border-style: solid;
      border-color: transparent transparent transparent #555;
    }
  }
  .room-item {
    position: relative;
    border: 1px solid #555;
    flex-shrink: 0;
    margin-bottom: 15px;
    margin-right: 10px;
    border-radius: 7px;
    color: #555;
    &::before {
      content: "";
      width: 90%;
      height: 90%;
      position: absolute;
      left: 5%;
      top: 5%;
      border: 1px solid #555;
      border-radius: 5px;
    }
    &.active {
      border-color: #ea7777;
      color: #ea7777;
      &::before {
        border-color: #ea7777;
      }
      .room-status {
        background-color: #ea7777;
        &::after {
          border-color: transparent transparent transparent #ea7777;
        }
      }
    }
    &.disabled {
      border-color: #ccc;
      color: #ccc;
      &::before {
        border-color: #ccc;
      }
      .room-status {
        background-color: #ccc;
        &::after {
          border-color: transparent transparent transparent #ccc;
        }
      }
    }
  }
  .next-step {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
  }
}
.step-1, .step-3 {
  .whitespace-title {
    line-height: 18px;
    margin: 0 0 10px;
    font-size: 16px;
    padding-left: 5px;
    border-left: 3px solid #ea7777;
  }
  .infos {
    padding: 0;
    margin: 0;
    list-style: none;
  }
  .info {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    line-height: 40px;
    &:not(:last-of-type) {
      border-bottom: 1px solid #eee;
    }
  }
  input.info-right {
    border: none;
    background: none;
    outline: none;
    box-shadow: none;
    text-align: right;
    flex-grow: 1;
  }
  em {
    font-style: normal;
    color: #ea7777;
  }
  span {
    padding: 4px 6px;
    font-size: 12px;
    margin-left: 5px;
    border: 1px solid #999;
    border-radius: 4px;
    sup {
      font-size: 12px;
      position: relative;
      top: -3px;
    }
  }
}
.step-2 {
  .title {
    border-bottom: 1px dashed #ddd;
    padding-bottom: 10px;
    text-align: center;
    font-size: 14px;
    margin-bottom: 10px;
  }
  .confirm-protocol {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 15px;
  }
}
.not-pass-list {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-flow: row wrap;
  .not-pass {
    padding: 5px 10px;
    background-color: #ea7777;
    margin: 0 10px 10px 0;
    color: #eee;
    border-radius: 4px;
  }
}
.source-select {
  padding: 15px;
  .source-select-title {
    line-height: 90px;
    font-size: 16px;
    font-weight: bold;
  }
  .source-select-list {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    flex-flow: row wrap;
  }
  .source-select-item {
    position: relative;
    flex-shrink: 0;
    margin: 0 15px 15px 0;
    padding: 10px 10px;
    border: 1px solid #999;
    border-radius: 5px;
    color: #666;
    &.active {
      border-color: #ea7777;
      color: #ea7777;
    }
  }
}
</style>
