<template>
  <div class="wrapper">
    <topbar fixed>
      <mu-button icon slot="left" @click="$router.go(-1)">
        <mu-icon value="chevron_left"></mu-icon>
      </mu-button>
      <div slot="center">预定详情</div>
    </topbar>
    <whitespace class="preorder" margin="15px" padding="10px" radius shadow>
      <div class="preorder-header">
        <div>
            <div class="item-date" v-show="preordain.status === 1">
              {{ $f(preordain.dateEnd, 'YYYY年MM月DD日') }}到期
            </div>
            <div class="item-date" v-show="preordain.status !== 1">
              生成于{{ $f(preordain.date, 'YYYY年MM月DD日') }}
            </div>
          </div>
        <mu-badge :color="preordain.status < 2 ? 'primary' : ''"
          :content="['待交定金', '已预定', '已签约', '未赴约', '取消预定'][preordain.status]">
        </mu-badge>
      </div>
      <div class="preorder-body">
        <my-image class="preorder-cover" :width="120" :height="100" block
          :src="preordain.roomType.picture">
        </my-image>
        <div class="preorder-info">
          <div class="preorder-name">{{ preordain.roomType.name + '-' + preordain.room.name }}</div>
          <div class="preorder-source">
            <mu-icon value="view_list" size="18"></mu-icon>
            <span>{{ preordain.source.name }}</span>
          </div>
          <div class="preorder-price">
            <mu-icon value="local_atm" size="18"></mu-icon>
            <span>{{ preordain.roomType.price }}元</span>
          </div>
          <div class="preorder-location">
            <mu-icon value="location_on" size="18"></mu-icon>
            <span>{{ preordain.source.location }}</span>
          </div>
        </div>
      </div>
    </whitespace>
    <whitespace margin="0 15px 15px" padding="10px" shadow radius>
      <div class="title">温馨提示</div>
      <ul class="tips">
        <li class="tip" v-if="preordain.status === 1">1. 请于 {{ $f(preordain.dateEnd, 'YYYY-MM-DD 00:00') }} 前签署合同，若因个人原因无法按时签约，<em>定金不予退还</em>。</li>
        <li class="tip" v-else>1. 请尽快缴纳定金，如有其他人预定或签约该房间则该预定作废！</li>
        <li class="tip">2. 签约成功后，定金在首期账单内抵扣。</li>
        <li class="tip">3. 请认真核对信息，该信息作为承租人的签约信息，如果有误无法更改，若发现个人信息与填写不符请联系项目管家。</li>
      </ul>
    </whitespace>
    <whitespace margin="0 15px 15px" padding="10px" shadow radius>
      <div class="title">预定信息</div>
      <ul class="infos">
        <li class="info">
          <span>房源:</span>
          <span>{{ preordain.source.name }}</span>
        </li>
        <li class="info">
          <span>户型:</span>
          <span>{{ preordain.roomType.name }}</span>
        </li>
        <li class="info">
          <span>房间号:</span>
          <span>{{ preordain.room.name }}</span>
        </li>
        <li class="info">
          <span>定金:</span>
          <span>{{ preordain.source.deposit }}</span>
        </li>
        <li class="info" v-if="preordain.status === 1">
          <span>到期时间:</span>
          <span>{{ $f(preordain.dateEnd, 'YYYY年MM月DD日') }}</span>
        </li>
        <li class="info">
          <span>预定人:</span>
          <span>{{ preordain.name }}</span>
        </li>
        <li class="info">
          <span>联系电话:</span>
          <span>{{ preordain.phone }}</span>
        </li>
        <li class="info">
          <span>大陆身份证:</span>
          <span>{{ preordain.card }}</span>
        </li>
      </ul>
    </whitespace>
    <div class="btn-wrapper type-1" v-if="preordain.status === 0">
      <div class="btn-half">
        <mu-button color="primary" full-width large @click="goBill" >去交定金</mu-button>
      </div>
      <div class="btn-half">
        <mu-button color="primary" full-width large @click="cancel">取消预定</mu-button>
      </div>
    </div>
    <!-- <div class="btn-wrapper type-2" v-if="preordain.status === 1">
      <mu-button color="primary" full-width large @click="cancel">取消预定</mu-button>
    </div> -->
  </div>
</template>

<script>
import { mapMutations } from 'vuex'
import * as mutationTypes from '@/store/mutation-types'

export default {
  name: 'PreorderDetail',
  data: () => ({
    preordain: {
      status: -1,
      source: {},
      roomType: {
        name: ''
      },
      room: {
        name: ''
      }
    }
  }),
  methods: {
    goBill () {
      this.$router.push({ name: 'bill-list' })
    },
    async cancel () {
      if ((await this.$confirm('确定要取消预定吗？')).result) {
        this.$router.push({ name: 'preorder-list' })
      }
    },
    async initDetail () {
      const id = this.$route.query.id
      if (!id) return this.$router.replace({ name: 'home' })
      this.preordain = await this.$api.preordain.getDetail(id)
    },
    ...mapMutations({
      showNav: mutationTypes.SHOW_NAV
    })
  },
  created () {
    this.initDetail()
    this.showNav(false)
  }
}
</script>

<style lang="scss" scoped>
.wrapper {
  padding: 53px 0 15px;
}
.preorder {
  background-color: white;
  margin-bottom: 20px;
  border-radius: 10px;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.1);
  position: relative;
  padding: 10px;
  overflow: hidden;
  .preorder-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 0 10px;
    border-bottom: 1px solid #eee;
  }
  .preorder-body {
    padding: 10px 0 0;
    display: flex;
  }
  .preorder-cover {
    flex-shrink: 0;
  }
  .preorder-info {
    margin-left: 10px;
    display: flex;
    flex-flow: column nowrap;
  }
  .preorder-name {
    font-size: 16px;
    line-height: 25px;
  }
  .preorder-source, .preorder-price, .preorder-location {
    .mu-icon, span {
      vertical-align: middle;
      color: #666;
    }
    span {
      margin-left: 5px;
    }
  }
  .preorder-location {
    font-size: 12px;
    color: #666;
  }
}
.title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}
.tips {
  list-style: none;
  padding: 0;
  margin: 0;
  .tip {
    line-height: 20px;
    margin-bottom: 5px;
    em {
      font-style: normal;
      color: #ea7777;
    }
  }
}
.infos {
  padding: 0;
  margin: 0;
  list-style: none;
  .info {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    &:not(:last-of-type) {
      border-bottom: 1px solid #eee;
    }
    span:first-of-type {
      width: 110px;
      flex-shrink: 0;
      margin-right: 20px;
    }
    span:last-of-type {
      flex-grow: 1;
      text-align: right;
    }
  }
}
.btn-wrapper {
  padding: 15px;
  &.type-1 {
    display: flex;
    justify-content: space-between;
    .btn-half {
      width: 47%;
    }
  }
}
</style>
