<template>
  <div class="wrapper">
    <topbar fixed>
      <mu-button icon slot="left" @click="$router.go(-1)">
        <mu-icon value="chevron_left"></mu-icon>
      </mu-button>
      <div slot="center">我的预定</div>
      <mu-button icon slot="right" @click="$router.push({ name: 'preorder-add' })">
        <mu-icon value="add"></mu-icon>
      </mu-button>
    </topbar>
    <ul class="list">
      <li class="item" v-for="item in preordianList" :key="item.id">
        <mu-ripple @click="goDetail(item.id)">
          <div class="item-header">
            <div>
              <div class="item-date" v-show="item.status === 1">
                {{ $f(item.dateEnd, 'YYYY年MM月DD日') }}到期
              </div>
              <div class="item-date" v-show="item.status !== 1">
                生成于{{ $f(item.date, 'YYYY年MM月DD日') }}
              </div>
            </div>
            <mu-badge :color="item.status < 2 ? 'primary' : ''"
              :content="['待交定金', '已预定', '已签约', '未赴约', '取消预定'][item.status]">
            </mu-badge>
          </div>
          <div class="item-body">
            <my-image class="item-cover" :width="120" :height="100" block
              :src="item.roomType.picture">
            </my-image>
            <div class="item-info">
              <div class="item-name">{{ item.roomType.name + '-' + item.room.name }}</div>
              <div class="item-source">
                <mu-icon value="view_list" size="18"></mu-icon>
                <span>{{ item.source.name }}</span>
              </div>
              <div class="item-price">
                <mu-icon value="local_atm" size="18"></mu-icon>
                <span>{{ item.roomType.price }}元</span>
              </div>
              <div class="item-location">
                <mu-icon value="location_on" size="18"></mu-icon>
                <span>{{ item.source.location }}</span>
              </div>
            </div>
          </div>
        </mu-ripple>
      </li>
    </ul>
    <empty-list-holder v-show="showListHolder">
      还没有预定噢，赶快预定房间吧~
    </empty-list-holder>
  </div>
</template>

<script>
import { mapMutations } from 'vuex'
import * as mutationTypes from '@/store/mutation-types'

export default {
  name: 'PreorderList',
  data: () => ({
    preordianList: [],
    showListHolder: false
  }),
  methods: {
    goDetail (id) {
      this.$router.push({ name: 'preorder-detail', query: { id } })
    },
    async initPreordianList () {
      const list = await this.$api.preordain.getPreordainList()
      list.sort((a, b) => b.id - a.id)
      this.preordianList = list
      this.showListHolder = list.length === 0
    },
    ...mapMutations({
      showNav: mutationTypes.SHOW_NAV
    })
  },
  created () {
    this.initPreordianList()
    this.showNav(true)
  }
}
</script>

<style lang="scss" scoped>
.wrapper {
  padding: 53px 0 56px;
}
.list {
  padding: 15px;
  margin: 0;
  list-style: none;
}
.item {
  background-color: white;
  margin-bottom: 20px;
  border-radius: 10px;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.1);
  position: relative;
  padding: 10px;
  overflow: hidden;
  .item-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 0 10px;
    border-bottom: 1px solid #eee;
  }
  .item-body {
    padding: 10px 0 0;
    display: flex;
  }
  .item-cover {
    flex-shrink: 0;
  }
  .item-info {
    margin-left: 10px;
    display: flex;
    flex-flow: column nowrap;
  }
  .item-name {
    font-size: 16px;
    line-height: 25px;
  }
  .item-source, .item-price, .item-location {
    .mu-icon, span {
      vertical-align: middle;
      color: #666;
    }
    span {
      margin-left: 5px;
    }
  }
  .item-location {
    font-size: 12px;
    color: #666;
  }
}
</style>
