article {
  word-break: break-all;
  p {
    margin: 0;
    padding: 5px 0;
    font-size: 12px;
    color: #333;
    line-height: 20px;
    &.indent, &[indent] {
      text-indent: 25px;
    }
    &[center] {
      text-align: center;
    }
    &[right] {
      text-align: right;
    }
  }
  em {
    color: #ea7777;
    font-style: normal;
    &[bold] {
      font-weight: bold;
    }
    &[big] {
      font-size: 16px;
    }
  }
  img {
    width: 100%;
    margin: 10px 0;
    border-radius: 4px;
  }
  aside {
    border: 1px solid #333;
    padding: 10px;
    margin: 10px 0;
    &[primary] {
      border-color: #ea7777;
    }
  }
  b {
    font-weight: bold;
  }
  h2 {
    font-size: 18px;
    margin: 20px auto 10px;
    padding: 5px 0;
    text-align: center;
    border: 1px solid #333;
    color: #ea7777;
    position: relative;
    z-index: 4;
    // &::before {
    //   content: "";
    //   background-color: #ea7777;
    //   border: 1px solid #333;
    //   width: 100%;
    //   height: 100%;
    //   position: absolute;
    //   left: 5px;
    //   top: 5px;
    //   z-index: -1;
    // }
  }
}

.amap-circle {
  width: 80px;
  height: 80px;
  border-radius: 100%;
  overflow: hidden;
  background-color: #ea7777aa;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 10px;
  color: #eee;
  box-shadow: 0 0 10px 2px #ea7777aa;
}

.amap-mark {
  background-color: #ea7777DD;
  display: inline-block;
  word-break: keep-all;
  white-space:nowrap;
  text-overflow:ellipsis;
  padding: 0 10px;
  line-height: 30px;
  border-radius: 15px;
  color: #eee;
  transform: translateX(-50%);
  box-shadow: 0 0 10px 0 #ea7777DD;
  position: relative;
  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 0;
    transform: translate(-50%, 100%);
    border-width: 7px 7px 0;
    border-style: solid;
    border-color :#ea7777DD transparent transparent;
  }
}