@import './variable.scss';

@mixin halfPxLine {
  position: relative;
  &::after {
    content: "";
    bottom: 0;
    left: 0;
    position: absolute;
    width: 200%;
    height: 0;
    border-bottom: 1px solid $-color-line;
    transform: scale(0.5) translateX(-50%);
  }
}

@mixin safe {
  padding-left: $-safe;
  padding-right: $-safe;
}

@mixin oneLineOverflow {
  overflow: hidden;
  text-overflow:ellipsis;
  white-space: nowrap;
}

@mixin mutiLineOverflow ($num: 3) {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: $num;
  overflow: hidden;
}