.mu-form-item__focus {
  color: #ea7777;
}
.mu-datetime-picker .mu-tab-link-highlight {
  background-color: #fff;
}
.mu-datepicker-monthday .selected .mu-day-button-bg {
  background-color: #ea7777;
}
.mu-datepicker-monthday .now:not(.selected) .mu-day-button-text {
  color: #ea7777;
}
.mu-timepicker-pointer {
  color: #ea7777;
}
.mu-timepicker-number__selected {
  background-color: #ea7777;
}
.mu-text-field-input {
  word-break: break-all;
}
.mu-option.is-selected .mu-item {
  color: #ea7777;
}
.mu-month-button.selected .mu-month-button-bg {
  background-color: #ea7777;
}
.mu-year-button.selected .mu-year-button-text {
  color: #ea7777;
}
.mu-datetime-picker-svg {
  color: #ec9e9e;
}
.mu-tab-active .mu-datetime-picker-svg {
  color: #eee;
}
// .mu-expansion-panel__expand:not(:first-of-type) {
// }

// 选项卡
.mu-tabs {
  background-color: white;
  .mu-tab-link-highlight {
    background-color: #ea7777;
  }
}
.mu-tab {
  color: #333;
  &.mu-tab-active {
    color: #ea7777;
  }
  &.disabled {
    color: #bbb;
  }
}

// text field
.mu-input.mu-input__focus {
  .mu-input-label, .mu-icon {
    color: #ea7777;
  }
  .mu-input-focus-line {
    background-color: #ea7777;
  }
}

// 是ripple层级高一点，否则会被my-image挡住
.mu-ripple-wrapper {
  z-index: 99;
}

// 单选
.mu-radio-checked {
  color: #ea7777;
}

.start-time, .end-time {
  .mu-text-field-input {
    color: #666;
    text-align: right;
    font-size: 14px;
  }
  .mu-input-line, .mu-input-focus-line {
    display: none;
  }
}