$-color-primary: #ea7777;
$-color-secondary: #8bc34a;
$-color-success: #2196f3;
$-color-white: #fafafa;
$-color-background: #eeeeee;
$-color-line: #e0e0e0;
$-color-black-l: #757575;
$-color-black: #212121;

$-safe: 15px;