<template>
  <div class="wrapper">
    <topbar fixed>
      <mu-button icon slot="left" @click="$router.go(-1)">
        <mu-icon value="chevron_left"></mu-icon>
      </mu-button>
      <div slot="center">签约</div>
    </topbar>
    <whitespace class="tab" shadow>
      <mu-tabs :value.sync="activeStep" full-width>
        <mu-tab :disabled="checkStep < 0">选房</mu-tab>
        <mu-tab :disabled="checkStep < 1">租期</mu-tab>
        <mu-tab :disabled="checkStep < 2">协议</mu-tab>
        <mu-tab :disabled="checkStep < 3">信息</mu-tab>
        <mu-tab :disabled="checkStep < 4">认证</mu-tab>
      </mu-tabs>
    </whitespace>
    <!-- step 0 start -->
    <div class="step-0" v-show="activeStep === 0">
      <whitespace>
        <div class="item" @click="openSourceSelect">
          <label class="item-left">房源项目</label>
          <div class="item-right">
            <span>{{ form.source.name || '' }}</span>
            <mu-icon value="chevron_right" color="primary"></mu-icon>
          </div>
        </div>
        <div class="item">
          <label class="item-left">房间代码</label>
          <div class="item-right">
            <input type="text" placeholder="请输入两位以上的房间查询码" v-model="roomCode" @keyup.enter="searchRoom">
            <mu-icon value="chevron_right" color="primary"></mu-icon>
          </div>
        </div>
      </whitespace>
      <whitespace padding="15px 15px 0">
        <div class="whitespace-title">可选房间</div>
        <ul class="room-list">
          <li class="room-item" v-for="room in roomList" :key="room.id"
            :class="{ disabled: roomDisable(room), active: room === form.room }">
            <mu-ripple @click="selectRoom(room)">
              <div class="room-wrapper">
                <div class="room-name">{{ room.name }}</div>
                <div class="room-price"><em>{{ room.type.price }}</em>元/月</div>
              </div>
            </mu-ripple>
            <div class="room-status">{{ roomStatus(room) }}</div>
          </li>
        </ul>
        <empty-list-holder v-show="roomList.length === 0">没有找到房间哦</empty-list-holder>
      </whitespace>
      <div class="next-step">
        <mu-button full-width color="primary" :disabled="!step0pass" @click="nextStep(0)">
          确定选择
        </mu-button>
      </div>
    </div>
    <!-- step 0 end -->
    <!-- step 1 start -->
    <div class="step-1" v-show="activeStep === 1">
      <whitespace margin="0 15px 15px" padding="15px" radius shadow>
        <div class="whitespace-title">房间信息</div>
        <ul class="infos">
          <li class="info" v-if="!isEmptyObject(form.source)">
            <div class="info-left">门店</div>
            <div class="info-right">{{ form.source.name }}</div>
          </li>
          <li class="info" v-if="!isEmptyObject(form.room)">
            <div class="info-left">房间</div>
            <div class="info-right">
              <span>{{ form.room.name }}</span>
              <span>{{ form.room.type.name }}</span>
              <span>{{ form.room.type.size }}m<sup>2</sup></span>
            </div>
          </li>
          <li class="info" v-if="!isEmptyObject(form.room)">
            <div class="info-left">月租</div>
            <div class="info-right"><em>{{ form.room.type.price }}</em>元/月</div>
          </li>
          <li class="info" v-if="!isEmptyObject(form.source)">
            <div class="info-left">定金</div>
            <div class="info-right"><em>{{ form.source.deposit }}</em>元</div>
          </li>
          <li class="info">
            <div class="info-left">签约期限</div>
            <div class="info-right"><em>{{ deadline }}</em></div>
          </li>
        </ul>
      </whitespace>
      <whitespace margin="0 15px 15px" padding="15px" radius shadow>
        <div class="whitespace-title">租期信息</div>
        <ul class="infos">
          <li class="info">
            <div class="info-left">租赁时间</div>
            <div class="info-right">
              <mu-radio :value="0" v-model="duration" label="半年"></mu-radio>
              <mu-radio :value="1" v-model="duration" label="全年"></mu-radio>
            </div>
          </li>
          <li class="info start-time">
            <div class="info-left">起租时间</div>
            <div class="info-right">
              <mu-date-input v-model="form.dateStart" type="date" container="bottomSheet" label-float
                full-width underline-color="primary" color="primary" display-color="primary"
                :min-date="minDate" :max-date="maxDate">
              </mu-date-input>
            </div>
          </li>
          <li class="info end-time">
            <div class="info-left">截止日期</div>
            <div class="info-right">
              <mu-date-input v-model="form.dateEnd" type="date" container="bottomSheet" label-float
                full-width underline-color="primary" color="primary" display-color="primary"
                :min-date="new Date()" disabled>
              </mu-date-input>
            </div>
          </li>
        </ul>
      </whitespace>
      <whitespace margin="15px" padding="15px" radius shadow>
        <div class="whitespace-title">缴费约定</div>
        <ul class="infos">
          <li class="info">
            <div class="info-left">交费时间</div>
            <div class="info-right">每月7日23:59前</div>
          </li>
          <li class="info">
            <div class="info-left">房租</div>
            <div class="info-right">3个月一交</div>
          </li>
          <li class="info">
            <div class="info-left">水电费</div>
            <div class="info-right">1个月一交</div>
          </li>
        </ul>
      </whitespace>
      <whitespace margin="15px" padding="15px" radius shadow>
        <div class="whitespace-title">合同费项</div>
        <ul class="infos">
          <li class="info" v-if="!isEmptyObject(form.room)">
            <div class="info-left">押金+首期</div>
            <div class="info-right">{{ calcFirstPay(form.room) }}元</div>
          </li>
          <li class="info">
            <div class="info-left">水费</div>
            <div class="info-right">10元/吨</div>
          </li>
          <li class="info">
            <div class="info-left">电费</div>
            <div class="info-right">1.35元/度</div>
          </li>
        </ul>
      </whitespace>
      <whitespace margin="15px" padding="15px" radius shadow v-show="!step1pass">
        <div class="whitespace-title">填写存在的问题</div>
        <article>
          <p>只要还存在问题就无法进行下一步。</p>
        </article>
        <ul class="not-pass-list">
          <li class="not-pass" v-show="!form.dateStart">租赁时间未选择</li>
        </ul>
      </whitespace>
      <div class="next-step">
        <mu-button full-width color="primary" :disabled="!step1pass" @click="nextStep(1)">
          下一步
        </mu-button>
      </div>
    </div>
    <!-- step 1 end -->
    <!-- step 2 start -->
    <div class="step-2" v-show="activeStep === 2">
      <whitespace padding="15px">
        <div class="title">艾住签约协议</div>
        <article>
          <p indent>在签约艾住租赁产品前，请您仔细阅读本须知，并注意本须知及产品页面中的其它重要条款，所有该条款均作为双方协议的补充内容。当您开始签约时，即表明您已经仔细阅读并接受本协议的所有条款。</p>
          <p indent>特别提示：艾住租赁服务仅通过艾住官方APP提供，所有在线签约服务均由客户本人在艾住官方APP上完成。该服务从未交由第三方中介或个人代理，请勿轻信他人关于可以代定本公寓房间的宣传。</p>
          <p>1.签约方式</p>
          <p indent>使用艾住官方APP在合同列表页点右上角加号进行签约，按流程选择房间，并完善签约流程内所需的个人信息。请使用本人有效证件完成本次签约流程。</p>
          <p indent>首期账单支付成功为在线签约成功的唯一标准，请于签约当日24点前完成首期账单缴纳，逾期缴纳2日后（含签约当日）我司我有权按照（1%）比例收取滞纳金，签约当日24点前未完成首期账单缴费，我司有权单方解除该合同。</p>
          <p indent>账单缴费请通过艾住官方APP点击账单进行缴费。</p>
          <p>2.关于合同取消</p>
          <p indent><em>一旦在线签约提交成功后，该合同无法取消。若执意取消合同，需按提前退房流程进行申请。</em></p>
          <p>3.免责条款</p>
          <p indent>（1）不可抗力因素</p>
          <p indent>因自然、社会不可抗力因素（如台风、地震、战争、政府法令调整等）致使客人不能入住的，全额退还定金。同时因不可抗力对客人入住造成影响的，艾住不承担责任,但可以尽力为客人提供必要的帮助。</p>
          <p indent>（2）不可控因素</p>
          <p indent>因市政、物业、装修、设备意外等不可控因素（如停电、停水及家具家电意外质量问题）影响客人入住的，艾住在力所能及的范围内，为客人提供修缮、整改或调换房间。</p>
          <p indent>客人入住期间发生的意外人身伤害、财物损失，包括但不限于交通事故、游泳溺水、抢劫盗窃、高空落物、刑事伤害等，艾住不承担责任，但可以尽力配合有关部门处理。</p>
          <p indent>艾住保留对以上注意事项、服务内容、免责条款的解释权。</p>
        </article>
        <div class="confirm-protocol">
          <mu-checkbox v-model="confirmProtocol" label="已阅读并同意《艾住签约协议》" color="primary"></mu-checkbox>
        </div>
      </whitespace>
      <div class="next-step">
        <mu-button full-width color="primary" @click="nextStep(2)" :disabled="!step2pass">
          下一步
        </mu-button>
      </div>
    </div>
    <!-- step 2 end -->
    <!-- step 3 start -->
    <div class="step-3" v-show="activeStep === 3">
      <whitespace margin="0 15px 15px" padding="15px" radius shadow>
        <div class="whitespace-title">签约信息</div>
        <ul class="infos">
          <li class="info" v-if="!isEmptyObject(form.source)">
            <div class="info-left">门店</div>
            <div class="info-right">{{ form.source.name }}</div>
          </li>
          <li class="info" v-if="!isEmptyObject(form.room)">
            <div class="info-left">房间</div>
            <div class="info-right">
              <span>{{ form.room.name }}</span>
              <span>{{ form.room.type.name }}</span>
              <span>{{ form.room.type.size }}m<sup>2</sup></span>
            </div>
          </li>
          <li class="info" v-if="!isEmptyObject(form.room)">
            <div class="info-left">月租</div>
            <div class="info-right"><em>{{ form.room.type ? form.room.type.price : 0 }}</em>元/月</div>
          </li>
          <li class="info" v-if="!isEmptyObject(form.room)">
            <div class="info-left">押金+首期</div>
            <div class="info-right"><em>{{ calcFirstPay(form.room) }}</em>元</div>
          </li>
          <li class="info" v-if="!!form.dateStart">
            <div class="info-left">合同终止时间</div>
            <div class="info-right"><em>{{ $f(this.form.dateEnd, 'YYYY年MM月') }}</em></div>
          </li>
        </ul>
      </whitespace>
      <whitespace margin="15px" padding="15px" radius shadow>
        <div class="whitespace-title">个人信息</div>
        <ul class="infos">
          <li class="info">
            <div class="info-left">手机号码</div>
            <input class="info-right" v-model="form.phone" type="number">
          </li>
          <li class="info">
            <div class="info-left">通讯地址</div>
            <input class="info-right" v-model="form.location">
          </li>
          <li class="info">
            <div class="info-left">电子邮箱</div>
            <input class="info-right" v-model="form.email">
          </li>
          <li class="info">
            <div class="info-left">紧急联系人姓名</div>
            <input class="info-right" v-model="form.urgentName">
          </li>
          <li class="info">
            <div class="info-left">紧急联系人手机</div>
            <input class="info-right" v-model="form.urgentPhone" type="number">
          </li>
        </ul>
      </whitespace>
      <whitespace margin="15px" padding="15px" radius shadow v-show="!step3pass">
        <div class="whitespace-title">填写存在的问题</div>
        <article>
          <p>只要还存在问题就无法进行下一步。</p>
        </article>
        <ul class="not-pass-list">
          <li class="not-pass" v-show="form.phone === form.urgentPhone">紧急联系人手机号不能与承租人相同</li>
          <li class="not-pass" v-show="!isPhone(form.phone)">手机号不正确</li>
          <li class="not-pass" v-show="form.location === ''">未填写通讯地址</li>
          <li class="not-pass" v-show="!isEmail(form.email)">电子邮箱不正确</li>
          <li class="not-pass" v-show="form.urgentName === ''">未填写紧急联系人</li>
          <li class="not-pass" v-show="!isPhone(form.urgentPhone)">紧急联系人手机号不正确</li>
        </ul>
      </whitespace>
      <div class="next-step">
        <mu-button full-width color="primary" @click="nextStep(3)" :disabled="!step3pass">
          下一步
        </mu-button>
      </div>
    </div>
    <!-- step 3 end -->
    <!-- step 4 start -->
    <div class="step-4" v-show="activeStep === 4">
      <whitespace margin="15px" padding="15px" radius shadow>
        <div class="whitespace-title">身份证照片</div>
        <div class="card-container">
          <div class="card" @click="upLoadCard(0)">
            <my-image :width="cardWidth" :height="96"
              :src="form.cardFront || cardFront">
            </my-image>
            <span>身份证 - 正面</span>
          </div>
          <div class="card" @click="upLoadCard(1)">
            <my-image :width="cardWidth" :height="96"
              :src="form.cardBack || cardBack">
            </my-image>
            <span>身份证 - 背面</span>
          </div>
        </div>
        <article v-if="user.auth.status !== 1">
          <p indent>注意：请分别上传并确认证件正面和反面照片。认证成功后将无法修改。</p>
        </article>
      </whitespace>
      <whitespace margin="15px" padding="15px" radius shadow>
        <div class="whitespace-title">身份信息</div>
        <ul class="infos">
          <li class="info">
            <div class="info-left">真实姓名</div>
            <input class="info-right" v-model="form.name">
          </li>
          <li class="info">
            <div class="info-left">身份证号</div>
            <input class="info-right" v-model="form.card">
          </li>
        </ul>
      </whitespace>
      <whitespace margin="15px" padding="15px" radius shadow>
        <div class="whitespace-title">温馨提示</div>
        <article>
          <p>1. 请分别上传并确认证件的正面和反面。</p>
          <p>2. 该信息作为承租人租约信息，若非本人，请在个人中心页面退出登录后，并注册您本人的身份相关信息。</p>
        </article>
      </whitespace>
      <whitespace margin="15px" padding="15px" radius shadow v-show="!step4pass">
        <div class="whitespace-title">填写存在的问题</div>
        <article>
          <p>只要还存在问题就无法提交签约信息。</p>
        </article>
        <ul class="not-pass-list">
          <li class="not-pass" v-show="isEmptyObject(form.source)">未选择房源</li>
          <li class="not-pass" v-show="isEmptyObject(form.room)">未选择房间</li>
          <li class="not-pass" v-show="!form.dateStart">未选择租赁时间</li>
          <li class="not-pass" v-show="!confirmProtocol">未同意协议</li>
          <li class="not-pass" v-show="!isPhone(form.phone)">手机号不正确</li>
          <li class="not-pass" v-show="form.location === ''">未填写通讯地址</li>
          <li class="not-pass" v-show="!isEmail(form.email)">电子邮箱不正确</li>
          <li class="not-pass" v-show="form.urgentName === ''">未填写紧急联系人</li>
          <li class="not-pass" v-show="!isPhone(form.urgentPhone)">紧急联系人手机号不正确</li>
          <li class="not-pass" v-show="form.name === ''">未填写真实姓名</li>
          <li class="not-pass" v-show="!isCard(form.card)">身份证格式不正确</li>
          <li class="not-pass" v-show="form.cardFront === ''">身份证正面未上传</li>
          <li class="not-pass" v-show="form.cardBack === ''">身份证反面未上传</li>
        </ul>
      </whitespace>
      <div class="next-step">
        <mu-button full-width color="primary" @click="submit" :disabled="!step4pass">
          提交签约申请
        </mu-button>
      </div>
    </div>
    <!-- step 4 end -->
    <mu-drawer class="source-select" width="300" :open.sync="drawerOpen" right :docked="false">
      <mu-menu placement="top" :open.sync="sourceMenuOpen">
        <mu-text-field
          v-model="sourceTemp"
          label="请输入您想要搜索的门店名称"
          full-width
          action-icon="search"
          @keyup.enter="searchSource">
        </mu-text-field>
        <mu-list slot="content">
          <mu-list-item button v-for="source in sourceSerchResult" :key="source.id"
            @click="selectSource(source)">
            <mu-list-item-title>{{ source.name }}</mu-list-item-title>
          </mu-list-item>
        </mu-list>
      </mu-menu>
      <div class="source-select-title">当前房源</div>
      <ul class="source-select-list">
        <li class="source-select-item active" v-show="!isEmptyObject(form.source)">
          <mu-ripple @click="drawerOpen = false">{{ form.source.name }}</mu-ripple>
        </li>
      </ul>
      <div class="source-select-title">附近房源</div>
      <ul class="source-select-list">
        <li class="source-select-item"
          v-for="source in nearbySource"
          :class="{ active: source.id === form.source.id }"
          :key="source.id">
          <mu-ripple @click="selectSource(source)">{{ source.name }}</mu-ripple>
        </li>
      </ul>
    </mu-drawer>
  </div>
</template>

<script>
import { mapMutations, mapGetters } from 'vuex'
import * as mutationTypes from '@/store/mutation-types'
import { isEmptyObject, isPhone, isCard, isEmail } from '@/utils/utils'
import cardFront from '@/assets/images/auth/身份证正面.png'
import cardBack from '@/assets/images/auth/身份证背面.png'

export default {
  name: 'ContractDetail',
  data: () => ({
    cardFront,
    cardBack,
    currentType: 0, // 当前上传证件的类型
    cardWidth: 0, // 身份证宽度
    activeStep: 0,
    checkStep: 0,
    drawerOpen: false,
    sourceTemp: '', // 搜索用的储存位
    sourceMenuOpen: false, // 门店搜索结果是否显示
    nearbySource: [], // 附近的门店
    sourceSerchResult: [], // 搜索结果列表
    roomList: [],
    roomCode: '',
    confirmProtocol: false, // 是否认可协议
    duration: 0, // 租赁时长 0=半年 1=一年
    form: {
      room: {}, // 当前被选中的房间
      source: {}, // 当前被选中的房源
      name: '',
      card: '',
      phone: '',
      dateStart: '',
      dateEnd: '',
      urgentName: '',
      urgentPhone: '',
      location: '',
      email: '',
      cardFront: '',
      cardBack: ''
    },
    step1: {},
    step2: {},
    step3: {}
  }),
  watch: {
    'form.dateStart': {
      handler () {
        const value = this.form.dateStart
        if (!value) return
        const date = new Date(this.form.dateStart)
        date.setMonth(value.getMonth() + (this.duration === 0 ? 6 : 12))
        this.form.dateEnd = date
      }
    },
    duration () {
      const value = this.form.dateStart
      if (!value) return
      const date = new Date(this.form.dateStart)
      date.setMonth(value.getMonth() + (this.duration === 0 ? 6 : 12))
      this.form.dateEnd = date
    }
  },
  computed: {
    minDate () {
      return new Date()
    },
    maxDate () {
      const date = new Date()
      date.setDate(date.getDate() + 7)
      return date
    },
    deadline () {
      const currentDate = new Date()
      const nextDate = new Date()
      nextDate.setDate(currentDate.getDate() + 30)
      return this.$f(nextDate, 'YYYY-MM-DD')
    },
    step0pass () {
      return !isEmptyObject(this.form.source)
        && !isEmptyObject(this.form.room)
    },
    step1pass () {
      return !isEmptyObject(this.form.source)
        && !isEmptyObject(this.form.room)
        && this.form.dateStart
        && this.form.dateEnd
    },
    step2pass () {
      return this.confirmProtocol
    },
    step3pass () {
      return isPhone(this.form.phone)
        && this.form.location !== ''
        && isEmail(this.form.email)
        && this.form.urgentName !== ''
        && isPhone(this.form.urgentPhone)
        && this.form.phone !== this.form.urgentPhone
    },
    step4pass () {
      return !isEmptyObject(this.form.source)
        && !isEmptyObject(this.form.room)
        && this.confirmProtocol
        && this.form.name !== ''
        && isCard(this.form.card)
        && isPhone(this.form.phone)
    },
    ...mapGetters(['user', 'address'])
  },
  methods: {
    calcFirstPay (room) {
      if (!room || !room.type) return '0.00'
      return (room.type.price * 4).toFixed(2)
    },
    // 房间在什么条件下不让选
    roomDisable (room) {
      // 如果房间没被使用,则false
      if (room.status === 0) {
        return false
      }
      // 如果房间被预定且预定人是自己,则false
      if (room.status === 1 && room.ownerId === this.user.id) {
        return false
      }
      // 其他情况不允许选房true
      return true
    },
    // 确定房间的状态
    roomStatus (room) {
      // 如果房间状态为0,则可签约
      if (room.status === 0) {
        return '可签约'
      }
      // 如果房间状态为1,且不是所有人,则被预定
      if (room.status === 1 && room.ownerId !== this.user.id) {
        return '被预定'
      }
      // 如果房间状态为1,且是所有人,则已预定
      if (room.status === 1 && room.ownerId === this.user.id) {
        return '已预定'
      }
      // 如果房间状态为2,则租赁中
      if (room.status === 2) {
        return '租赁中'
      }
      // 如果房间状态为10,则不可用
      if (room.status === 10) {
        return '不可用'
      }
      // 其他情况,房间状态未知
      return '???'
    },
    // 在drawer中点击搜索出或附近的房源
    selectSource (source) {
      this.form.source = source
      this.form.room = {}
      this.roomCode = ''
      this.roomList = []
      this.sourceMenuOpen = false
      this.drawerOpen = false
    },
    // 打开房源选择窗
    openSourceSelect () {
      this.drawerOpen = true
      this.sourceTemp = ''
    },
    selectRoom (room) {
      if (!this.roomDisable(room)) {
        this.form.room = room
      }
    },
    // 上传身份证件
    upLoadCard (type) {
      if (this.user.auth.status === 1) return
      this.currentType = type
      this.$root.$emit('openPictureUploader', `身份证${['正面', '反面'][type]}照`)
    },
    changeCard (url) {
      if (this.currentType === 0) {
        this.form.cardFront = url
      } else {
        this.form.cardBack = url
      }
    },
    // 搜索框搜索房源
    async searchSource () {
      this.sourceSerchResult = await this.$api.source.getListByName(this.sourceTemp)
    },
    // 用代码搜索房间
    async searchRoom () {
      if (this.roomCode.length < 2 || !this.form.source.id) {
        return
      }
      this.roomList = await this.$api.room.getListSafe(this.form.source.id, this.roomCode)
      this.roomList.length === 0
        && this.$toast.message('没有可用房间')
    },
    // 获取房间列表
    async getRoomList (id) {
      // this.roomList = await api.get(房间列表)
    },
    async submit () {
      if ((await this.$confirm('你确定要提交签约申请吗 ?')).result) {
        try {
          await this.$api.contract.add({
            sourceId: this.form.source.id,
            roomId: this.form.room.id,
            roomTypeId: this.form.room.type.id,
            name: this.form.name,
            phone: this.form.phone,
            urgentName: this.form.urgentName,
            urgentPhone: this.form.urgentPhone,
            location: this.form.location,
            email: this.form.email,
            card: this.form.card,
            cardFront: this.form.cardFront,
            cardBack: this.form.cardBack,
            dateStart: this.form.dateStart.getTime(),
            dateEnd: this.form.dateEnd.getTime()
          })
          this.$toast.message('提交成功!')
          this.$router.replace({ name: 'contract-list' })
        } catch (err) {
          this.$toast.message(err.message)
        }
      }
    },
    async initNearbySourceList () {
      try {
        this.nearbySource = await this.$api.source.getSourceList(this.address.city)
      } catch (err) {
        this.$toast.message(err.message)
        this.nearbySource = []
      }
    },
    // 下一步按钮
    nextStep (current) {
      this.activeStep = current + 1
      if (current === this.checkStep) {
        this.checkStep++
      }
    },
    isEmptyObject,
    isPhone,
    isCard,
    isEmail,
    ...mapMutations({
      showNav: mutationTypes.SHOW_NAV
    })
  },
  created () {
    this.cardWidth = (this.$root.$el.clientWidth - 70) / 2 | 0
    this.showNav(false)
    this.form.name = this.user.auth.name || ''
    this.form.phone = this.user.phone || ''
    this.form.card = isEmptyObject(this.user.auth || {}) ? '' : this.user.auth.card
    this.form.email = this.user.email
    this.form.cardFront = this.user.auth.cardFront || ''
    this.form.cardBack = this.user.auth.cardBack || ''
    this.initNearbySourceList()
    this.$root.$on('pictureUploadComplete', this.changeCard)
  },
  beforeDestroy () {
    this.$root.$off('pictureUploadComplete', this.changeCard)
  }
}
</script>

<style lang="scss" scoped>
.wrapper {
  padding: 110px 0 0;
}
.tab {
  position: fixed;
  top: 53px;
  left: 0;
  z-index: 20;
  width: 100%;
  // box-shadow: 0 5px 10px 0 rgba($color: #000000, $alpha: 0.1);
}
.next-step {
  padding: 15px;
  position: relative;
  z-index: 10;
}
.step-0 {
  padding-bottom: 60px;
  .item {
    display: flex;
    justify-content: space-between;
    height: 50px;
    &:not(:last-of-type) {
      border-bottom: 1px solid #eee;
    }
  }
  .item-left {
    flex-shrink: 0;
    line-height: 50px;
    padding-left: 15px;
  }
  .item-right {
    flex-shrink: 0;
    display: flex;
    align-items: center;
    padding-right: 5px;
    .mu-icon {
      margin-left: 2px;
    }
    span {
      color: #999;
    }
    input {
      min-width: 200px;
      border: none;
      font-size: 14px;
      text-align: right;
      outline: none;
      box-shadow: none;
      color: #999;
    }
  }
  .whitespace-title {
    text-align: center;
    padding-bottom: 10px;
    margin: -5px -15px 0;
    border-bottom: 1px solid #eee;
  }
  .room-list {
    padding: 15px 0 0;
    margin: 0 -15px 0 0;
    list-style: none;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: center;
  }
  .room-name {
    font-size: 20px;
    font-weight: bold;
  }
  .room-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;
    width: 105px;
    height: 90px;
    padding-top: 20px;
  }
  .room-status {
    position: absolute;
    top: 5%;
    left: 0;
    line-height: 24px;
    background-color: #555;
    color: #eee;
    padding: 0 15%;
    font-size: 12px;
    &::after {
      content: "";
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-50%) translateX(100%);
      width: 0;
      height: 0;
      border-width: 12px 0 12px 12px;
      border-style: solid;
      border-color: transparent transparent transparent #555;
    }
  }
  .room-item {
    position: relative;
    border: 1px solid #555;
    flex-shrink: 0;
    margin-bottom: 15px;
    margin-right: 10px;
    border-radius: 7px;
    color: #555;
    &::before {
      content: "";
      width: 90%;
      height: 90%;
      position: absolute;
      left: 5%;
      top: 5%;
      border: 1px solid #555;
      border-radius: 5px;
    }
    &.active {
      border-color: #ea7777;
      color: #ea7777;
      &::before {
        border-color: #ea7777;
      }
      .room-status {
        background-color: #ea7777;
        &::after {
          border-color: transparent transparent transparent #ea7777;
        }
      }
    }
    &.disabled {
      border-color: #ccc;
      color: #ccc;
      &::before {
        border-color: #ccc;
      }
      .room-status {
        background-color: #ccc;
        &::after {
          border-color: transparent transparent transparent #ccc;
        }
      }
    }
  }
  .next-step {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
  }
}
.step-1, .step-3, .step-4 {
  .mu-radio {
    margin-left: 20px;
  }
  .start-time, .end-time {
    .mu-input {
      margin: 0;
      padding: 0;
      min-height: 0;
    }
  }
  .whitespace-title {
    line-height: 18px;
    margin: 0 0 10px;
    font-size: 16px;
    padding-left: 5px;
    border-left: 3px solid #ea7777;
  }
  .infos {
    padding: 0;
    margin: 0;
    list-style: none;
  }
  .info {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    line-height: 40px;
    &:not(:last-of-type) {
      border-bottom: 1px solid #eee;
    }
  }
  input.info-right {
    border: none;
    background: none;
    outline: none;
    box-shadow: none;
    text-align: right;
    flex-grow: 1;
  }
  em {
    font-style: normal;
    color: #ea7777;
  }
  span {
    padding: 4px 6px;
    font-size: 12px;
    margin-left: 5px;
    border: 1px solid #999;
    border-radius: 4px;
    sup {
      font-size: 12px;
      position: relative;
      top: -3px;
    }
  }
}
.step-2 {
  .title {
    border-bottom: 1px dashed #ddd;
    padding-bottom: 10px;
    text-align: center;
    font-size: 14px;
    margin-bottom: 10px;
  }
  .confirm-protocol {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 15px;
  }
}
.step-4 {
  .card-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    .card {
      display: flex;
      flex-flow: column;
      align-items: center;
      span {
        border: none;
        font-size: 12px;
        color: #666;
        padding: 5px 0 0;
      }
    }
  }
}
.not-pass-list {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-flow: row wrap;
  .not-pass {
    padding: 5px 10px;
    background-color: #ea7777;
    margin: 0 10px 10px 0;
    color: #eee;
    border-radius: 4px;
  }
}
.source-select {
  padding: 15px;
  .source-select-title {
    line-height: 90px;
    font-size: 16px;
    font-weight: bold;
  }
  .source-select-list {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    flex-flow: row wrap;
  }
  .source-select-item {
    position: relative;
    flex-shrink: 0;
    margin: 0 15px 15px 0;
    padding: 10px 10px;
    border: 1px solid #999;
    border-radius: 5px;
    color: #666;
    &.active {
      border-color: #ea7777;
      color: #ea7777;
    }
  }
}
</style>
