<template>
  <div class="wrapper">
    <topbar fixed>
      <mu-button icon slot="left" @click="$router.go(-1)">
        <mu-icon value="chevron_left"></mu-icon>
      </mu-button>
      <div slot="center">我的合同</div>
    </topbar>
    <my-image full-width :height="200" type="sharp" block
      :src="contract.roomType.picture">
    </my-image>
    <div class="intro">
      <span>{{ contract.source.name }}</span>
      <span>{{ contract.room.name }}</span>
      <span class="type">
        {{ contract.roomType.name + ' ' + contract.roomType.size }} m<sup>2</sup>
      </span>
      <div class="price">
        <em>{{ (contract.roomType.price || 0).toFixed(2) }}</em>元/月
      </div>
    </div>
    <whitespace padding="15px">
      <div class="title">基本信息</div>
      <ul class="infos">
        <li class="info">
          <div class="type">合同编号</div>
          <div class="value">XK3HB9AO4F1F4678FH48EUDD</div>
          <mu-button class="copy-btn" small flat color="primary"
            data-clipboard-text="XK3HB9AO4F1F4678FH48EUDD">复制
          </mu-button>
        </li>
        <li class="info">
          <div class="type">出租单位名称</div>
          <div class="value">长沙邦布物业管理有限公司</div>
          <mu-button class="copy-btn" small flat color="primary"
            data-clipboard-text="长沙邦布物业管理有限公司">复制
          </mu-button>
        </li>
        <li class="info">
          <div class="type">地址</div>
          <div class="value">{{ contract.source.location }}</div>
          <mu-button class="copy-btn" small flat color="primary"
            :data-clipboard-text="contract.source.location">复制
          </mu-button>
        </li>
      </ul>
    </whitespace>
    <whitespace padding="15px">
      <div class="title">租房进度</div>
      <div class="date">
        <span>2018-08-21</span>
        <div class="wrap">
          <mu-linear-progress :value="percent" mode="determinate"
            color="#ea7777" size="6">
          </mu-linear-progress>
        </div>
        <span>2019-03-01</span>
      </div>
      <div class="status">
        <div class="type">
          <span>签署合同</span>
          <span>交首期款</span>
          <span>办理入住</span>
          <span>办理退房</span>
          <span>退回押金</span>
        </div>
        <div class="wrap">
          <div class="dots">
            <div class="dot" v-for="_ in Array.from({ length: 5 })" :key="_"></div>
          </div>
          <mu-linear-progress :value="statusPercent" mode="determinate"
            color="#ea7777" size="10">
          </mu-linear-progress>
          <div class="percent" :class="classPercent" :style="stylePercent">
            {{ statusStr }}
          </div>
        </div>
      </div>
      <div class="tools" v-if="contract.status === 2">
        <mu-button>申请退房</mu-button>
        <mu-button color="primary">申请续租</mu-button>
      </div>
    </whitespace>
    <whitespace padding="15px">
      <div class="title">租房记录</div>
      <ul class="logs">
        <li class="log" v-for="log in logs" :key="log.type">
          <span>{{ log.type }}</span>
          <span>{{ log.date }}</span>
        </li>
      </ul>
    </whitespace>
  </div>
</template>

<script>
import { mapMutations } from 'vuex'
import * as mutationTypes from '@/store/mutation-types'

const _logs = [
  { type: '签署合同', date: '2018-08-02' },
  { type: '交首期款', date: '2018-08-03' },
  { type: '办理入住', date: '2018-08-04' },
  { type: '办理退房', date: '2019-03-01' },
  { type: '退回押金', date: '2019-03-02' },
  { type: '合同终止', date: '2019-03-02' }
]

export default {
  name: 'Detail',
  data: () => ({
    status: 4,
    logs: _logs,
    contract: {
      id: -1,
      source: {},
      roomType: {},
      room: {},
      status: -1
    }
  }),
  computed: {
    percent () {
      if (this.contract.id === -1) return 0
      const current = new Date().getTime()
      const { dateStart, dateEnd } = this.contract
      if (current < dateStart) {
        return 0
      } else if (current > dateEnd) {
        return 100
      } else {
        return (current - dateStart) / (dateEnd - dateStart) | 0
      }
    },
    statusStr () {
      if (this.contract.id === -1) return ''
      return ['待交首期款', '待入住', '租赁中', '待退押金', '合同终止'][this.contract.status]
    },
    statusPercent () {
      if (this.contract.id === -1) return 0
      return [13, 38, 63, 80, 100][this.contract.status]
    },
    stylePercent () {
      if (this.contract.id === -1) return ''
      return this.contract.status === 4
        ? ''
        : { left: this.statusPercent + '%' }
    },
    classPercent () {
      if (this.contract.id === -1) return ''
      return this.contract.status === 4
        ? 'is-end'
        : ''
    }
  },
  methods: {
    copy (index) {
      const $text = this.$refs.infoValue[index]
      console.log($text)
      $text.select()
      document.execCommand('copy')
    },
    async initContract () {
      try {
        const id = this.$route.query.id
        this.contract = await this.$api.contract.getById(id)
      } catch (err) {
        this.$toast.message(err.message)
      }
    },
    ...mapMutations({
      showNav: mutationTypes.SHOW_NAV
    })
  },
  created () {
    this.initContract()
    this.showNav(true)
  },
  mounted () {
    if (!!ClipboardJS) {
      /* eslint-disable no-new */
      new ClipboardJS('.copy-btn')
    }
  }
}
</script>

<style lang="scss" scoped>
.wrapper {
  padding: 53px 0 56px;
}
.intro {
  position: relative;
  z-index: 2;
  margin: -40px 15px 10px;
  padding: 10px 15px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.1);
  span {
    display: block;
    line-height: 20px;
  }
  .type {
    font-size: 12px;
    color: #999;
  }
  .price {
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    em {
      color: #ea7777;
      font-size: 20px;
      font-style: normal;
    }
  }
}
.title {
  padding: 0 0 10px 5px;
  &::before {
    content: '';
    border-left: 3px solid #ea7777;
    padding-right: 5px;
  }
}
.infos {
  list-style: none;
  padding: 0;
  margin: 0;
  .info {
    position: relative;
    padding: 5px 12px;
    .type {
      font-weight: bold;
    }
    .copy-btn {
      position: absolute;
      right: -15px;
      bottom: 0;
    }
  }
}
.date {
  border-radius: 15px;
  background-color: #eee;
  display: flex;
  height: 30px;
  flex-flow: row nowrap;
  align-items: center;
  margin-bottom: 15px;
  span {
    flex-shrink: 0;
    padding: 0 20px;
    font-size: 12px;
    color: #666;
  }
  .wrap {
    flex-grow: 1;
  }
  .mu-linear-progress {
    border-radius: 3px;
    overflow: hidden;
  }
}
.status {
  .type {
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    color: #666;
  }
  .wrap {
    position: relative;
    padding-bottom: 40px;
    overflow: hidden;
    .dots {
      width: 100%;
      height: 10px;
      position: absolute;
      top: 0;
      left: 0;
      display: flex;
      justify-content: space-between;
    }
    .dot {
      width: 10px;
      height: 10px;
      background-color: rgba(255, 255, 255, 0.5);
      border-radius: 100%;
      z-index: 3;
    }
    .percent {
      background-color: #ea7777;
      color: white;
      font-size: 12px;
      padding: 0 10px;
      text-align: center;
      line-height: 30px;
      display: block;
      position: absolute;
      border-radius: 30px;
      transform: translateX(-50%);
      top: 20px;
      &::before {
        content: '';
        display: block;
        width: 0;
        height: 0;
        border-width: 0 5px 5px;
        border-style: solid;
        border-color: transparent transparent #ea7777;
        position: absolute;
        top: -5px;
        left: 50%;
        transform: translateX(-50%);
      }
      &.is-end {
        right: 0;
        transform: translateX(0);
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        &::before {
          left: 100%;
          transform: translateX(-100%);
        }
      }
    }
  }
  .mu-linear-progress {
    border-radius: 5px;
    overflow: hidden;
  }
}
.logs {
  padding: 0;
  margin: 0;
}
.log {
  display: flex;
  justify-content: space-between;
  padding: 2px 10px;
}
.tools {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
  .mu-button {
    margin-left: 20px;
  }
}
</style>
