<template>
  <div class="wrapper">
    <topbar fixed>
      <mu-button icon slot="left" @click="$router.go(-1)">
        <mu-icon value="chevron_left"></mu-icon>
      </mu-button>
      <div slot="center">我的合同</div>
      <mu-button icon slot="right" @click="$router.push({ name: 'contract-add' })">
        <mu-icon value="add"></mu-icon>
      </mu-button>
    </topbar>
    <div class="card" v-for="data in list" :key="data.id" @click="goDetail(data.id)">
      <mu-ripple>
        <div class="deadline">合同剩余{{ calcDeadline(data) }}天到期</div>
        <div class="status">{{ parseStatus(data.status) }}</div>
        <div class="room">
          <my-image :width="100" :height="100" :src="data.roomType.picture"></my-image>
          <div class="room-detail">
            <p class="name">{{ data.source.name }}</p>
            <p>{{ data.roomType.name + '-' + data.room.name }}</p>
            <p>房租: <em>{{ data.roomType.price.toFixed(2) }}</em>元/月</p>
            <p>合同主体人 | 整租</p>
          </div>
        </div>
        <div class="progress">
          <div class="date">
            <span>{{ $f(data.dateStart, 'YYYY-MM-DD') }}</span>
            <span>{{ $f(data.dateEnd, 'YYYY-MM-DD') }}</span>
          </div>
          <div class="wrap">
            <mu-linear-progress :value="calcPercent(data)" mode="determinate"
              color="#ea7777" size="10">
            </mu-linear-progress>
            <span :class="parseProClass(data)" :style="parseProStyle(data)">
              {{ calcPercent(data) }}%
            </span>
          </div>
        </div>
      </mu-ripple>
    </div>
    <empty-list-holder v-show="showListHolder">
      没有签约的房间噢，去看看吧~
    </empty-list-holder>
  </div>
</template>

<script>
import { mapMutations } from 'vuex'
import * as mutationTypes from '@/store/mutation-types'

export default {
  name: 'ContractList',
  data: () => ({
    list: [],
    showListHolder: false
  }),
  methods: {
    parseProClass (data) {
      const percent = this.calcPercent(data)
      if (percent < 10) return 'left'
      if (percent > 10) return 'right'
      return ''
    },
    parseProStyle (data) {
      const percent = this.calcPercent(data)
      if (percent < 10) return { left: 0 }
      if (percent > 10) return { left: '100%' }
      return { left: percent + '%' }
    },
    calcPercent (data) {
      const current = new Date().getTime()
      if (current < data.dateStart) {
        return 0
      } else if (current > data.dateEnd) {
        return 100
      } else {
        return (current - data.dateStart) / (data.dateEnd - data.dateStart) | 0
      }
    },
    calcDeadline (data) {
      const current = new Date().getTime()
      if (current < data.dateStart) {
        return (data.dateEnd - data.dateStart) / (1000 * 60 * 60 * 24) | 0
      } else {
        return (data.dateEnd - current) / (1000 * 60 * 60 * 24) | 0
      }
    },
    parseStatus (status) {
      switch (status) {
        case 0: return '待交首期款'
        case 1: return '待审核'
        case 2: return '待入住'
        case 3: return '租赁中'
        case 4: return '合同结束'
        case 10: return '合同未生效'
      }
    },
    goDetail (id) {
      this.$router.push({ name: 'contract-detail', query: { id } })
    },
    async initList () {
      const list = await this.$api.contract.getList()
      list.sort((a, b) => b.id - a.id)
      this.list = list
      this.showListHolder = this.list.length === 0
    },
    ...mapMutations({
      showNav: mutationTypes.SHOW_NAV
    })
  },
  created () {
    this.initList()
    this.showNav(true)
  }
}
</script>

<style lang="scss" scoped>
.wrapper {
  padding: 53px 15px 56px;
}
.card {
  border-radius: 10px;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.1);
  padding: 15px;
  position: relative;
  background-color: white;
  margin-top: 10px;
  overflow: hidden;
}
.deadline {
  color: #333;
}
.status {
  position: absolute;
  top: 15px;
  right: 15px;
  font-size: 16px;
  color: #ea7777;
}
.room {
  display: flex;
  align-items: center;
  padding: 10px 0;
  .room-detail {
    padding-left: 10px;
    .name {
      font-size: 16px;
      line-height: 30px;
    }
    p {
      line-height: 22px;
      margin: 0;
      color: #333;
    }
    em {
      font-style: normal;
      color: #ea7777;
      padding: 0 2px;
    }
  }
}
.progress {
  .date {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    font-size: 12px;
    color: #666;
  }
  .wrap {
    position: relative;
    padding: 10px 0 50px;
    .mu-linear-progress {
      border-radius: 10px;
      overflow: hidden;
    }
    span {
      background-color: #ea7777;
      color: white;
      font-size: 16px;
      padding: 0 10px;
      line-height: 30px;
      display: block;
      position: absolute;
      border-radius: 30px;
      transform: translateX(-50%);
      top: 30px;
      &::before {
        content: '';
        display: block;
        width: 0;
        height: 0;
        border-width: 0 5px 5px;
        border-style: solid;
        border-color: transparent transparent #ea7777;
        position: absolute;
        top: -5px;
        left: 50%;
        transform: translateX(-50%);
      }
      &.left {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        transform: translateX(0);
        &::before {
          left: 0;
          transform: translateX(0);
        }
      }
      &.right {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        transform: translateX(-100%);
        &::before {
          left: unset;
          right: 0;
          transform: translateX(0);
        }
      }
    }
  }
}
.tools {
  display: flex;
  justify-content: flex-end;
  .mu-button {
    margin-left: 20px;
  }
}
</style>
