<template>
  <div class="wrapper">
    <topbar fixed>
      <mu-button icon slot="left" @click="$router.go(-1)">
        <mu-icon value="chevron_left"></mu-icon>
      </mu-button>
      <div slot="center">关于我们</div>
    </topbar>
    <img :src="logo" class="logo">
    <p>艾住服务于有态度、有活力的城市青年、致力于为漂泊在外的城市青年打造轻松生活环境、是年轻人的不二选择。</p>
    <p>艾住，出租的不是房间，是梦想与态度。</p>
    <div class="delveloper-title">开发人员</div>
    <div class="developers">
      <div class="developer" v-for="dev in developer" :key="dev.name">
        <img :src="dev.avatar" :alt="dev.name">
        <span>{{ dev.name }}</span>
        <em>{{ dev.job }}</em>
      </div>
    </div>
    <div class="footer">艾住 1.0.0 - 中南大学©2019毕业设计</div>
  </div>
</template>

<script>
import { mapMutations } from 'vuex'
import * as mutationTypes from '@/store/mutation-types'
import logo from '@/assets/images/艾住-横BLACKw300.png'
import avatar1 from '@/assets/images/developer/avatar1.jpg'
import avatar2 from '@/assets/images/developer/avatar2.jpg'
import avatar3 from '@/assets/images/developer/avatar3.jpg'
import avatar4 from '@/assets/images/developer/avatar4.jpg'
import avatar5 from '@/assets/images/developer/avatar5.jpg'
import avatar6 from '@/assets/images/developer/avatar6.jpg'

const developer = [
  { avatar: avatar1, name: '常思捷', job: 'Web前端工程师' },
  { avatar: avatar2, name: '邦布', job: 'Node后端工程师' },
  { avatar: avatar3, name: 'Tokoyami', job: '项目经理' },
  { avatar: avatar4, name: 'D.VA', job: '软件测试工程师' },
  { avatar: avatar5, name: 'JetBamboo', job: '数据库开发工程师' },
  { avatar: avatar6, name: '小海鲨', job: '运维工程师' }
]

export default {
  name: 'About',
  data: () => ({
    logo,
    developer
  }),
  methods: {
    ...mapMutations({
      showNav: mutationTypes.SHOW_NAV
    })
  },
  created () {
    this.showNav(false)
  }
}
</script>

<style lang="scss" scoped>
.wrapper {
  padding-top: 53px;
  position: relative;
  width: 100vw;
  background-color: #FFF;
}
.logo {
  width: 200px;
  margin: 30px auto;
  display: block;
}
p {
  color: #333;
  margin: 0;
  padding: 5px 30px;
  text-indent: 28px;
}
.delveloper-title {
  font-size: 12px;
  color: #999;
  font-style: normal;
  text-align: center;
  margin-top: 20px;
  position: relative;
  padding-bottom: 10px;
  &::after {
    content: '';
    width: 120px;
    border-bottom: 1px solid #ccc;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
  }
}
.developers {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  padding: 10px 15px 60px;
}
.developer {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  width: 115px;
  padding: 20px 0;
  img {
    width: 64px;
    height: 64apx;
    border-radius: 100%;
    margin: 0 0 10px;
  }
  span {
    color: #333;
  }
  em {
    font-style: normal;
    color: #666;
    font-size: 12px;
  }
}
.footer {
  position: fixed;
  text-align: center;
  width: 100%;
  padding: 10px 0 10px;
  background-color: #333;
  color: #ddd;
  bottom: 0;
  left: 0;
}
</style>
