<template>
  <div class="wrapper">
    <topbar fixed>
      <mu-button icon slot="left" @click="$router.go(-1)">
        <mu-icon value="chevron_left"></mu-icon>
      </mu-button>
      <div slot="center">意见反馈</div>
    </topbar>
    <mu-form :model="form" class="form" ref="form">
      <mu-form-item prop="room" label="请选择房间号" :rules="notEmpty" label-float>
        <mu-select v-model="form.room" underline-color="primary">
          <mu-option v-for="option in roomOptions" :key="option" :label="option" :value="option"></mu-option>
        </mu-select>
      </mu-form-item>
      <mu-form-item prop="contact" label="手机号码/邮箱" :rules="notEmpty" label-float>
        <mu-text-field v-model="form.contact" underline-color="primary"></mu-text-field>
      </mu-form-item>
      <mu-form-item prop="content" label="请输入您的意见和建议, 我们将会不断为您改进" :rules="notEmpty">
        <mu-text-field multi-line :rows="3" :rows-max="6" v-model="form.content" max-length="200"
          underline-color="primary">
        </mu-text-field>
      </mu-form-item>
      <mu-button @click="submit" class="submit" full-width color="primary">提交反馈</mu-button>
    </mu-form>
    <div class="info">
      <p>使用过程中若遇到任何问题及建议</p>
      <p>请将您的意见反馈给我们</p>
      <p>十分感谢!</p>
      <img :src="apologize" class="bg">
    </div>
  </div>
</template>

<script>
import { mapMutations, mapGetters } from 'vuex'
import * as mutationTypes from '@/store/mutation-types'
import { isNotEmpty } from '@/utils/utils'
import apologize from '@/assets/images/sakamoto/apologize.png'

export default {
  name: 'Feedback',
  data: () => ({
    apologize,
    notEmpty: [ { validate: isNotEmpty, message: '必须填写内容!' } ],
    form: {
      room: '',
      contact: '',
      content: ''
    },
    roomOptions: [
      '艾住-铁道学院店-427', '艾住-铁道学院店-428', '艾住-铁道学院店-429',
      '中南大学店-f47', '中南大学店-f48'
    ]
  }),
  computed: {
    ...mapGetters(['user'])
  },
  methods: {
    async submit () {
      if (await this.$refs.form.validate()) {
        if ((await this.$confirm('你确定要提交报修单吗 ?')).result) {
          this.$toast.message('提交成功!')
          this.$router.go(-1)
        }
      }
    },
    ...mapMutations({
      showNav: mutationTypes.SHOW_NAV
    })
  },
  created () {
    this.form.contact = this.user.phone || ''
    this.showNav(false)
  }
}
</script>

<style lang="scss" scoped>
.wrapper {
  padding: 53px 15px 0;
  background-color: white;
}
.submit {
  margin-top: 20px;
}
.info {
  position: relative;
  padding: 50px 0 40px 0;
  text-align: center;
  .bg {
    width: 100px;
    margin-top: 30px;
  }
  p {
    margin: 0;
    line-height: 20px;
    color: #999;
  }
}
</style>
