<template>
  <div class="home-wrapper">
    <my-image class="banner" :height="210" full-width type="sharp" block
      :src="contractList.length === 0 ? banner : contractList[0].roomType.picture">
    </my-image>
    <div class="info" v-if="user.id !== -1">
      <div class="welcome">
        <div class="name">HI, {{ user.name }}</div>
        <div class="location" v-show="!!address.city">
          <mu-icon value="location_on" size="18"></mu-icon>
          <span>{{ address.city }}</span>
        </div>
      </div>
      <div class="time1">这是您入住艾住的</div>
      <div class="time2">第<em>{{ calcDay }}</em>天</div>
      <div class="date">
        <span>{{ `${date.getMonth() + 1}月${date.getDate()}日` }}</span>
        <span>{{ `星期${['日', '一', '二', '三', '四', '五', '六'][date.getDay()]}` }}</span>
      </div>
    </div>
    <whitespace class="room-list" v-show="!!user.id && contractList.length !== 0">
      <div class="room" v-for="contract in contractList" :key="contract.id">
        <mu-ripple @click="goContract(contract.id)">
          <my-image type="sharp" :width="140" :height="80" :src="contract.roomType.picture" block></my-image>
          <div class="room-source">{{ contract.source.name }}</div>
          <div class="room-name">{{ contract.room.name }}</div>
          <div class="room-date">
            <mu-icon value="alarm" size="16"></mu-icon>
            <span>{{ $f(contract.dateStart, 'YYYY年MM月') + '至' + $f(contract.dateEnd, 'YYYY年MM月') }}</span>
          </div>
        </mu-ripple>
      </div>
    </whitespace>
    <whitespace class="app">
      <div class="app-item" v-for="app in apps" :key="app.name">
        <mu-ripple @click="$router.push({ name: app.target })">
          <mu-icon :value="app.icon" size="26" color="primary"></mu-icon>
          <div class="app-name">{{ app.name }}</div>
        </mu-ripple>
      </div>
    </whitespace>
    <whitespace>
      <rowlist :data="recommendSourceList" title="推荐房源" sub-title="所爱即所住"
        @clickmore="$router.push({ name: 'source-recommend' })"
        @clickitem="clickSource">
      </rowlist>
    </whitespace>
    <whitespace>
      <rowlist :data="recommendRoomTypeList" title="推荐户型" sub-title="房子可以租, 爱终将长久"
        @clickmore="$router.push({ name: 'room-recommend' })"
        @clickitem="clickRoomType">
      </rowlist>
    </whitespace>
  </div>
</template>

<script>
import * as mutationTypes from '@/store/mutation-types'
import banner from '@/assets/images/home/bg.png'
import { mapGetters, mapMutations } from 'vuex'

const apps = [
  { target: 'source-find', icon: 'location_on', name: '地图找房' },
  { target: 'source-list', icon: 'account_balance', name: '房源' },
  { target: 'reserve-list', icon: 'bookmark', name: '预约' },
  { target: 'preorder-list', icon: 'card_membership', name: '预定' },
  { target: 'contract-list', icon: 'description', name: '合同' }
]

export default {
  name: 'Home',
  data: () => ({
    banner,
    date: new Date(),
    apps,
    recommendSourceList: [],
    recommendRoomTypeList: [],
    contractList: []
  }),
  computed: {
    ...mapGetters(['user', 'address']),
    calcDay () {
      const delta = this.date.getTime() - this.user.dateCreate
      return (delta / (1000 * 60 * 60 * 24) | 0) + 1
    }
  },
  methods: {
    goContract () {
      this.$router.push({ name: 'contract-detail', query: { id: 0 } })
    },
    clickSource (index) {
      const id = this.recommendSourceList[index].id || 0
      this.$router.push({ name: 'source-detail', query: { id } })
    },
    clickRoomType (index) {
      const id = this.recommendRoomTypeList[index].id || 0
      this.$router.push({ name: 'room-detail', query: { id } })
    },
    async getRecommendList () {
      if (this.address.city === '') {
        this.$root.$on('addressload', async _ => {
          this.getRecommendAsync(this.address.city)
        })
      } else {
        this.getRecommendAsync(this.address.city)
      }
    },
    async getRecommendAsync (city) {
      const sourceList = await this.$api.source.getRecommendSourceList(city)
      const roomTypeList = await this.$api.room.getRecommendList(city)
      sourceList.length = 3
      roomTypeList.length = 3
      this.recommendSourceList = sourceList
      this.recommendRoomTypeList = roomTypeList
    },
    ...mapMutations({
      showNav: mutationTypes.SHOW_NAV
    })
  },
  created () {
    this.showNav(true)
    this.getRecommendList()
  }
}
</script>

<style lang="scss" scoped>
@import '~@/assets/scss/variable.scss';
@import '~@/assets/scss/mixin.scss';

.home-wrapper {
  position: relative;
  padding-bottom: 56px;
}
.banner {
  margin-bottom: 10px;
}
.info {
  position: relative;
  margin: -100px 15px 20px;
  height: 140px;
  background-color: white;
  z-index: 1;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.1);
  padding: 10px 15px 5px;
  border-radius: 4px;
  .welcome {
    font-size: 26px;
    .name {
      display: inline-block;
    }
    .location {
      padding-left: 10px;
      display: inline-block;
      font-size: 14px;
      .mu-icon {
        vertical-align: middle;
      }
      span {
        display: inline-block;
        vertical-align: middle;
      }
    }
  }
  .time1 {
    position: absolute;
    bottom: 40px;
    left: 15px;
  }
  .time2 {
    position: absolute;
    bottom: 5px;
    left: 15px;
    em {
      font-size: 24px;
      font-weight: bold;
      font-style: normal;
      color: #ea7777;
      margin: 0 2px;
    }
  }
  .date {
    position: absolute;
    bottom: 0;
    right: 30px;
    background-color: #ea7777;
    padding: 15px 5px 5px;
    border-radius: 10px 10px 0 0;
    text-align: center;
    span {
      display: block;
      color: white;
      font-size: 14px;
      line-height: 20px;
    }
  }
}
.room-list {
  padding: 0 15px;
  margin-top: 20px;
  z-index: 100;
}
.room {
  position: relative;
  &:not(:first-of-type) {
    margin-top: 5px;
  }
  .room-source {
    position: absolute;
    top: 5px;
    left: 160px;
  }
  .room-name {
    position: absolute;
    top: 20px;
    left: 160px;
  }
  .room-date {
    position: absolute;
    bottom: 5px;
    left: 160px;
    font-size: 12px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    span {
      margin-left: 5px;
    }
  }
}
.app {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  .app-item {
    position: relative;
    text-align: center;
    padding: 10px 0;
    width: 20%;
  }
  .app-name {
    font-size: 14px;
    padding-top: 5px;
  }
}
.rec {
  padding: 15px;
  .rec-title {
    color: #333;
    font-size: 18px;
    font-weight: bold;
    line-height: 30px;
  }
  .rec-sub-title {
    color: #999;
    line-height: 20px;
  }
  .rec-list-wrapper {
    overflow-x: scroll;
    overflow-y: hidden;
    margin: 0 -15px;
    &::-webkit-scrollbar {
      display: none;
    }
  }
  .rec-list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-flow: row nowrap;
  }
  .rec-item {
    position: relative;
    padding: 15px 15px 10px;
  }
  .rec-item-picture {
    width: 140px;
    height: 90px;
    display: block;
  }
  .rec-item-name {
    padding-top: 10px;
    line-height: 20px;
    width: 140px;
    @include oneLineOverflow;
  }
  .rec-more {
    position: absolute;
    right: 0;
    top: 15px;
  }
}
</style>
