<template>
  <div class="detail-wrapper">
    <topbar fixed>
      <mu-button icon slot="left" @click="goBack">
        <mu-icon value="chevron_left"></mu-icon>
      </mu-button>
      <div slot="center">房源详情</div>
    </topbar>
    <my-image block full-width :height="200" type="sharp" :src="source.picture"></my-image>
    <div class="intro">
      <div class="name">{{ source.name }}</div>
      <span><em>保障:</em>100%真实房源</span>
      <span><em>佣金:</em>100%免佣金</span>
    </div>
    <whitespace class="contact" padding="15px">
      <div class="whitespace-title">联系我们</div>
      <p>
        <mu-icon value="phone" size="18"></mu-icon>
        <span>客服电话:</span>
        <a :href="'tel:' + source.phone">{{ source.phone }}</a>
      </p>
      <p>
        <mu-icon value="location_on" size="18"></mu-icon>
        <span>联系地址: {{ source.location }}</span>
      </p>
      <div class="map" ref="map"></div>
    </whitespace>
    <whitespace padding="15px" v-if="source.nearby !== ''">
      <div class="whitespace-title">基础设施</div>
      <ul class="nearby-list">
        <li class="nearby" v-for="nearby in nearbyList" :key="nearby.name">
          <img :src="nearby.icon">
          <span>{{ nearby.name }}</span>
        </li>
      </ul>
    </whitespace>
    <whitespace class="room" padding="15px" v-if="source.roomTypeList.length !== 0">
      <div class="whitespace-title">户型</div>
      <rowlist :data="source.roomTypeList.slice(0, 3)"
        simple @clickitem="goRoom" @clickmore="goMore">
      </rowlist>
    </whitespace>
    <div class="footer">
      <a class="footer-box footer-shrink" href="tel:15111012345">
        <mu-ripple>
          <div class="footer-container">
            <mu-icon value="phone" size="20"></mu-icon>
            <span>电话咨询</span>
          </div>
        </mu-ripple>
      </a>
      <div class="footer-box footer-grow">
        <mu-ripple @click="goReserve">
          <div class="footer-container">
            <mu-icon value="language" size="20"></mu-icon>
            <span>在线预约</span>
          </div>
        </mu-ripple>
      </div>
    </div>
  </div>
</template>

<script>
import defaultPicutre from '@/assets/images/default.png'
import { mapMutations, mapGetters } from 'vuex'
import * as mutationTypes from '@/store/mutation-types'
import { nearbyMapper } from '@/utils/mapper'

export default {
  name: 'Detail',
  data: () => ({
    defaultPicutre,
    source: {
      id: 0,
      name: '',
      coordinate: [0, 0],
      location: '',
      phone: '',
      nearby: '',
      roomTypeList: []
    }
  }),
  computed: {
    nearbyList () {
      const list = []
      if (!!this.source.nearby) {
        Array.from(this.source.nearby).map((a, i) => {
          a === '1' && list.push(nearbyMapper[i])
        })
      }
      return list
    },
    ...mapGetters(['address', 'from'])
  },
  methods: {
    initMap () {
      if (!window.AMap) return
      this.map = new AMap.Map(this.$refs.map, {
        zoom: 13,
        zoomEnable: false,
        dragEnable: false,
        center: this.source.coordinate
      })
      this.map.on('complete', () => {
        this.markMap()
      })
    },
    markMap () {
      if (!this.map) return
      const mark = new AMap.Marker({
        position: this.source.coordinate,
        title: this.source.name,
        content: `<div class="amap-mark">${this.source.name}</div>`
      })
      this.map.add(mark)
    },
    goBack () {
      // 如果之前来源是户型页，点了后端也要前进户型页，则导向房源页
      if (this.from === 'room-detail') {
        this.$router.push({ name: 'source-list' })
      } else {
        this.$router.go(-1)
      }
    },
    goReserve () {
      this.$router.push({ name: 'reserve-add', query: { id: this.source.id } })
    },
    goMore () {
      this.$router.push({ name: 'room-list', query: { id: this.source.id } })
    },
    goRoom (index) {
      const id = this.source.roomTypeList[index].id
      this.$router.push({ name: 'room-detail', query: { id } })
    },
    async getSource () {
      try {
        const id = this.$route.query.id
        if (typeof id === 'undefined') {
          throw new Error('无法获取房源')
        }
        this.source = await this.$api.source.getSourceById(id)
        this.initMap()
      } catch (err) {
        this.$toast.message(err.message)
        this.$router.replace({ name: 'home' })
      }
    },
    ...mapMutations({
      showNav: mutationTypes.SHOW_NAV
    })
  },
  created () {
    this.showNav(false)
    this.getSource()
  },
  beforeDestroy () {
    this.map && this.map.destroy()
  }
}
</script>

<style lang="scss" scoped>
@import '~@/assets/scss/variable.scss';
@import '~@/assets/scss/mixin.scss';

.detail-wrapper {
  padding: 53px 0;
  position: relative;
}
.intro {
  margin: -50px 15px 20px;
  position: relative;
  border-radius: 10px;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.1);
  background-color: white;
  padding: 15px;
  z-index: 1;
  .name {
    font-size: 16px;
    margin-bottom: 5px;
    @include oneLineOverflow;
  }
  span {
    line-height: 16px;
    font-size: 14px;
    &:first-of-type {
      margin-right: 20px;
    }
  }
  em {
    font-style: normal;
    color: #ea7777;
    border-left: 3px solid #ea7777;
    padding-left: 5px;
    margin-right: 2px;
  }
}
.whitespace-title {
  border-left: 3px solid #ea7777;
  padding-left: 7px;
  line-height: 20px;
  font-size: 16px;
  margin-bottom: 10px;
}
.nearby-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: center;
  .nearby {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    opacity: 0.5;
    width: 80px;
    height: 100px;
    margin-right: 6px;
    img {
      width: 40px;
      margin-bottom: 5px;
    }
  }
}
.contact {
  .map {
    height: 150px;
    position: relative;
    overflow: hidden;
    border-radius: 4px;
    border: 1px solid #ddd;
  }
  .mu-icon {
    vertical-align: middle;
    margin-right: 5px;
  }
  p {
    color: #333;
    margin: 0;
    line-height: 25px;
    &:first-of-type {
      margin-top: 10px;
    }
    &:last-of-type {
      margin-bottom: 10px;
    }
  }
  span {
    vertical-align: middle;
  }
  a {
    vertical-align: middle;
    color: #ea7777;
    font-style: normal;
    margin-left: 5px;
  }
}
.footer {
  display: flex;
  flex-flow: row nowrap;
  height: 53px;
  position: fixed;
  bottom: -1px;
  left: 0;
  z-index: 99;
  width: 100%;
  box-shadow: 0 0px 10px 0 rgba($color: #000000, $alpha: 0.1);
  .footer-box {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
  }
  .footer-container {
    display: flex;
    align-items: center;
    text-align: center;
  }
  .footer-shrink {
    width: 70px;
    background-color: #ffffffee;
    font-size: 12px;
    color: #666;
    flex-shrink: 0;
    .footer-container {
      flex-flow: column nowrap;
    }
    .mu-icon {
      margin-bottom: 2px;
    }
  }
  .footer-grow {
    flex-grow: 1;
    background-color: #ea7777ee;
    color: #eee;
    .footer-container {
      flex-flow: row nowrap;
    }
    .mu-icon {
      margin-right: 7px;
    }
  }
}
</style>
