<template>
  <div class="find-wrapper">
    <mu-linear-progress v-show="mapLoading" color="#ea7777" class="progress"></mu-linear-progress>
    <topbar fixed>
      <mu-button icon slot="left" @click="$router.go(-1)">
        <mu-icon value="chevron_left"></mu-icon>
      </mu-button>
      <div slot="center">地图找房</div>
    </topbar>
    <div class="map" ref="map"></div>
    <mu-bottom-sheet class="source" :open.sync="open" :overlay="false">
      <div class="source-close">
        <mu-ripple @click="hideSource">
          <mu-icon value="close"></mu-icon>
        </mu-ripple>
      </div>
      <div class="source-detail" v-if="activeIndex !== -1">
        <div class="source-name" @click="goSource(sourceList[activeIndex].id)">
          <span>{{ sourceList[activeIndex].name }}</span>
          <mu-icon value="attach_file" size="30"></mu-icon>
        </div>
        <div class="source-location">
          地址: {{ sourceList[activeIndex].location }}
        </div>
        <ul class="source-room-type-list" v-show="sourceList[activeIndex].roomTypeList.length !== 0">
          <li class="source-room-type-item"
            v-for="roomType in sourceList[activeIndex].roomTypeList" :key="roomType.id">
            <mu-ripple @click="goRoomType(roomType.id)">
              <my-image class="source-room-type-image" :width="120" :height="80" :src="roomType.picture"></my-image>
              <div class="source-room-type-name">{{ roomType.name }}</div>
              <div class="source-room-type-type">格局: {{ roomType.type }}</div>
              <div class="source-room-type-size">面积: {{ roomType.size }}m<sup>2</sup></div>
              <div class="source-room-type-price">{{ roomType.price }}元/月</div>
            </mu-ripple>
          </li>
        </ul>
      </div>
    </mu-bottom-sheet>
  </div>
</template>

<script>
import { mapMutations, mapGetters } from 'vuex'
import * as mutationTypes from '@/store/mutation-types'
// import defaultPicture from '@/assets/images/default.png'
// import * as amapApi from '@/api/collection/amap'

const ZOOM_BIG = 14
const ZOOM_SMALL = 12

export default {
  name: 'find',
  data: () => ({
    mapLoading: true,
    sourceList: [],
    open: false,
    activeIndex: -1
  }),
  computed: {
    ...mapGetters(['address'])
  },
  methods: {
    initMap () {
      if (!!window.AMap) {
        this.map = new AMap.Map(this.$refs.map, {
          zoom: ZOOM_SMALL,
          center: new AMap.LngLat(...this.address.coordinate)
        })
        this.map.on('complete', () => {
          this.mapLoading = false
          this.markMap()
        })
      } else {
        this.$alert('未能加载高德地图插件', '错误').then(() => {
          this.$router.go(-1)
        })
      }
    },
    markMap () {
      if (!this.map) return
      const marks = this.sourceList.map(source => {
        return new AMap.Marker({
          position: source.coordinate,
          title: source.name,
          // offset: new AMap.Pixel(-40, -40),
          content: `<div class="amap-mark">${source.name}</div>`
        })
      })
      marks.forEach((mark, index) => {
        mark.on('click', () => {
          const source = this.sourceList[index]
          const center = [source.coordinate[0], source.coordinate[1] - 0.01]
          this.activeIndex = index
          this.open = true
          this.map.setZoomAndCenter(ZOOM_BIG, center)
        })
      })
      this.map.add(marks)
    },
    hideSource () {
      if (!this.map) return
      this.map.setZoom(ZOOM_SMALL)
      this.open = false
      this.activeIndex = -1
    },
    goSource (id) {
      this.$router.push({ name: 'source-detail', query: { id } })
    },
    goRoomType (id) {
      this.$router.push({ name: 'room-detail', query: { id } })
    },
    getSourceList (city) {
      return new Promise((resolve, reject) => {
        if (this.address.complete) {
          this.$api.source.getSourceList(city)
            .then(resolve)
            .catch(reject)
        } else {
          this.$root.$on('addressload', async _ => {
            this.$api.source.getSourceList(city)
              .then(resolve)
              .catch(reject)
          })
        }
      })
    },
    initSourceList () {
      this.getSourceList(this.address.city).then(result => {
        this.sourceList = result
        this.initMap()
      }).catch(err => {
        this.$toast.message(err.message)
      })
    },
    ...mapMutations({
      showNav: mutationTypes.SHOW_NAV
    })
  },
  created () {
    this.showNav(false)
    this.initSourceList()
  },
  beforeDestroy () {
    this.$root.$emit('showNav')
    this.map && this.map.destroy()
  }
}
</script>

<style lang="scss" scoped>
.progress {
  position: fixed;
  left: 0;
  top: 53px;
  z-index: 2019;
  width: 100%;
}
.map {
  width: 100%;
  height: 100vh;
  z-index: 1;
  position: relative;
}
.source {
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
  padding: 20px 15px 0;
  .source-close {
    position: absolute;
    right: 15px;
    top: -15px;
    border-radius: 100%;
    background-color: white;
    padding: 5px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
    z-index: 99;
    overflow: hidden;
    .mu-icon {
      display: block;
    }
  }
  .source-name {
    font-size: 24px;
    margin-bottom: 10px;
    span, .mu-icon {
      vertical-align: middle;
    }
    span {
      margin-right: 5px;
    }
  }
  .source-location {
    color: #999;
    margin-bottom: 20px;
  }
  .source-room-type-list {
    padding: 0;
    margin: 0 -15px;
    list-style: none;
    height: 250px;
    overflow-x: hidden;
    overflow-y: scroll;
    border-top: 1px solid #ddd;
  }
  .source-room-type-item {
    position: relative;
    padding: 10px;
    overflow: hidden;
    height: 100px;
  }
  .source-room-type-image {
    position: absolute;
    top: 10px;
    left: 10px;
  }
  .source-room-type-name {
    margin-left: 130px;
    font-size: 18px;
    line-height: 30px;
  }
  .source-room-type-type {
    margin-left: 130px;
    line-height: 23px;
  }
  .source-room-type-size {
    margin-left: 130px;
    line-height: 23px;
  }
  .source-room-type-price {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #ea7777;
    font-size: 14px;
  }
}
// 120x80
</style>
