<template>
  <div class="list-wrapper">
    <topbar fixed>
      <div slot="center">房源 ({{ currentCity }})</div>
    </topbar>
    <mu-flex class="menu" direction="row" justify-content="between">
      <div class="menu-item">
        <mu-button flat @click="openCityPicker">区域</mu-button>
      </div>
      <div class="menu-item">
        <mu-menu cover placement="bottom" :open.sync="openPriceMenu">
          <mu-button flat>价格</mu-button>
          <mu-list slot="content">
            <mu-list-item button @click="changePriceType(1)">
              <mu-list-item-title :class="{ active: priceType === 1 }">
                价格升序排列
              </mu-list-item-title>
            </mu-list-item>
            <mu-list-item button @click="changePriceType(2)">
              <mu-list-item-title :class="{ active: priceType === 2 }">
                价格降序排列
              </mu-list-item-title>
            </mu-list-item>
          </mu-list>
        </mu-menu>
      </div>
      <div class="menu-item">
        <mu-button flat :color="useMinDis ? 'primary' : ''" @click="changeMinDis">距离</mu-button>
      </div>
    </mu-flex>
    <whitespace v-for="source in sourceList" :key="source.id" @click="goDetail(source.id)">
      <mu-ripple>
        <my-image full-width :height="230" block type="sharp" :src="source.picture"></my-image>
        <div class="price">￥ {{ (getAverage(source.roomTypeList) | 0).toFixed(2) }}元/月</div>
        <div class="info">
          <div class="source">{{ source.name }}</div>
          <div class="room">
            <span>{{ source.roomTypeList.length }}个户型</span>
            <span>{{ source.roomList.length }}个房间</span>
          </div>
        </div>
        <div class="location">
          <mu-icon value="location_on" size="18"></mu-icon>
          <span>{{ source.location }}</span>
        </div>
      </mu-ripple>
    </whitespace>
    <empty-list-holder v-show="showListHolder">
      此处没有房源噢，换个地方找找吧~
    </empty-list-holder>
    <router-link :to="{ name: 'source-find' }" class="find">
      <span>地图找房</span>
      <mu-icon value="location_on" size="20"></mu-icon>
    </router-link>
    <city-picker ref="cityPicker" @change="cityPickerChange" @close="cityPickerClose"></city-picker>
  </div>
</template>

<script>
import { mapMutations, mapGetters } from 'vuex'
import * as mutationTypes from '@/store/mutation-types'
import BigNumber from 'bignumber.js'

export default {
  name: 'list',
  data: () => ({
    useMinDis: false,
    priceType: 0, // 0:无规则, 1:升序, 2:降序
    openPriceMenu: false,
    sourceList: [],
    distList: [], // 与sourcelist的index对应的距离数组
    currentCity: '',
    showListHolder: false
  }),
  computed: {
    ...mapGetters(['address'])
  },
  watch: {
    useMinDis (value) {
      if (!value || !this.address.complete) return
      this.sourceList.sort((a, b) => {
        const distA = this.calcDistance(a.coordinate, this.address.coordinate)
        const distB = this.calcDistance(b.coordinate, this.address.coordinate)
        return +distA.minus(distB)
      })
    },
    priceType (value) {
      if (value === 0) return
      this.sourceList.sort((a, b) => {
        const priceA = this.getAverage(a.roomTypeList)
        const priceB = this.getAverage(b.roomTypeList)
        return value === 1 ? priceA - priceB : priceB - priceA
      })
    },
    sourceList () {
      this.showListHolder = this.sourceList.length === 0
    }
  },
  methods: {
    parseValue (list) {
      return list.length === 0
        ? 0 // 防止产生 Infinity
        : Math.min(...list.map(item => item.price))
    },
    getAverage (list) {
      return list.reduce((pre, cur) => pre + cur.price, 0) / list.length
    },
    openCityPicker () {
      this.$refs.cityPicker.open()
    },
    cityPickerChange (address) {
      this.useMinDis = false
    },
    async cityPickerClose (address) {
      this.currentCity = address[1]
      this.useMinDis = false
      this.priceType = 0
      this.sourceList = await this.$api.source.getSourceList(this.currentCity)
    },
    changePriceType (type) {
      this.priceType = type
      this.useMinDis = false
      this.openPriceMenu = false
    },
    changeMinDis () {
      this.useMinDis = true
      this.priceType = 0
    },
    // 计算两坐标之间距离
    calcDistance (coor1, coor2) {
      const x1 = new BigNumber(coor1[0])
      const y1 = new BigNumber(coor1[1])
      const x2 = new BigNumber(coor2[0])
      const y2 = new BigNumber(coor2[1])
      return x1.minus(x2).pow(2).plus(y1.minus(y2).pow(2)).sqrt()
    },
    goDetail (id) {
      this.$router.push({ name: 'source-detail', query: { id } })
    },
    async initSourceList () {
      if (this.address.complete) {
        this.sourceList = await this.$api.source.getSourceList(this.address.city)
        this.currentCity = this.address.city
      } else {
        this.$root.$on('addressload', async _ => {
          this.sourceList = await this.$api.source.getSourceList(this.address.city)
          this.currentCity = this.address.city
        })
      }
    },
    ...mapMutations({
      showNav: mutationTypes.SHOW_NAV
    })
  },
  created () {
    this.showNav(true)
    this.initSourceList()
  }
}
</script>

<style lang="scss" scoped>
.list-wrapper {
  padding: 90px 0 56px;
}
.menu {
  position: fixed;
  top: 53px;
  left: 0;
  z-index: 20;
}
.menu-item {
  background-color: white;
  position: relative;
  border-bottom: 1px solid #ddd;
  &:not(:last-of-type) {
   border-right: 1px solid #ddd;
  }
  .mu-button {
    width: 33vw;
  }
}
.card {
  position: relative;
  margin-bottom: 10px;
  background-color: #fff;
  display: block;
}
.price {
  position: absolute;
  left: 0;
  top: 180px;
  background-color: #ea7777aa;
  border-radius: 0 15px 15px 0;
  line-height: 30px;
  padding: 0 15px 0 5px;
  color: #fff;
}
.info {
  padding: 10px 15px 0;
  line-height: 30px;
  .source {
    font-size: 18px;
    color: #333;
    display: inline-block;
  }
  .room {
    font-size: 14px;
    color: #666;
    display: inline-block;
    span {
      padding-left: 10px;
    }
  }
}
.location {
  color: #666;
  padding: 0 15px 10px;
  .mu-icon, span {
    vertical-align: middle;
  }
}
.find {
  padding: 5px 15px;
  line-height: 30px;
  z-index: 20;
  span, .mu-icon {
    vertical-align: middle;
  }
  background-color: #ffffff;
  position: fixed;
  right: 5px;
  bottom: 100px;
  border-radius: 30px;
  color: #333;
  border: 1px solid #333;
  transform: scale(1);
  opacity: 0.8;
}
.mu-item-title.active {
  color: #ea7777;
}
</style>
