<template>
  <div class="list-wrapper">
    <topbar fixed>
      <mu-button icon slot="left" @click="$router.go(-1)">
        <mu-icon value="chevron_left"></mu-icon>
      </mu-button>
      <div slot="center">推荐房源</div>
    </topbar>
    <whitespace v-for="item in list" :key="item.id" @click="goDetail(item.id)">
      <mu-ripple>
        <my-image full-width :height="230" block type="sharp" :src="item.picture"></my-image>
        <div class="price">￥ {{ (getAverage(item.roomTypeList) | 0).toFixed(2) }}元/月</div>
        <div class="info">
          <div class="source">{{ item.name }}</div>
          <div class="room">
           <span>{{ item.roomTypeList.length }}个户型</span>
            <span>{{ item.roomList.length }}个房间</span>
          </div>
        </div>
        <div class="location">
          <mu-icon value="location_on" size="18"></mu-icon>
          <span>{{ item.location }}</span>
        </div>
      </mu-ripple>
    </whitespace>
  </div>
</template>

<script>
import { mapMutations, mapGetters } from 'vuex'
import * as mutationTypes from '@/store/mutation-types'
import BigNumber from 'bignumber.js'

export default {
  name: 'list',
  data: () => ({
    list: []
  }),
  computed: {
    ...mapGetters(['address'])
  },
  methods: {
    arseValue (list) {
      return list.length === 0
        ? 0 // 防止产生 Infinity
        : Math.min(...list.map(item => item.price))
    },
    getAverage (list) {
      return list.reduce((pre, cur) => pre + cur.price, 0) / list.length
    },
    // 计算两坐标之间距离
    calcDistance (coor1, coor2) {
      const x1 = new BigNumber(coor1[0])
      const y1 = new BigNumber(coor1[1])
      const x2 = new BigNumber(coor2[0])
      const y2 = new BigNumber(coor2[1])
      return x1.minus(x2).pow(2).plus(y1.minus(y2).pow(2)).sqrt()
    },
    openCityPicker () {
      this.$refs.cityPicker.open()
    },
    cityPickerChange (address) {
      this.useMinDis = false
    },
    cityPickerClose (address) {
      // console.log(address)
    },
    changePriceType (type) {
      this.priceType = type
      this.useMinDis = false
      this.openPriceMenu = false
    },
    changeMinDis () {
      this.useMinDis = true
      this.priceType = 0
    },
    goDetail (id) {
      this.$router.push({ name: 'source-detail', query: { id } })
    },
    async initSourceList () {
      if (this.address.city === '') {
        this.$root.$on('addressload', async _ => {
          this.list = await this.$api.source.getRecommendSourceList(this.address.city)
        })
      } else {
        this.list = await this.$api.source.getRecommendSourceList(this.address.city)
      }
    },
    ...mapMutations({
      showNav: mutationTypes.SHOW_NAV
    })
  },
  created () {
    this.initSourceList()
    this.showNav(false)
  }
}
</script>

<style lang="scss" scoped>
.list-wrapper {
  padding: 53px 0 56px;
}
.menu {
  position: fixed;
  top: 53px;
  left: 0;
  z-index: 20;
}
.menu-item {
  background-color: white;
  position: relative;
  border-bottom: 1px solid #ddd;
  &:not(:last-of-type) {
   border-right: 1px solid #ddd;
  }
  .mu-button {
    width: 33vw;
  }
}
.card {
  position: relative;
  margin-bottom: 10px;
  background-color: #fff;
  display: block;
}
.price {
  position: absolute;
  left: 0;
  top: 180px;
  background-color: #ea7777aa;
  border-radius: 0 15px 15px 0;
  line-height: 30px;
  padding: 0 15px 0 5px;
  color: #fff;
}
.info {
  padding: 10px 15px 0;
  line-height: 30px;
  .source {
    font-size: 18px;
    color: #333;
    display: inline-block;
  }
  .room {
    font-size: 14px;
    color: #666;
    display: inline-block;
    span {
      padding-left: 10px;
    }
  }
}
.location {
  color: #666;
  padding: 0 15px 10px;
  .mu-icon, span {
    vertical-align: middle;
  }
}
.find {
  padding: 5px 15px;
  line-height: 30px;
  span, .mu-icon {
    vertical-align: middle;
  }
  background-color: #ffffff;
  position: fixed;
  right: 5px;
  bottom: 100px;
  border-radius: 30px;
  color: #333;
  border: 1px solid #333;
  transform: scale(0.8);
  opacity: 0.6;
}
.mu-item-title.active {
  color: #ea7777;
}
</style>
