<template>
  <div class="wrapper">
    <topbar fixed>
      <mu-button icon slot="left" @click="$router.go(-1)">
        <mu-icon value="chevron_left"></mu-icon>
      </mu-button>
      <div slot="center">预约看房</div>
    </topbar>
    <div class="source" v-show="form.sourceId !== -1">
      <my-image class="source-image" :width="120" :height="100" :src="source.picture"></my-image>
      <div class="source-info">
        <div class="source-name">{{ source.name }}</div>
        <div class="source-price">{{ source.priceMin }}元 - {{ source.priceMax }}元</div>
        <div class="source-location">
          <mu-icon value="location_on" size="18"></mu-icon>
          <span>{{ source.location }}</span>
        </div>
      </div>
    </div>
    <div class="form-container">
      <mu-form :model="form" class="form" ref="form">
        <h3>基本信息</h3>
        <mu-form-item prop="name" label="约看姓名" :rules="rulers.notEmpty" label-position="left">
          <mu-text-field v-model="form.name" underline-color="primary"></mu-text-field>
        </mu-form-item>
        <mu-form-item prop="phone" label="手机号码" :rules="rulers.phoneRule" label-position="left">
          <mu-text-field v-model="form.phone" type="number" underline-color="primary"></mu-text-field>
        </mu-form-item>
        <mu-form-item prop="dateStart" label="约看时间" :rules="rulers.notEmpty" label-position="left">
          <mu-date-input v-model="form.dateStart" type="dateTime" container="bottomSheet" label-float
            full-width underline-color="primary" color="primary" display-color="primary"
            :min-date="new Date()">
          </mu-date-input>
        </mu-form-item>
        <h3>更多信息<small>非必填项</small></h3>
        <mu-form-item prop="dateLive" label="期望入住时间" label-float>
          <mu-select v-model="form.dateLive" underline-color="primary">
            <mu-option v-for="option in options.dateLiveOptions" :key="option"
              :label="option" :value="option">
            </mu-option>
          </mu-select>
        </mu-form-item>
        <mu-form-item prop="budget" label="租房预算" label-float>
          <mu-select v-model="form.budget" underline-color="primary">
            <mu-option v-for="option in options.budgetOptions" :key="option"
              :label="option" :value="option">
            </mu-option>
          </mu-select>
        </mu-form-item>
        <mu-form-item prop="typeId" label="意向户型" label-float>
          <mu-select v-model="form.typeId" underline-color="primary">
            <mu-option v-for="option in source.roomTypeList" :key="option.id"
              :label="option.name" :value="option.id">
            </mu-option>
          </mu-select>
        </mu-form-item>
        <mu-form-item prop="content" label="意向楼层或朝向" label-float>
          <mu-text-field v-model="form.content" underline-color="primary" max-length="20"></mu-text-field>
        </mu-form-item>
      </mu-form>
      <div class="submit-wrapper">
        <mu-button @click="submit" class="submit" large full-width color="primary">立即预约</mu-button>
      </div>
    </div>
  </div>
</template>

<script>
import { mapMutations, mapGetters } from 'vuex'
import * as mutationTypes from '@/store/mutation-types'
import { isNotEmpty, isPhone } from '@/utils/utils'

export default {
  name: 'ReserveAdd',
  data: () => ({
    source: {
      name: '0',
      priceMin: 0,
      priceMax: 0,
      location: '',
      roomTypeList: []
    },
    options: {
      dateLiveOptions: [
        '立即入住', '一周内入住', '一个月内入住', '我只是想看看'
      ],
      budgetOptions: [
        '1500元以下', '1500-3000元', '3000元-5000元', '5000元以上'
      ]
    },
    rulers: {
      notEmpty: [
        { validate: isNotEmpty, message: '必须填写内容!' }
      ],
      phoneRule: [
        { validate: isNotEmpty, message: '必须填写内容!' },
        { validate: isPhone, message: '请填写正确的手机号!' }
      ]
    },
    form: {
      name: '',
      phone: '',
      dateStart: '',
      dateLive: '',
      budget: '',
      typeId: '',
      content: '',
      sourceId: -1
    }
  }),
  computed: {
    ...mapGetters(['user'])
  },
  methods: {
    async submit () {
      if (await this.$refs.form.validate()) {
        if ((await this.$confirm('你确定要提交预约吗 ?', '提醒')).result) {
          try {
            const timestamp = this.form.dateStart.getTime()
            const form = JSON.parse(JSON.stringify(this.form))
            form.dateStart = this.form.dateStart.getTime()
            form.date = timestamp
            await this.$api.reservation.addReservation(form)
            this.$toast.message('提交成功!')
            this.$router.replace({ name: 'reserve-list' })
          } catch (err) {
            this.$toast.message(err.message)
          }
        }
      }
    },
    async getSource () {
      const id = this.$route.query.id
      if (typeof id === 'undefined') {
        return this.$router.replace({ name: 'home' })
      }
      this.form.sourceId = id
      this.source = await this.$api.source.getSourceById(id)
      this.source.roomTypeList.forEach(roomType => {
        if (roomType.name === this.$route.query.roomType) {
          this.form.typeId = roomType.id
        }
      })
    },
    ...mapMutations({
      showNav: mutationTypes.SHOW_NAV
    })
  },
  created () {
    this.showNav(false)
    this.form.name = this.user.name || ''
    this.form.phone = this.user.phone || ''
    // this.form.typeId = this.$route.query.roomType || ''
    this.getSource()
  }
}
</script>

<style lang="scss" scoped>
.wrapper {
  padding: 53px 0 15px;
}
.source {
  margin: 15px;
  border-radius: 10px;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.1);
  background-color: white;
  padding: 10px;
  display: flex;
  align-items: center;
  .source-image {
    flex-grow: 0;
    flex-shrink: 0;
  }
  .source-info {
    display: flex;
    justify-content: space-around;
    flex-flow: column nowrap;
    padding-left: 10px;
    height: 100px;
    flex-grow: 1;
    flex-shrink: 1;
  }
  .source-price {
    color: #ea7777;
  }
  .source-location {
    color: #666;
    display: flex;
    font-size: 12px;
    line-height: 20px;
    span {
      margin-left: 3px;
    }
  }
}
.form-container {
  padding: 10px 25px;
  background-color: white;
  h3 {
    font-size: 18px;
    padding: 0 7px;
    margin: 10px 0 10px -10px;
    line-height: 20px;
    border-left: 3px solid #ea7777;
    small {
      font-size: 14px;
      margin-left: 8px;
      font-weight: normal;
      color: #999;
    }
  }
}
.submit-wrapper {
  margin: 0 -10px;
}
</style>
