<template>
  <div class="wrapper">
    <topbar fixed>
      <mu-button icon slot="left" @click="$router.go(-1)">
        <mu-icon value="chevron_left"></mu-icon>
      </mu-button>
      <div slot="center">预约详情</div>
    </topbar>
    <whitespace class="reservation" margin="15px" padding="10px" radius shadow>
      <my-image class="reservation-cover" :width="120" :height="80"
        :src="reservation.source.picture">
      </my-image>
      <div class="reservation-info">
        <div class="reservation-date">{{ $f(reservation.dateStart, 'YYYY年MM月DD日 HH:mm') }}</div>
        <div class="reservation-name">{{ reservation.source.name }}</div>
        <div class="reservation-location">
          <mu-icon value="location_on" size="18"></mu-icon>
          <span>{{ reservation.source.location }}</span>
        </div>
      </div>
      <mu-badge class="reservation-status" :color="reservation.status === 0 ? 'primary' : ''"
        :content="['已预约', '已结束', '未赴约'][reservation.status]">
      </mu-badge>
    </whitespace>
    <whitespace margin="0 15px 15px" padding="10px" shadow radius>
      <div class="title">预约信息</div>
      <ul class="infos">
        <li class="info">
          <span>状态:</span>
          <span>{{ ['已预约', '已结束', '未赴约', '取消预约'][reservation.status] }}</span>
        </li>
        <li class="info">
          <span>房源:</span>
          <span>{{ reservation.source.name }}</span>
        </li>
        <li class="info" v-if="!!reservation.roomType">
          <span>意向户型:</span>
          <span>{{ reservation.roomType.name }}</span>
        </li>
        <li class="info" v-if="reservation.dateLive !== ''">
          <span>期望入住时间:</span>
          <span>{{ reservation.dateLive }}</span>
        </li>
        <li class="info" v-if="reservation.budget !== ''">
          <span>租房预算:</span>
          <span>{{ reservation.budget }}</span>
        </li>
        <li class="info" v-if="reservation.content !== ''">
          <span>意向楼层或朝向:</span>
          <span>{{ reservation.content }}</span>
        </li>
        <li class="info">
          <span>约看人:</span>
          <span>{{ reservation.name }}</span>
        </li>
        <li class="info">
          <span>手机号码:</span>
          <span>{{ reservation.phone }}</span>
        </li>
        <li class="info">
          <span>约看时间:</span>
          <span>{{ $f(reservation.dateStart, 'YYYY年MM月DD日 HH:mm') }}</span>
        </li>
        <li class="info">
          <span>预约发起时间:</span>
          <span>{{ $f(reservation.date, 'YYYY年MM月DD日 HH:mm') }}</span>
        </li>
      </ul>
    </whitespace>
    <div class="btn-wrapper" v-if="reservation.status === 0">
      <mu-button color="primary" full-width large @click="cancel">取消预约</mu-button>
    </div>
  </div>
</template>

<script>
import { mapMutations, mapGetters } from 'vuex'
import * as mutationTypes from '@/store/mutation-types'

export default {
  name: 'ReserveDetail',
  data: () => ({
    reservation: {
      source: {},
      roomType: {},
      status: -1
    }
  }),
  computed: {
    ...mapGetters(['user'])
  },
  methods: {
    async initReserve () {
      const id = this.$route.query.id
      try {
        this.reservation = await this.$api.reservation.getReservationById(id)
        if (this.reservation.userId !== this.user.id) {
          throw new Error('无法加载预约详情')
        }
      } catch (err) {
        this.$toast.message(err.message)
        this.$router.replace({ name: 'home' })
      }
    },
    async cancel () {
      const { result } = await this.$confirm('确定要取消预约吗？')
      if (result === false) return
      try {
        await this.$api.reservation.cancelReserve(this.reservation.id)
        this.$toast.message('取消预约成功')
        this.$router.replace({ name: 'reserve-list' })
      } catch (err) {
        this.$toast.message(err.message)
      }
    },
    ...mapMutations({
      showNav: mutationTypes.SHOW_NAV
    })
  },
  created () {
    this.showNav(false)
    this.initReserve()
  }
}
</script>

<style lang="scss" scoped>
.wrapper {
  padding: 53px 0 15px;
}
.reservation {
  display: flex;
  align-items: flex-start;
  .reservation-cover {
    flex-shrink: 0;
  }
  .reservation-info {
    margin-left: 10px;
    display: flex;
    flex-flow: column nowrap;
  }
  .reservation-status {
    position: absolute;
    top: 10px;
    right: 10px;
  }
  .reservation-date {
    font-size: 12px;
    color: #666;
    line-height: 20px;
  }
  .reservation-name {
    font-size: 16px;
    line-height: 25px;
  }
  .reservation-location {
    font-size: 12px;
    color: #666;
    .mu-icon, span {
      vertical-align: middle;
    }
    span {
      margin-left: 3px;
    }
  }
}
.title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}
.infos {
  padding: 0;
  margin: 0;
  list-style: none;
  .info {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    &:not(:last-of-type) {
      border-bottom: 1px solid #eee;
    }
    span:first-of-type {
      width: 110px;
      flex-shrink: 0;
      margin-right: 20px;
    }
    span:last-of-type {
      flex-grow: 1;
      text-align: right;
    }
  }
}
.btn-wrapper {
  padding: 15px;
}
</style>
