<template>
  <div class="wrapper">
    <topbar fixed>
      <mu-button icon slot="left" @click="$router.go(-1)">
        <mu-icon value="chevron_left"></mu-icon>
      </mu-button>
      <div slot="center">我的预约</div>
      <mu-button icon slot="right" @click="$router.push({ name: 'source-list' })">
        <mu-icon value="add"></mu-icon>
      </mu-button>
    </topbar>
    <ul class="list">
      <li class="item" v-for="item in reservationList" :key="item.id">
        <mu-ripple @click="goDetail(item.id)">
          <mu-flex align-items="start">
            <my-image class="item-cover" :width="120" :height="80" :src="item.source.picture"></my-image>
            <div class="item-info">
              <div class="item-date">{{ $f(item.dateStart, 'YYYY年MM月DD日 HH:mm') }}</div>
              <div class="item-name">{{ item.source.name }}</div>
              <div class="item-location">
                <mu-icon value="location_on" size="18"></mu-icon>
                <span>{{ item.source.location }}</span>
              </div>
            </div>
            <mu-badge class="item-status" :color="item.status === 0 ? 'primary' : ''"
              :content="['已预约', '已结束', '未赴约', '取消预约'][item.status]">
            </mu-badge>
          </mu-flex>
        </mu-ripple>
      </li>
    </ul>
    <empty-list-holder v-if="showListHolder">
      还没有预约噢, 赶快去预约吧~
    </empty-list-holder>
  </div>
</template>

<script>
import { mapMutations } from 'vuex'
import * as mutationTypes from '@/store/mutation-types'

export default {
  name: 'ReserveList',
  data: () => ({
    reservationList: [],
    showListHolder: false
  }),
  methods: {
    goDetail (id) {
      this.$router.push({ name: 'reserve-detail', query: { id } })
    },
    async getReservationList () {
      const list = await this.$api.reservation.getReservationList()
      this.reservationList = list
      this.showListHolder = list.length === 0
    },
    ...mapMutations({
      showNav: mutationTypes.SHOW_NAV
    })
  },
  created () {
    this.showNav(true)
    this.getReservationList()
  }
}
</script>

<style lang="scss" scoped>
.wrapper {
  padding: 53px 0 56px;
}
.list {
  padding: 15px;
  margin: 0;
  list-style: none;
}
.item {
  background-color: white;
  margin-bottom: 20px;
  border-radius: 10px;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.1);
  position: relative;
  padding: 10px;
  overflow: hidden;
  .item-cover {
    flex-shrink: 0;
  }
  .item-info {
    margin-left: 10px;
    display: flex;
    flex-flow: column nowrap;
  }
  .item-status {
    position: absolute;
    top: 10px;
    right: 10px;
  }
  .item-date {
    font-size: 12px;
    color: #666;
    line-height: 20px;
  }
  .item-name {
    font-size: 16px;
    line-height: 25px;
  }
  .item-location {
    font-size: 12px;
    color: #666;
    .mu-icon, span {
      vertical-align: middle;
    }
    span {
      margin-left: 3px;
    }
  }
}
</style>
