<template>
  <div class="wrapper">
    <div class="center">
      <img :src="IMG404" class="img-404">
      <button class="btn" @click="$router.go(-1)">
        <img :src="goBack" class="font">
      </button>
    </div>
  </div>
</template>

<script>
import { mapMutations } from 'vuex'
import * as mutationTypes from '@/store/mutation-types'
import IMG404 from '@/assets/images/404.png'
import goBack from '@/assets/images/fonts/返回上一页.png'

export default {
  name: 'E404',
  data: () => ({
    IMG404,
    goBack
  }),
  methods: {
    ...mapMutations({
      showNav: mutationTypes.SHOW_NAV
    })
  },
  created () {
    this.showNav(false)
  }
}
</script>

<style lang="scss" scoped>
html, body, #app {
  overflow: hidden;
}
.wrapper {
  position: relative;
  width: 100vw;
  height: 100vh;
  background-color: #EA7777;
}
.center {
  position: absolute;
  left: 50%;
  top: 45%;
  transform: translate(-50%, -50%);
  padding: 0 10vw;
  width: 100%;
}
.img-404 {
  width: 100%;
  margin-bottom: 5vh;
}
.btn {
  background: rgb(97, 97, 97);
  color: white;
  border: 3px solid #eee;
  border-radius: 40px;
  box-sizing: 100%;
  width: 100%;
  display: block;
  line-height: 40px;
  transition: 0.2;
  .font {
    height: 18px;
    vertical-align: middle;
  }
}
.btn:active {
  background-color: rgb(73, 73, 73);
}
</style>
