<template>
  <mu-bottom-nav v-show="navDisplay">
    <mu-bottom-nav-item value="home" :to="{ name: 'home' }"
      replace title="首页" icon="home">
    </mu-bottom-nav-item>
    <mu-bottom-nav-item value="source" :to="{ name: 'source-list' }"
      replace title="房源" icon="view_list">
    </mu-bottom-nav-item>
    <mu-bottom-nav-item value="community" :to="{ name: 'community' }"
      replace title="发现" icon="forum">
    </mu-bottom-nav-item>
    <mu-bottom-nav-item value="profile" :to="{ name: 'profile-info' }"
      replace title="我的" icon="account_box">
    </mu-bottom-nav-item>
  </mu-bottom-nav>
</template>

<script>
import { mapGetters } from 'vuex'

export default {
  name: 'AppFooter',
  computed: {
    ...mapGetters(['navDisplay'])
  }
}
</script>

<style lang="scss" scoped>
.mu-bottom-item.mu-bottom-item-active {
  color: #ea7777;
}
.mu-bottom-nav {
  border-top: 1px solid #eeeeee;
}
.mu-bottom-nav .router-link-active {
  color: #ea7777;
}
</style>
