<template>
  <!-- 浏览器优化 -->
  <h1 class="hidden">艾住 - 城市青年家</h1>
</template>

<script>
export default {
  name: 'AppHeader'
}
</script>

<style lang="scss" scoped>
.hidden {
  display: none;
}
</style>
