<template>
  <div class="empty-listholder">
    <img :src="src" alt="cant find" class="empty-listholder__image">
    <div class="empty-listholder__text">
      <slot>{{ text }}</slot>
    </div>
  </div>
</template>

<script>
import find from '@/assets/images/sakamoto/find.png'

export default {
  name: 'EmptyListHolder',
  props: {
    text: {
      type: String,
      default: '没有数据'
    }
  },
  data: () => ({
    src: find
  })
}
</script>

<style lang="scss">
.empty-listholder {
  padding: 30px 70px;
  .empty-listholder__image {
    width: 100%;
  }
  .empty-listholder__text {
    text-align: center;
    margin-top: 20px;
    font-size: 14px;
    color: #666;
    p {
      margin: 0;
      padding-bottom: 2px;
    }
  }
}
</style>
