<template>
  <div class="image-uploader" :style="styleRoot">
    <div class="empty" @click="openFileSys" v-show="!value"></div>
    <!-- <img class="display" :src="value" v-show="!!value"> -->
    <div class="image-container" v-if="!!value">
      <my-image :src="value" type="sharp" :width="width" :height="height"></my-image>
    </div>
    <input type="file" ref="file" @change="fileChange">
    <div class="delete" @click="deleteImage" v-show="!!value">
      <mu-icon value="highlight_off" color="primary" size="40"></mu-icon>
    </div>
  </div>
</template>

<script>
import { parseStyle } from '@/utils/utils'

export default {
  name: 'ImageUploader',
  props: {
    value: {
      type: String,
      default: ''
    },
    width: {
      type: Number,
      default: 150
    },
    height: {
      type: Number,
      default: 150
    }
  },
  computed: {
    styleRoot () {
      return parseStyle({
        width: this.width + 'px',
        height: this.height + 'px'
      })
    }
  },
  methods: {
    openFileSys () {
      this.$root.$emit('openPictureUploader', '上传图片')
    },
    fileChange (url) {
      this.$emit('input', url)
    },
    deleteImage () {
      this.$emit('input', '')
      this.$refs.file.value = ''
    }
  },
  created () {
    this.$root.$on('pictureUploadComplete', this.fileChange)
  },
  beforeDestroy () {
    this.$root.$off('pictureUploadComplete', this.fileChange)
  }
}
</script>

<style lang="scss">
.image-uploader {
  width: 150px;
  height: 150px;
  position: relative;
  display: inline-block;
  margin: 7px 0;
  box-sizing: content-box;
  .image-container {
    overflow: hidden;
    border-radius: 10px;
    width: 100%;
    height: 100%;
    border: 1px solid #bdbdbd;
    border-radius: 10px;
    box-sizing: content-box;
  }
  input {
    display: none;
  }
  .delete {
    position: absolute;
    top: -10px;
    right: -10px;
    background: white;
    border-radius: 100%;
    .mu-icon {
      display: block;
    }
  }
  .empty {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    border: 1px solid #bdbdbd;
    box-sizing: content-box;
    background-color: #eee;
    &::before {
      content: '';
      position: absolute;
      width: 40px;
      height: 1px;
      background-color: #bdbdbd;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      border-radius: 1px;
    }
    &::after {
      content: '';
      position: absolute;
      width: 1px;
      height: 40px;
      background-color: #bdbdbd;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      border-radius: 1px;
    }
  }
}
</style>
