<template>
  <div class="image"
       ref="container"
       :style="styleContainer"
       :class="classRoot">
    <img class="image__element"
         v-if="lazy"
         ref="img"
         v-lazy="parseImage(src)"
         src=""
         :alt="alt"
         :style="styleImage">
    <img class="image__element"
         v-else ref="img"
         :src="parseImage(src)"
         :alt="alt"
         :style="styleImage">
    <slot></slot>
  </div>
</template>

<script>
import defaultPicture from '@/assets/images/default.png'
import { parseImage } from '@/utils/utils'

export default {
  name: 'MyImage',
  props: {
    src: {
      type: String,
      default: defaultPicture
    },
    alt: {
      type: String,
      default: 'img'
    },
    width: {
      type: Number,
      default: 150
    },
    height: {
      type: Number,
      default: 113
    },
    animated: {
      type: Boolean,
      default: false
    },
    mask: {
      type: Boolean,
      default: false
    },
    scale: {
      type: Boolean,
      default: false
    },
    type: {
      type: String,
      default: 'rectangle' // round, rectangle, sharp
    },
    border: {
      type: Boolean,
      default: false
    },
    background: {
      type: Boolean,
      default: true
    },
    lazy: {
      type: Boolean,
      default: false
    },
    fullWidth: {
      type: Boolean,
      default: false
    },
    absolute: {
      type: Boolean,
      default: false
    },
    block: {
      type: Boolean,
      default: false
    }
  },
  data: () => ({
    imgWidth: 0,
    imgHeight: 0,
    containerWidth: 0,
    styleContainer: '',
    styleImage: '',
    test: 0,
    loading: true // 图片正在加载
  }),
  computed: {
    classRoot () {
      const classList = []
      this.animated && classList.push('image--animated')
      this.mask && classList.push('image--mask')
      this.scale && classList.push('image--scale')
      this.border && classList.push('image--border')
      this.background && classList.push('image--background')
      this.loading && classList.push('image--loading')
      this.absolute && classList.push('image--absolute')
      this.block && classList.push('image--block')
      classList.push('image--' + this.type)
      return classList.join(' ')
    }
  },
  watch: {
    width () {
      this.setWidth()
    },
    height () {
      this.calcStyle()
    },
    fullWidth () {
      this.setWidth()
    },
    containerWidth () {
      this.calcStyle()
    }
  },
  methods: {
    getImageSize () {
      this.imgWidth = this.$refs.img.clientWidth
      this.imgHeight = this.$refs.img.clientHeight
    },
    onLoad () {
      this.loading = false
      this.getImageSize()
      this.$emit('load')
      this.calcStyle()
    },
    setWidth () {
      const offsetWidth = this.$refs.container.parentNode.offsetWidth
      this.containerWidth = this.fullWidth ? offsetWidth : this.width
    },
    calcStyle () {
      this.styleContainer = {
        width: this.containerWidth + 'px',
        height: this.height + 'px'
      }
      this.styleImage = (
        this.containerWidth / this.height > this.imgWidth / this.imgHeight
          ? { width: '101%' }
          : { height: '101%' } // 多1%是为了消除奇数屏幕产生的1px白边
      )
    },
    parseImage
  },
  mounted () {
    this.setWidth()
    this.$refs.img.addEventListener('load', this.onLoad, false)
  },
  beforeDestroy () {
    this.$refs.img.removeEventListener('load', this.onLoad, false)
  }
}
</script>

<style lang="scss">
.image {
  overflow: hidden;
  display: inline-block;
  position: relative;
  z-index: 0;
  vertical-align: baseline;
  box-sizing: border-box;
  background-color: transparent;
  .image__element {
    border-radius: 3px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateY(-50%) translateX(-50%);
    display: block;
  }
  &.image--loading::after {
    content: "";
    width: 100%;
    height: 100%;
    background-color: #eee;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 100;
  }
  &.image--background {
    background-color: #eee;
  }
  &.image--mask:not(.image--loading)::before {
    content: "";
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    position: absolute;
    left: 0;
    top: 0;
    z-index: 10;
  }
  &.image--animated .image__element {
    transition: 0.2s;
  }
  &.image--scale:hover .image__element {
    transform: translateY(-50%) translateX(-50%) scale(1.1);
  }
  &.image--rectangle {
    border-radius: 3px;
  }
  &.image--sharp {
    border-radius: 0;
  }
  &.image--round {
    border-radius: 100%;
  }
  &.image--border {
    border: 1px solid #eee;
  }
  &.image--absolute {
    position: absolute;
  }
  &.image--block {
    display: block;
  }
}
</style>
