<template>
  <div class="rowlist" :class="{ 'rowlist--simple': simple }">
    <div class="rowlist__title">{{ title }}</div>
    <div class="rowlist__sub-title">{{ subTitle }}</div>
    <div class="rowlist__list-wrapper">
      <ul class="rowlist__list">
        <li class="rowlist__item" v-for="(item, index) in data" :key="item.id">
          <mu-ripple @click="clickItem(index)">
            <my-image :src="item.picture || item.cover || item.avatar"
              :width="220" :height="140" block :mask="simple">
            </my-image>
            <div class="rowlist__item-name">
              {{ item.name || item.title || '未命名' }}
            </div>
          </mu-ripple>
        </li>
      </ul>
    </div>
    <div class="rowlist__more" @click="clickMore">
      <mu-button flat small textColor="#999">更多 ></mu-button>
    </div>
  </div>
</template>

<script>
import defaultPicture from '@/assets/images/default.png'

export default {
  name: 'Rowlist',
  props: {
    title: {
      type: String,
      default: '无标题'
    },
    subTitle: {
      type: String,
      default: '无二级标题'
    },
    data: {
      type: Array,
      default: () => []
    },
    simple: {
      type: Boolean,
      default: false
    }
  },
  data: () => ({
    defaultPicture
  }),
  methods: {
    clickMore () {
      this.$emit('clickmore')
    },
    clickItem (index) {
      this.$emit('clickitem', index)
    }
  }
}
</script>

<style lang="scss">
@import '~@/assets/scss/variable.scss';
@import '~@/assets/scss/mixin.scss';

.rowlist {
  padding: 15px;
  position: relative;
}
.rowlist__title {
  color: #333;
  font-size: 18px;
  font-weight: bold;
  line-height: 30px;
}
.rowlist__sub-title {
  color: #999;
  line-height: 20px;
}
.rowlist__list-wrapper {
  overflow-x: scroll;
  overflow-y: hidden;
  margin: 0 -15px;
  &::-webkit-scrollbar {
    display: none;
  }
}
.rowlist__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-flow: row nowrap;
}
.rowlist__item {
  position: relative;
  padding: 15px 15px 10px;
  &:not(:first-of-type) {
    margin-left: -15px;
  }
}
.rowlist__item-name {
  padding-top: 10px;
  line-height: 20px;
  width: 220px;
  @include oneLineOverflow;
}
.rowlist__more {
  position: absolute;
  right: 0;
  top: 15px;
  overflow: hidden;
}
.rowlist--simple {
  padding: 0;
  .rowlist__item {
    padding: 15px;
  }
  .rowlist__title, .rowlist__sub-title {
    display: none;
  }
  .rowlist__more {
    top: -35px;
    right: -15px;
  }
  .rowlist__item-name {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: #eee;
    text-align: center;
    font-size: 34px;
    line-height: 40px;
    z-index: 99;
    text-shadow: 2px 2px 5px rgba($color: #000000, $alpha: 0.5);
    padding: 0;
  }
}
</style>
