<template>
  <div ref="wrapper">
    <div class="wrap">
      <slot></slot>
    </div>
  </div>
</template>

<script>
import BetterScroll from 'better-scroll'

export default {
  name: 'Scroll',
  mounted () {
    // 保证在DOM渲染完毕后初始化better-scroll
    this.$nextTick(() => {
      this.initScroll()
    })
  },
  methods: {
    initScroll () {
      // better-scroll的初始化
      this.scroll = new BetterScroll(this.$refs.wrapper, {
        probeType: 1,
        click: true,
        scrollX: false
      })

      // 是否派发滚动事件
      this.scroll.on('scroll', (pos) => {
        this.$emit('scroll', pos)
      })

      // 是否派发滚动到底部事件，用于上拉加载
      this.scroll.on('pullingUp', () => {
        this.$emit('pullingUp')
      })

      // 是否派发顶部下拉事件，用于下拉刷新
      this.scroll.on('pullingDown', () => {
        this.$emit('pullingDown')
      })

      // 是否派发列表滚动开始的事件
      this.scroll.on('beforeScrollStart', () => {
        this.$emit('beforeScroll')
      })
    },
    disable () {
      // 代理better-scroll的disable方法
      this.scroll && this.scroll.disable()
    },
    enable () {
      // 代理better-scroll的enable方法
      this.scroll && this.scroll.enable()
    },
    refresh () {
      // 代理better-scroll的refresh方法
      this.scroll && this.scroll.refresh()
    },
    scrollTo () {
      // 代理better-scroll的scrollTo方法
      this.scroll && this.scroll.scrollTo.apply(this.scroll, arguments)
    },
    scrollToElement () {
      // 代理better-scroll的scrollToElement方法
      this.scroll && this.scroll.scrollToElement.apply(this.scroll, arguments)
    }
  }
}
</script>
