<template>
  <div class="topbar" :class="rootClass">
    <div class="topbar__left">
      <slot name="left"></slot>
    </div>
    <div class="topbar__center">
      <slot name="center"></slot>
    </div>
    <div class="topbar__right">
      <slot name="right"></slot>
    </div>
  </div>
</template>

<script>
export default {
  name: 'Topbar',
  props: {
    fixed: {
      type: Boolean,
      default: false
    },
    transparent: {
      type: Boolean,
      default: false
    }
  },
  computed: {
    rootClass () {
      const classList = []
      this.fixed && classList.push('topbar--fixed')
      this.transparent && classList.push('topbar--fixed')
      return classList.join(' ')
    }
  }
}
</script>

<style lang="scss">
.topbar {
  font-size: 18px;
  color: #333;
  height: 53px;
  background-color: #fff;
  padding: 2px;
  box-sizing: border-box;
  border-bottom: 1px solid #ddd;
  position: relative;
}
.topbar--fixed {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2019;
  width: 100%;
}
.topbar__left {
  position: absolute;
  left: 2px;
  top: 2px;
}
.topbar__right {
  position: absolute;
  right: 2px;
  top: 2px;
}
.topbar__center {
  text-align: center;
  margin: 0 50px;
  line-height: 48px;
}
</style>
