<template>
  <div class="wave">
    <div class="wave__wrapper wave__wrapper--top" :style="BgColor">
      <div class="wave__element waveTop" :style="bg(waveTop)"></div>
    </div>
    <div class="wave__wrapper wave__wrapper--middle" :style="BgColor">
      <div class="wave__element waveMiddle" :style="bg(waveMiddle)"></div>
    </div>
    <div class="wave__wrapper wave__wrapper--bottom" :style="BgColor">
      <div class="wave__element waveBottom" :style="bg(waveBottom)"></div>
    </div>
  </div>
</template>

<script>
import waveTop from '@/assets/images/wave/top.png'
import waveMiddle from '@/assets/images/wave/middle.png'
import waveBottom from '@/assets/images/wave/bottom.png'

export default {
  name: 'Wave',
  props: {
    color: {
      type: String,
      default: '#ea7777'
    }
  },
  data: () => ({
    waveTop,
    waveMiddle,
    waveBottom
  }),
  computed: {
    BgColor () {
      return `background-color: ${this.color}`
    }
  },
  methods: {
    bg: url => `background-image: url('${url}')`
  }
}
</script>

<style lang="scss">
@keyframes wave-moving {
  0% {
    transform: translateX(0) translateZ(0) scaleY(1)
  }
  50% {
    transform: translateX(-25%) translateZ(0) scaleY(0.55)
  }
  100% {
    transform: translateX(-50%) translateZ(0) scaleY(1)
  }
}
.wave {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 30px;
}
.wave__wrapper {
  position: absolute;
  width: 100%;
  overflow: hidden;
  height: 100%;
  bottom: 0;
}
.wave__wrapper--top {
  z-index: 3;
  opacity: 0.5;
}
.wave__wrapper--middle {
  z-index: 2;
  opacity: 0.75;
}
.wave__wrapper--bottom {
  z-index: 1;
}
.wave__element {
  position: absolute;
  left: 0;
  width: 200%;
  height: 100%;
  background-repeat: repeat no-repeat;
  background-position: 0 bottom;
  transform-origin: center bottom;
}
.wave__wrapper--top .wave__element {
  background-size: 50% 25px;
  animation: wave-moving 3s linear infinite;
}
.wave__wrapper--middle .wave__element {
  background-size: 50% 30px;
  animation: wave-moving 10s linear infinite;
}
.wave__wrapper--bottom .wave__element {
  background-size: 50% 25px;
  animation: wave-moving 15s linear infinite;
}
</style>
