<template>
  <div class="whitespace" :class="classRoot" :style="display" @click="$emit('click')">
    <slot></slot>
  </div>
</template>

<script>
import { parseStyle } from '@/utils/utils'

export default {
  name: 'Whitespace',
  props: {
    padding: {
      type: String,
      default: '0'
    },
    margin: {
      type: String,
      default: '0 0 10px 0'
    },
    shadow: {
      type: Boolean,
      default: false
    },
    radius: {
      type: Boolean,
      default: false
    }
  },
  computed: {
    display () {
      return parseStyle({
        'padding': this.padding,
        'margin': this.margin
      })
    },
    classRoot () {
      const classList = []
      this.shadow && classList.push('whitespace--shadow')
      this.radius && classList.push('whitespace--radius')
      return classList
    }
  }
}
</script>

<style lang="scss" scoped>
.whitespace {
  position: relative;
  background-color: white;
  z-index: 5;
}
.whitespace--shadow {
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.1);
}
.whitespace--radius {
  border-radius: 10px;
}
</style>
